.badge_content{
	padding : 30px !important;
}

.badge_content > header > h1{
	width       : 135px;
	height      : 50px;
	background  : #00A0E8;
	color       : #FFFFFF;
	text-align  : center;
	line-height : 50px;
	font-size   : 14px;
	font-family : "Helvitica Neue", Helvetica, Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}

.badge_content > header{
	margin-bottom : 20px;
}

.badge_box{
	width : 100%;
}

.cart_view{
	overflow         : hidden;
	position         : relative;
	z-index          : 2;
	line-height      : 1.6;
	background-color : rgba(0, 0, 0, .2);
	border           : 1px solid #E1E1E1;
	border-radius    : 5px;
	float            : left;
	/*	background-image : url("../../Images/Common/bg.jpg");*/
	background-size  : 100% 100%;
}

.ui-widget-content{
	background : none !important;
	color      : #FFFFFF;
	border     : none;
}

.ui-widget-content:hover{
	border : 1px dashed rgba(0, 160, 232, 1) !important;
	cursor : move;
}

.cart_set{
	background    : #ECF1F4;
	float         : left;
	padding       : 20px;
	border-radius : 5px;
	margin-top    : 20px;
}

.cart_set h2{
	font-size : 18px;
	margin    : 20px 0;
}

.choose_type{
	padding : 10px;
}

.template{
	padding : 10px;
}

.form_li{
	margin : 10px 0;
}

.form_li .title{
	font-weight : bold;
}

.bg_up_file{
	position    : relative;
	text-align  : center;
	line-height : 40px;
	width       : 100%;
	height      : 40px;
	border      : 1px dashed rgba(0, 0, 0, .2);
	background  : #FFFFFF;
	margin      : 10px 0;
}

#updateBackground{
	position : absolute;
	width    : 100%;
	height   : 100%;
	opacity  : 0;
}

#submit_bg{
	position : absolute;
	opacity  : 0;
}

.size input{
	width      : 60px;
	height     : 30px;
	text-align : center;
}

.size_confirm{
	margin-left : 20px;
	margin-top  : -2px;
}

.vote_list li{
	float      : left;
	padding    : 10px;
	margin     : 5px;
	background : #FFFFFF;
	cursor     : pointer;
}

.vote_list li.keyword{
	color  : #428BCA;
	border : 1px dotted #428BCA;
}

.vote_list li.no_choose{
	color  : rgba(0, 0, 0, .3);
	border : none;
}

.vote_list li.no_choose i{
	display : none;
}

.vote_list i{
	color       : rgba(0, 0, 0, .3);
	font-weight : bold;
	margin-left : 5px;
}

/** 默认的胸卡模板 **/

.block_slide{
	width      : 100%;
	padding    : 10px;
	background : #FFFFFF;
	border     : 1px solid rgba(0, 0, 0, .25);
	overflow-x : auto;
}

.block_slide .item{
	position         : relative;
	width            : 150px;
	height           : 250px;
	overflow         : hidden;
	float            : left;
	border           : 1px solid rgba(0, 0, 0, .12);
	background-color : #FFFFFF;
	margin-right     : 10px;
}

.block_slide .item.active{
	border-color : #00A0E8;
}

.block_slide .item.active .select_icon{
	display : block;;
}

.block_slide .item .select_icon{
	display     : none;
	width       : 25px;
	height      : 25px;
	position    : absolute;
	line-height : 25px;
	text-align  : center;
	color       : #FFFFFF;
	left        : 1px;
	top         : 1px;
	background  : #00A0E8;
}



