/**
 * Created by 1195 on 2016-12-12.
 */
.background{
	position : relative;
	width    : 100%;
	height   : 100%;
	overflow : hidden;
	top      : 0;
	left     : 0;
}

#mt_success{
	position    : absolute;
	width       : 100%;
	height      : 100%;
	z-index     : 999;
	color       : red;
	font-size   : 40px;
	text-align  : center;
	padding-top : 50px;
}

#mt_success p{
	margin-top : 20px;
}