/*
	Create by qyqy on 2016-9-5 11:17
*/

html, body{
	width       : 100%;
	height      : 100%;
	overflow    : hidden;
	margin      : 0;
	padding     : 0;
	font-family : "Microsoft Yahei";
}

/* login background  */
.lay_background{
	position  : absolute;
	top       : 0;
	left      : 0;
	z-index   : 0; . overflow: hidden;
	width     : 100%;
	min-width : 1000px;
}

.lay_background > img{
	width          : 100%;
	vertical-align : top;
}

/*  */
.lay_wrap{
	position   : relative;
	width      : 100%;
	color      : #4B4A4A;
	z-index    : 2;
	min-height : 600px;
}

.lay_main{
	width  : 690px;
	margin : 180px auto;
}

.login_head{
	text-align : center;
}

.login_head .logo{
	text-align    : center;
	margin-bottom : 40px;
}

.login_head .logo span{
	font-size   : 60px;
	color       : #FFFFFF;
	font-family : '幼圆';
	font-weight : bold;
}

.login_head .title{
	text-align : center;
}

.login_head .title span{
	font-size   : 26px;
	position    : relative;
	color       : #FFFFFF;
	font-family : '幼圆';
}

.login_head .title span:before{
	content    : '';
	width      : 138px;
	height     : 2px;
	position   : absolute;
	top        : 50%;
	left       : -160px;
	margin-top : -1px;
	background : #FFFFFF;
}

.login_head .title span:after{
	content    : '';
	width      : 138px;
	height     : 2px;
	position   : absolute;
	top        : 50%;
	right      : -160px;
	margin-top : -1px;
	background : #FFFFFF;
}

.login_group{
	margin-top : 60px;
	background : url("../../Images/Manager/User/login/login_group.png") no-repeat;
	width      : 690px;
	height     : 119px;
	padding    : 45px 40px 0 30px;
}

.login_group .input_group{
	font-size : 0;
}

.login_group .input_group label{
	font-size    : 14px;
	margin-right : 1px;
}

.login_group .input_group input{
	width          : 180px;
	height         : 35px;
	background     : #FFFFFF;
	border         : none;
	outline        : none;
	vertical-align : top;
	font-size      : 14px;
	line-height    : 35px;
	padding        : 0 12px;
}

.login_group .user_icon, .login_group .pass_icon{
	width       : 35px;
	height      : 35px;
	display     : block;
	background  : #FFFFFF;
	line-height : 35px;
	text-align  : center;
	color       : #A0A0A0;
}

.login_group .login{
	width       : 120px;
	height      : 35px;
	line-height : 35px;
	border      : none;
	background  : #25C4C6;
}

.login_group .btn_wrap{
	text-align : right;
	font-size  : 16px;
	color      : #FFFFFF;
}

.login_group .other_link{
	margin-top : 10px;
	color      : #FFFFFF;
}

.login_group .other_link input[type=checkbox]{
	vertical-align : top;
}

.login_group .other_link .forget_password{
	/*margin-left     : 70px;*/
	color           : #FFFFFF;
	text-decoration : underline;
}

.login_group .other_link .register{
	margin-left     : 398px;
	color           : #FFFFFF;
	text-decoration : underline;
}

.login_footer{
	text-align : center;
	margin-top : 60px;
	color      : #FFFFFF;
}

.glyphicon{
	top : 0;
}