/*
	Meeting manage
*/

.has-error .error {
	color : #a94442;
}

.mes_preview {
	display: none;
	position : absolute;
	right :-410px;
	top :0;
	width: 400px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0,0,0,1);
	padding: 20px 30px;
}

