/*
	Create by 0967 on 2016-8-11 10:25
*/

.table_wrap .title{
	text-align : center;
	font-size  : 32px;
	padding    : 10px 0;
}

.table_wrap .modular{
	width : 100%;
}

.table_wrap .modular .m_item{
	width   : 25%;
	float   : left;
	padding : 20px;
}

.table_wrap .modular .m_item .m_content{
	background : #FFFFFF;
	color      : #FFFFFF;
}

.table_wrap .modular .m_item .m_content .t1{
	font-size   : 16px;
	padding     : 10px;
	font-weight : bolder;
}

.table_wrap .modular .m_item .m_content .desc{
	height  : 100px;
	padding : 5px 20px;
}

.table_wrap .modular .m_item .m_content .desc p{
	margin : 5px 0;
}

.table_wrap .modular .m_item .m_content .foot{
	height     : 30px;
	border-top : 1px solid #E1E1E1;
	padding    : 5px 0 5px 20px;
}

.table_wrap .modular .m_item .m_content .foot a{
	display     : block;
	line-height : 20px;
	color       : #FFFFFF;
}

