.module{
	border     : 1px solid #E1E1E1;
	margin-top : 20px;
}

.module .pane{
	padding       : 10px;
	border-bottom : 1px solid #E1E1E1;
}

.module .pane h2 span{
	top          : 2px;
	color        : #00A0E8;
	margin-right : 5px;
}

.module .mo_content{
	padding : 20px;
}

.module .mo_content.info span{
	height         : 34px;
	line-height    : 34px;
	display        : inline-block;
	margin-right   : 10px;
	vertical-align : middle;
	font-size      : 14px;
}

.mo_content .section_rece{
	margin-bottom : 20px;
}

.mo_content .section_rece .title{
	font-size : 14px;
}

.rece_wrap{
	width    : 100%;
	position : relative;
}

.rece_li{
	position : relative;
	padding  : 10px 60px 10px 10px;
}

.rece_li .rece_item{
	width         : 12.5%;
	float         : left;
	padding-right : 10px;
	position      : relative;
}

.rece_li.title{
	font-size   : 14px;
	font-weight : bold;
}

.rece_li .add, .rece_li .delete{
	display     : block;
	width       : 34px;
	height      : 34px;
	line-height : 34px;
	font-size   : 18px;
	font-weight : bold;
	cursor      : pointer;
	background  : rgba(0, 0, 0, .7);
	text-align  : center;
	color       : #FFFFFF;
}

.module .foot{
	position   : relative;
	padding    : 20px;
	border-top : 1px solid #E1E1E1;
	font-size  : 14px;
}

.module .foot .submit{
	position    : absolute;
	top         : 10px;
	right       : 20px;
	height      : 37px;
	line-height : 37px;
	background  : #00A0E8;
	color       : #FFFFFF;
	cursor      : pointer;
	padding     : 0 10px;
	display     : block;
}

/**
* 选择代金券
*/

.coupon_list{
	font-size  : 0;
	max-height : 400px;
	overflow-y : auto;
}

.coupon_list a{
	display    : inline-block;
	border     : 1px solid #999999;
	font-size  : 12px;
	padding    : 5px 15px;
	background : #FFFFFF;
	margin     : 8px;
}

.coupon_list a.active, .coupon_list a:hover{
	border-color : #00A0E8;
	color        : #00A0E8;
}

.has_selected{
	border-top : 1px solid #E1E1E1;
	margin-top : 10px;
}

.has_selected a{
	display    : inline-block;
	border     : 1px solid #00A0E8;
	font-size  : 12px;
	padding    : 5px 15px;
	background : #FFFFFF;
	margin     : 8px;
	color      : #00A0E8;
}

.c_modal{
	position       : absolute;
	width          : 300px;
	height         : 300px;
	border         : 1px solid #E1E1E1;
	background     : #FFFFFF;
	z-index        : 999;
	padding-bottom : 30px;
}

.c_modal .c_list{
	height     : 260px;
	max-height : 260px;
	overflow-y : auto;
	font-size  : 0;
}

.c_modal .c_list a{
	display   : inline-block;
	font-size : 12px;
	padding   : 10px 20px;
	border    : 1px solid #E1E1E1;
	margin    : 5px 8px;
}

.c_modal .c_list a.active, .c_modal .c_list a:hover{
	background : #00A0E8;
	color      : #FFFFFF;
}

.c_modal .c_btn{
	height     : 40px;
	border-top : 1px solid #E1E1E1;
	text-align : right;
	position   : relative;
}

.c_modal .c_btn .conplete_btn{
	position    : absolute;
	top         : 7px;
	right       : 5px;
	cursor      : pointer;
	display     : block;
	height      : 26px;
	width       : 50px;
	text-align  : center;
	line-height : 26px;
	font-size   : 14px;
	background  : #00A0E8;
	color       : #FFFFFF;
}

/**
*  收款记录表格
*/

#receivables_record{
	width     : 100%;
	font-size : 14px;
}

#receivables_record tbody tr:nth-child(odd) td{
	background : #DFF0D8;
}

#receivables_record tbody tr:nth-child(even) td{
	background : #FCF8E3;
}

.glyphicon{
	top : 0 !important;
}

.add_item, .delete_item{
	z-index     : 99;
	display     : block;
	position    : absolute;
	width       : 34px;
	height      : 34px;
	text-align  : center;
	line-height : 34px;
	font-size   : 18px;
	background  : red;
	color       : #FFFFFF;
	top         : 10px !important;
	right       : 0;
	cursor      : pointer;
}





