/**选择收件人**/
.mes_people .m_color {
	color : #fb5050;
}
.mes_people a {
	margin-left: 15px;
	color : #00A0E8;
}
.mes_people a:hover {
	color : #4eb900;
}

.choose_people {

}

.choose_people .d1 {
	padding: 10px 20px;
}

.choose_people .d1 span {
	margin-right: 10px;
	font-size: 14px;
}

.choose_people .d1 .btn_save {
	float: right;
}

.search_sm {
	padding: 5px 15px ;
}