<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>用户管理 - 修改用户信息</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/outerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/outerHeader"/>
				<!--这里添加权限判断  用if  condition="$permission_list['user.ALTER'] eq 1"-->
				<div class="main_body">
					<section class="content">
						<!--<div class="return">
							<a class="btn btn-default" onclick="history.go(-1)"><span class="glyphicon glyphicon-chevron-left color-primary"></span>返回上一页</a>
						</div>-->
						<div class="table_wrap mb_10">
							<div class="nav_tab clearfix">
								<div class="nav_tab_li active">
									<a href="javascript:void(0)">修改用户信息</a>
								</div>
							</div>
						</div>
						<div class="table_wrap">
							<form class="form-horizontal" role="form" method="post" id="form" action="">
								<input type="hidden" name="requestType" value="modify">

								<div class="modal-body">
									<div class="form-group">
										<label for="nickname" class="col-sm-1 control-label">名称：</label>
										<div class="col-sm-11">
											<input type="text" class="form-control nickname" disabled value="<{$user.name}>" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label for="nickname" class="col-sm-1 control-label">昵称：</label>
										<div class="col-sm-11">
											<input type="text" class="form-control nickname" name="nickname" id="nickname" value="<{$user.nickname}>">
										</div>
									</div>
									<div class="form-group">
										<label for="mobile" class="col-sm-1 control-label color-red"><b style="vertical-align: middle;">*</b>手机号：</label>
										<div class="col-sm-11">
											<input class="form-control mobile" id="mobile" name="mobile" value="<{$user.mobile}>">
										</div>
									</div>
									<div class="form-group">
										<label for="email" class="col-sm-1 control-label">邮箱号：</label>
										<div class="col-sm-11">
											<input class="form-control email" id="email" name="email" value="<{$user.email}>">
										</div>
									</div>
									<div class="form-group">
										<label for="comment" class="col-sm-1 control-label">备注：</label>
										<div class="col-sm-11">
											<textarea class="form-control comment" name="comment" id="comment"><{$user.comment}></textarea>
										</div>
									</div>
									<input type="hidden" name="redirectUrl">
								</div>
								<div class="modal-footer text_center">
									<button type="button" class="btn btn-primary btn-save">提交</button>
								</div>
							</form>
						</div>
					</section>
				</div>
				<!--if结束-->
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				toast  :$().QuasarToast(),
				loading:$().QuasarLoading()
			}
		};
	</script>
</body>
</html>