/*
	Create by qyqy on 2016-9-1 14:27
*/

/* CSS Reset */
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, button, input, textarea, /* form elements 表单元素 */
th, td, label, input[type=checkbox]{ /* table elements 表格元素 */
	margin  : 0;
	padding : 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea{ /* for ie */
	font        : 12px/1.2 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif, '微软雅黑'; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
	font-family : "Helvitica Neue", Helvetica, Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}

h1{ font-size : 18px; /* 18px / 12px = 1.5 */ }

h2{ font-size : 16px; }

h3{ font-size : 14px; }

h4, h5, h6{ font-size : 100%; }

address, cite, dfn, em, var{ font-style : normal; }

/* 将斜体扶正 */
code, kbd, pre, samp, tt{ font-family : "Courier New", Courier, monospace; }

/* 统一等宽字体 */
small{ font-size : 12px; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol{ list-style : none; }

/* 重置文本格式元素 */
a{ text-decoration : none; color : #1A1A1A }

a:hover, a.active, a:focus, a:visited{
	cursor          : pointer;
	text-decoration : none;
	outline         : none;
}

abbr[title], acronym[title]{ /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom : 1px dotted;
	cursor        : help;
}

q:before, q:after{ content : ''; }

/* 重置表单元素 */
legend{ color : #000000; }

/* for ie6 */
fieldset, img{ border : none; }

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea{
	font-size : 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table{
	border-collapse : collapse;
	border-spacing  : 0;
}

/* 重置 hr */
hr{
	height : 1px;
}

/* html5 */
article, aside, details, figcaption, figure, footer, header, nav, section, summary{ display : block; }

audio, canvas, video{ display : inline-block; *display : inline; *zoom : 1; }

audio:not([controls]){ display : none; height : 0; }

nav ul, nav ol{ list-style : none none; }

/*!* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 *!
html { overflow-y: scroll; }*/

html, body{
	width    : 100%;
	height   : 100%;
	position : relative;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after{ content : ""; display : table; }

.clearfix:after{ clear : both; overflow : hidden; }

.clearfix{ zoom : 1; }

/* 左右浮动 */
.float-left{
	float : left !important;
}

.float-right{
	float : right !important;
}

.block{
	display : block !important;;
}

/* ban select */
.no_select{
	-moz-user-select    : none;
	-webkit-user-select : none;
	-ms-user-select     : none;
	user-select         : none;
}

/* text */
.text_center{
	text-align : center;
}

.text_right{
	text-align : right;
}

/* address 3级菜单 */
.address_wrap{
	width : 100%;
}

.address_wrap .address_item{
	float        : left;
	margin-right : 10px;
}

.address_wrap .address_item.address_details{
	width : 300px;
}

.address_wrap .address_item.address_default{
	margin-left : 20px;
	min-width   : 300px;
	line-height : 34px;
	font-size   : 14px;
}

/* flex */
.flex_wrap{
	display : -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6*/
	display : -moz-box !important; /* OLD - Firefox 22- */
	display : -ms-flexbox !important; /* TWEENER - IE 10 */
	display : -webkit-flex !important; /* NEW - Chrome 20-,Android 2.1-4.3 */
	display : flex !important; /* NEW */
}

.flex_1{
	-webkit-box-flex : 1; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex    : 1; /* OLD - Firefox 19- */
	-webkit-flex     : 1; /* Chrome */
	-ms-flex         : 1; /* IE 10 */
	flex             : 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex_2{
	-webkit-box-flex : 2; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex    : 2; /* OLD - Firefox 19- */
	-webkit-flex     : 2; /* Chrome */
	-ms-flex         : 2; /* IE 10 */
	flex             : 2; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex_3{
	-webkit-box-flex : 3; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex    : 3; /* OLD - Firefox 19- */
	-webkit-flex     : 3; /* Chrome */
	-ms-flex         : 3; /* IE 10 */
	flex             : 3; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex_5{
	-webkit-box-flex : 3; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex    : 3; /* OLD - Firefox 19- */
	-webkit-flex     : 3; /* Chrome */
	-ms-flex         : 3; /* IE 10 */
	flex             : 3; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex_8{
	-webkit-box-flex : 9; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex    : 9; /* OLD - Firefox 19- */
	-webkit-flex     : 9; /* Chrome */
	-ms-flex         : 9; /* IE 10 */
	flex             : 9; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex_9{
	-webkit-box-flex : 9; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex    : 9; /* OLD - Firefox 19- */
	-webkit-flex     : 9; /* Chrome */
	-ms-flex         : 9; /* IE 10 */
	flex             : 9; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.quasar-toast-class{
	bottom : 92% !important;
}

textarea{
	min-width : 100%;
	max-width : 100%;
}

/* 公共宽度*/
.common_width{
	width  : 1000px;
	margin : 0 auto !important;
}

/* 公共背景 */
.hs_bg{
	background : #EBEBEB !important;
}

.bg-28B778{
	background   : #28B778 !important;
	border-color : #28B778 !important;
}

.bg-warning{
	background   : #F8AC59 !important;
	border-color : #F8AC59 !important;
}

.bg-success{
	background   : #2254A5 !important;
	border-color : #2254A5 !important;
}

.bg-info{
	background   : #23C6C8 !important;
	border-color : #23C6C8 !important;
}

.bg-00a0e8{
	background   : #00A0E8 !important;
	border-color : #00A0E8 !important;
	color        : #FFFFFF;
	text-shadow  : none;
}

.bg-danger{
	background   : #ED5565 !important;
	border-color : #ED5565 !important;
}

.bg-f63{
	background   : #FF6633 !important;
	border-color : #FF6633 !important;
}

/* 公共font color */

.link{
	text-decoration : underline;
}

.hs_color{
	color : #EBEBEB !important;
}

.color-28B778{
	color : #28B778 !important;
}

.color-warning{
	color : #F8AC59 !important;
}

.color-info{
	color : #23C6C8 !important;
}

.color-danger{
	color : #ED5565 !important;
}

.color-red{
	color       : red !important;
	font-weight : bold;
}

.color-primary{
	color       : #337AB7 !important;
	font-weight : bold;
}
.color-00a0e8 {
	color       : #00A0E8 !important;
}

.btn_role{
	background   : #F8AC59 !important;
	border-color : #F8AC59 !important;
	color        : #FFFFFF;
	text-shadow  : none;
}

/* User 模块 */

/* topbar */
.user_topbar{
	width      : 100%;
	height     : 77px;
	background : #4D4D4D;
}

.user_topbar > .common_width{
	height : inherit;
}

.user_topbar .logo{
	height : inherit;
}

.user_topbar .logo span{
	font-size   : 32px;
	line-height : 77px;
	color       : #FFFFFF;
	font-family : '幼圆', serif;
}

.user_topbar .infor_tools{
	height  : 77px;
	padding : 18px;
}

.user_topbar .infor_tools .login_btn{
	display       : block;
	width         : 110px;
	height        : 40px;
	line-height   : 40px;
	text-align    : center;
	font-size     : 16px;
	color         : #FFFFFF;
	background    : #404040;
	border-radius : 4px;
	border        : 1px solid #5A5A5A;
	box-shadow    : 1px 1px 1px 1px #222222;
}

/* user content*/

.user_container{
	width : 100%;
}

.user_container .function_title{
	height        : 130px;
	text-align    : center;
	line-height   : 130px;
	border-bottom : 1px solid #DADADA;
}

.user_container .function_title > span{
	position    : relative;
	font-weight : bold;
	font-size   : 30px;
	color       : #383838;
}

.user_container .function_title > span:before{
	content    : '';
	width      : 39px;
	height     : 70px;
	display    : block;
	position   : absolute;
	left       : -50px;
	margin-top : 35px;
	background : url("../../Images/Manager/User/login/pass.png");
}

.user_content{
	background : #FFFFFF;
}

/* formal page wrap  */
#mt_container{
	position  : relative;
	min-width : 1248px;
	height    : 100%;
	margin    : 0 auto;
	overflow  : hidden;
}

.mt_content{
	height       : 100%;
	padding-left : 180px;
	overflow     : hidden;
	position     : relative;
}

.mt_navbar{
	width      : 180px;
	height     : 100%;
	background : #343F55;
	/*background: url("../../Images/Common/sidenav_bg.png");*/
	position   : fixed;
	top        : 0;
	left       : 0;
	z-index    : 999;
	overflow-y : auto;
}

.mt_navbar > .header{
	width      : 100%;
	height     : 60px;
	box-shadow : 0 1px 4px rgba(0, 0, 0, .5);
}

.mt_navbar > .header > .logo{
	float  : left;
	width  : 40px;
	height : 40px;
	margin : 12px 10px 8px 16px;
}

.mt_navbar > .header > .logo > img{
	width          : 100%;
	vertical-align : middle;
}

.mt_navbar > .header > a{
	line-height : 60px;
	text-align  : center;
	float       : left;
	display     : block;
	font-size   : 22px;
	color       : #FFFFFF;
	font-weight : bold;
	font-family : '幼圆', serif;
}

/* side nav style */
.mt_navbar > .sidenav{
	margin-top : 10px;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item{
	position : relative;
	cursor   : pointer;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item.active .side-item-link, .mt_navbar > .sidenav > .sidenav_list > .side_item:hover .side-item-link{
	background : rgba(0, 0, 0, .5);
}

.mt_navbar > .sidenav > .sidenav_list > .side_item:hover .nav-second-level{
	height : auto;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item.active:before{
	display    : block;
	position   : absolute;
	top        : 11px;
	left       : 1px;
	content    : '';
	width      : 3px;
	height     : 20px;
	background : #FB5050;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item > .side-item-link{
	display : block;
	height  : inherit;
	padding : 14px 20px 14px 25px;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item > .side-item-link > .icon_nav{
	margin-right : 15px;
	color        : rgba(255, 255, 255, .8);
}

.mt_navbar > .sidenav > .sidenav_list > .side_item > .side-item-link > .nav-label{
	color     : rgba(255, 255, 255, .7);
	font-size : 13px;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item:hover .side-item-link .icon_nav{
	-webkit-animation : rotate 0.5s linear;
	animation         : rotate 0.5s linear;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item > .side-item-link > .arrow{
	float : right;
	color : rgba(255, 255, 255, .8);
}

.mt_navbar > .sidenav > .sidenav_list > .side_item > .nav-second-level{
	height   : 0;
	overflow : hidden;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item.active > .nav-second-level{
	height   : auto;
	overflow : hidden;
}

.mt_navbar > .sidenav > .sidenav_list > .side_item > .nav-second-level > li{
	background : rgba(0, 0, 0, .4);
}

.mt_navbar > .sidenav > .sidenav_list > .side_item > .nav-second-level > li > a{
	padding : 7px 10px 7px 62px;
	display : block;
	color   : rgba(255, 255, 255, .8);
}

.mt_navbar > .sidenav > .sidenav_list > .side_item > .nav-second-level > li.active > a, .mt_navbar > .sidenav > .sidenav_list > .side_item > .nav-second-level > li:hover > a{
	background : rgba(0, 0, 0, .2);
}

.mt_wrapper{
	width      : 100%;
	height     : 100%;
	background : rgba(0, 0, 0, .1);
	padding    : 70px 10px 10px 10px;
	position   : relative;
	overflow-y : auto;
}

.mt_wrapper .mt_topbar{
	position     : fixed;
	height       : 60px;
	width        : 100%;
	padding-left : 200px;
	top          : 0;
	left         : 0;
	background   : #FFFFFF;
	z-index      : 998;
	box-shadow   : 0 1px 4px rgba(0, 0, 0, .5);
}

.mt_wrapper .mt_topbar .return{
	height        : 30px;
	line-height   : 30px;
	padding       : 0 5px;
	margin-left   : 200px;
	margin-top    : 10px;
	border-radius : 5px;
}

.mt_wrapper .mt_topbar .nav_info{
	color  : #000000;
	float  : right;
	height : inherit;
}

.mt_wrapper .mt_topbar .nav_info > li{
	position     : relative;
	float        : left;
	height       : 40px;
	text-align   : center;
	border       : 1px solid #00A0E8;
	margin-top   : 10px;
	line-height  : 40px;
	padding      : 0 30px;
	font-size    : 14px;
	color        : #666666;
	cursor       : pointer;
	color        : #00A0E8;
	margin-right : 20px;
}

.mt_wrapper .mt_topbar .nav_info > li > span{
	margin-left : 5px;
}

.mt_wrapper .mt_topbar .nav_info > li .hidden_dropDown{
	text-align  : left;
	padding     : 10px 0;
	z-index     : 99;
	width       : 140px;
	text-indent : 20px;
	position    : absolute;
	top         : 39px;
	right       : 0;
	background  : #FFFFFF;
	box-shadow  : 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
}

.mt_wrapper .mt_topbar .nav_info > li .hidden_dropDown .dropDown_item{
	height      : 40px;
	width       : 100%;
	line-height : 40px;
}

.mt_wrapper .mt_topbar .nav_info > li .hidden_dropDown .dropDown_item a{
	width   : 100%;
	height  : 100%;
	display : block;
}

.mt_wrapper .mt_topbar .nav_info > li .hidden_dropDown .dropDown_item:hover{
	background : rgba(0, 0, 0, .1);
}

.mt_wrapper .mt_topbar .topbar_left{
	margin-left : 20px;
	float       : left;
}

.mt_wrapper .mt_topbar .topbar_left .meeting_name{
	line-height : 70px;
	font-weight : bolder;
	font-size   : 18px;
}

.mt_wrapper .mt_topbar .topbar_left .meeting_name i{
	margin-right : 5px;
	color        : #FF6633;
}

.mt_wrapper .mt_topbar .topbar_left .back_meetingList{
	line-height : 70px;
	margin-left : 40px;
	font-size   : 16px;
}

.mt_wrapper .mt_topbar .topbar_left .back_meetingList i{
	margin-right : 8px;
	color        : #00A0E8;
}

.mt_wrapper .main_body{
	background    : #FFFFFF;
	min-height    : 100%;
	border-radius : 4px;
	box-shadow    : 0 3px 7px rgba(0, 0, 0, .5);
}

.mt_wrapper .main_body .content{
	padding : 10px 0;
}

.mt_wrapper .main_body .content .modal-body{
	padding : 30px 30px 15px 30px;
}

.mt_wrapper .main_body .content .return{
	padding : 0 10px;
}

.mt_wrapper .main_body .content .c_header{
	padding : 0 30px;
}

.mt_wrapper .right_details{
	position   : fixed;
	top        : 60px;
	right      : 0;
	bottom     : 0;
	background : #FFFFFF;
	box-shadow : 0 0 8px 0 rgba(0, 0, 0, 0.137);
	width      : 0;
	z-index    : 996;
	overflow   : hidden;
}

.mt_wrapper .right_details .d_con{
	width    : 480px;
	height   : 100%;
	padding  : 24px;
	position : relative;
	overflow : auto;
}

.mt_wrapper .right_details .d_con .close_btn{
	position      : absolute;
	right         : 30px;
	top           : 20px;
	display       : block;
	width         : 30px;
	height        : 30px;
	border-radius : 50%;
	border        : 2px solid rgba(0, 0, 0, .3);
	color         : rgba(0, 0, 0, .3);
	text-align    : center;
	line-height   : 26px;
}

.mt_wrapper .right_details .d_con .close_btn:hover{
	border : 2px solid rgba(0, 0, 0, .6);
	color  : rgba(0, 0, 0, .6);
}

.mt_wrapper .right_details .d_con .title{
	font-size     : 20px;
	margin-bottom : 16px;
}

.mt_wrapper .right_details .d_con .info{
	position : relative;
}

.mt_wrapper .right_details .d_con .info .li{
	margin-bottom : 8px;
	font-size     : 14px;
	padding-left  : 5px;
}

.mt_wrapper .right_details .d_con .btn_fun{
	padding-top : 10px;
	overflow    : hidden;
}

.mt_wrapper .right_details .d_con .btn_fun a{
	float         : left;
	display       : inline-block;
	margin-right  : 10px;
	margin-bottom : 10px;
	padding       : 8px 20px;
	color         : #FFFFFF;
	background    : #00A0E8;
}

.mt_wrapper .right_details .d_con .d_list{
	position : relative;
}

.mt_wrapper .right_details .d_con .d_list .list_title{
	background    : #ECF1F4;
	padding       : 6px 8px;
	margin-top    : 16px;
	margin-bottom : 8px;
	font-size     : 14px;
}

.mt_wrapper
	/* 分页外部 */
.page_wrap{
	text-align : center;
}

.pagination a, .pagination .current{
	position         : relative;
	float            : left;
	padding          : 6px 12px;
	margin-left      : -1px;
	line-height      : 1.42857143;
	color            : #337AB7;
	text-decoration  : none;
	background-color : #FFFFFF;
	border           : 1px solid #DDDDDD;
}

.pagination .current{
	z-index          : 2;
	color            : #FFFFFF;
	cursor           : default;
	background-color : #337AB7;
	border-color     : #337AB7;
}

/* 表格 */
.table_wrap{
	margin-top : 10px;
	padding    : 0 30px;
}

.table_wrap table thead tr td{
	font-weight : bold;
}

/* 多色小方块 */
.border_but{
	border-bottom : 1px solid #FB5050;
}

.function_list{
	width    : 100%;
	overflow : hidden;
}

.function_list .function_btn{
	position : relative;
	width    : 90px;
	height   : 35px;
	float    : left;
	margin   : 10px 20px 10px 0;
	cursor   : pointer;
	overflow : hidden;
}

.function_list .function_btn p{
	text-align  : center;
	line-height : 35px;
	color       : #FFFFFF;
}

/* 列表搜索 */
.repertory{
	position      : relative;
	width         : 100%;
	padding       : 10px 30px 10px 30px;
	border-bottom : 1px solid #E1E1E1;
	border-top    : 1px solid #E1E1E1;
}

.repertory .repertory_text{
	width : 40%;
	float : left;
}

.repertory .main_search{
	/*	width       : 100px;*/
	float       : left;
	margin-left : 10px;
}

/** tabs **/

.tabs{
	float         : left;
	padding-right : 20px;
	margin-right  : 20px;
}

.tabs .tabsUl{
	width : 100%;
}

.tabs .tabsUl li{
	float       : left;
	/*width       : 60px;*/
	margin      : 0 5px;
	padding     : 0 5px;
	height      : 34px;
	font-size   : 14px;
	text-align  : center;
	line-height : 34px;
}

.tabs .tabsUl li.active{
	border-bottom : 3px solid #00A0E8;
}

/** title nav**/
.nav_tab{
	background : #ECF1F4;
	position   : relative;
	width      : 100%;
}

.nav_tab .nav_tab_li{
	line-height : 50px;
	float       : left;
	width       : 135px;
	height      : 50px;
	color       : #FFFFFF;
	text-align  : center;
	line-height : 50px;
	font-size   : 14px;
	font-family : "Helvitica Neue", Helvetica, Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}

.nav_tab .nav_tab_li.active{
	background : #00A0E8;
}

.nav_tab .nav_tab_li a{
	color      : rgba(0, 0, 0, .85);
	text-align : center;
	display    : block;
}

.nav_tab .nav_tab_li.active a{
	color : #FFFFFF;
}

.sAmount{
	font-size : 16px;
	color     : red;
}

.table_length{
	padding-top   : 10px;
	padding-right : 10px;
	font-size     : 14px;
}

.table_length > select{
	width       : 100px;
	height      : 30px;
	line-height : 50px;
}

/** 时间插件层级 **/
#jedatebox{
	z-index : 2222 !important;
}

.form-control{
	border-radius : 0 !important;
}

/** 未选择员工 **/
.no_choice{
	width       : 100%;
	height      : 60px;
	line-height : 60px;
	text-align  : center;
	font-size   : 24px;
}

/** 百度地图API **/
#allmap{
	border     : 1px solid #E1E1E1;
	margin-top : 5px;
}

.address_map span{
	top : 0 !important;
}

/** 站内信入口 **/
.message_box{
	position   : absolute;
	bottom     : 0;
	width      : 100%;
	padding    : 15px 20px 15px 25px;
	background : #343F55;
	border-top : 1px solid grey;
}

.message_box > a{
	width   : 100%;
	height  : 100%;
	display : inline-block;
	color   : white
}

.message_box .num{
	min-width     : 20px;
	min-height    : 20px;
	line-height   : 20px;
	border-radius : 50%;
	background    : #FB5050;
	display       : inline-block;
	font-size     : 10px;
	text-align    : center
}

/** 站内信模态框 **/
.message_modal{
	z-index: 999;
	position    : fixed;
	left        : 50%;
	top         : 50%;
	margin-left : -250px;
	margin-top  : -300px;
	width       : 500px;
	height      : 480px;
	background  : #FFFFFF;
	border      : 1px solid #E1E1E1;
	box-shadow  : 0 0 10px 1px #E1E1E1;
}

.message_modal .mes_title{
	height      : 40px;
	font-size   : 16px;
	line-height : 40px;
	text-align  : center;
	color       : #FFFFFF;
	background  : #00A0E8;
}

.message_modal .mes_title .mes_close{
	display       : block;
	cursor        : pointer;
	position      : absolute;
	top           : 5px;
	right         : 5px;
	width         : 30px;
	height        : 30px;
	line-height   : 30px;
	text-align    : center;
	border-radius : 50%;
	background    : #FFFFFF;
	border        : 1px solid #E1E1E1;
	color         : #999999;
	font-size     : 30px;
}

.message_modal .mes_title .mes_close:hover{
	border : 1px solid #999999;
	color  : #555555;
}

.message_modal .mes_list{
	width      : 100%;
	max-height : 460px;
	padding    : 0 30px;
	overflow-y : auto;
}

.message_modal .mes_list .mes_item{
	border-bottom : 1px solid #E1E1E1;
	padding       : 10px 0;
}

/* css3 keyframes */
@-webkit-keyframes rotate{
	from{
		-webkit-transform : rotate(0deg);
		transform:rotate(0deg)
	}
	to{
		-webkit-transform : rotate(360deg);
		transform:rotate(360deg)
	}
}

@keyframes rotate{
	from{
		transform : rotate(0deg)
	}
	to{
		transform : rotate(360deg)
	}
}
