#mb_wrap{
	width      : 100%;
	height     : 100%;
	overflow-y : scroll;
}

.mb_body{
	width         : 100%;
	min-height    : 100%;
	background    : #FFFFFF;
	border-radius : 5px;
	position      : relative;
	border        : 1px solid #E1E1E1;
}
.content {
	width: 100%;
	position : relative;
}
.my_infor{
	width   : 100%;
	padding : 0 0.2rem;
}

.my_infor .title{
	border-bottom : 1px solid #E1E1E1;
	padding       : 0.2rem 0;
	font-size     : 0.30rem;
	font-weight   : bold;
}

.my_infor .personal{
	padding : 0.2rem 0.1rem;
	color   : rgba(0, 0, 0, .8);
}

.my_infor .personal p{
	margin-bottom : 0.1rem;
}

