.modal-body .form-group{
	position: relative;
}
.modal-body .form-group .user_btn,.modal-body .form-group .old_btn
,.modal-body .form-group .new_btn,.modal-body .form-group .confirm_btn{
	position: absolute;
	top: 7px;
	left: -14px;
}
.modal-body .form-group .col-sm-6 .number{
	display: inline-block;
	margin-top: 12px;
	color: #444;
	font-size: 14px;
}
.modal-body .form-group label{
	text-align: left;
}
.modal-body .form-group span{
	font-size: 16px;
}

.modal-modify{
	margin: 0 72px;
}
.modal-modify h3{
	color: #124164;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}
.modal-modify .table-bordered thead th{
	background-color : #ebebeb;
}
.modal-modify .table-bordered th,.modal-modify .table-bordered td{
	font-size :14px;
	text-align : center;
}
.modal-modify .table-bordered tbody th{
	font-weight :normal;
}