/**
 * Created by qyqy on 2016-9-9.
 */

/* 分配角色模态框样式 */
.role_rect{
	width : 100%;
}

.role_rect header{
	margin-bottom : 10px;
}

.info_css p{
	padding   : 10px 20px;
	font-size : 14px;
}

/* 分配角色模态框样式 */
.role_body{
	padding : 0 !important;
}

.btn_rect{
	padding     : 10px;
	width       : 50%;
	float       : left;
	border-left : 1px solid #E1E1E1;
}

.btn_rect .btn{
	margin-bottom : 8px;
	margin-right  : 8px;
}

.btn_rect section{
	padding : 10px 10px 0 10px;
}

.btn_rect header{
	padding : 0 20px;
}

.btn_rect header h2{
	padding       : 10px;
	border-bottom : 1px solid rgba(0, 0, 0, 0.2);
}

.btn_rect .form-group{
	margin        : 10px 0 0 0;
	padding-right : 50%;
}

.btn_green .btn{
	background   : #23C6C8;
	border-color : #23C6C8;
	color        : #FFFFFF;
	text-shadow  : none;
}

.all_area, .select_area{
	max-height : 600px;
	overflow   : hidden;
	overflow-y : auto;
}

/**权限分类**/

.pannel_n{
	width         : 100%;
	padding       : 0 10px;
	margin-bottom : 10px;
}

.pannel_n > div{
	width         : 100%;
	border        : 1px solid #DDDDDD;
	border-radius : 4px;
}

.pannel_n > div .title{
	position      : relative;
	padding       : 10px;
	font-size     : 14px;
	background    : #F5F5F5;
	border-bottom : 1px solid #E1E1E1;
}

.pannel_n > div .title button{
	background    : #00A0E8 !important;
	color         : #FFFFFF;
	position      : absolute;
	top           : 3px;
	right         : 5px;
	border-radius : 0;
	margin        : 0 !important;
	z-index       : 99;
}



