<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>修改消息模板 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-position.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<div class="main_body" style="overflow: hidden">
					<section class="content">
						<div class="table_wrap">
							<div class="nav_tab clearfix">
								<div class="nav_tab_li active">
									<a href="javascript:void(0)">修改消息模板</a>
								</div>
							</div>
							<div class="tab-content">
								<div class="mes_form">
									<form role="form" class="form-horizontal" method="post" action="">
										<input type="hidden" name="requestType" value="modify">
										<div class="edit_box">
											<div class="form-group">
												<label for="name" class="col-sm-2 control-label color-red"><b style="vertical-align: middle;">*</b>模板名称：</label>
												<div class="col-sm-10">
													<input type="text" class="form-control name" name="name" id="name" value="<{$message.name}>">
												</div>
											</div>
											<div class="form-group">
												<label for="type" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>消息类型：</label>
												<div class="col-sm-10">
													<select name="type" id="type" class="form-control">
														<volist name="message_type_list" id="single">
															<if condition="$message['type'] eq $key">
																<option value="<{$key}>" selected><{$single}></option>
																<else/>
																<option value="<{$key}>"><{$single}></option>
															</if>
														</volist>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="textarea_edit" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>文本内容：</label>
												<div class="col-sm-10">
													<div class="input_box">
														<div class="field_box">
															<h3>可用的系统字段：</h3>
															<div class="filed_w">
																<button type="button" class="btn btn-xs btn-primary" data-content="<:CLIENT-NAME:>">&lt;:客户名称:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:CLIENT-UNIT:>">&lt;:客户会所:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:CLIENT-MOBILE:>">&lt;:客户手机号:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:CLIENT-QRCODE:>">&lt;:客户二维码:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:CLIENT-SIGN_CODE_QRCODE:>">&lt;:客户签到二维码:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:CLIENT-ROOM:>">&lt;:客户房间号:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:CLIENT-GROUP:>">&lt;:客户所在分组:&gt;</button>
																<br> <br>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-NAME:>">&lt;:会议名称:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-PLACE:>">&lt;:会议地点:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-START_TIME:>">&lt;:会议开始时间:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-END_TIME:>">&lt;:会议结束时间:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-SIGN_START_TIME:>">&lt;:会议签到开始时间:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-SIGN_END_TIME:>">&lt;:会议签到结束时间:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-DIRECTOR:>">&lt;:会议负责人:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-HOST:>">&lt;:会议主办方:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-PLAN:>">&lt;:会议策划方:&gt;</button>
																<button type="button" class="btn btn-xs btn-primary" data-content="<:MEETING-BRIEF:>">&lt;:会议简介:&gt;</button>
															</div>
														</div>
														<textarea class="form-control" rows="3" name="context" id="textarea_edit"><{$message.context}></textarea>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="name" class="col-sm-1 control-label"></label>
												<div class="col-sm-11">
													<p style=" margin-top: 5px;">已输入<span class="words_num">0</span>个字，约<span class="mes_num">0</span>条短信（不含签名）
													</p>
													<p style=" margin-top: 5px;">每70个字符计费1条，超过70个字将自动被运营商按多条计费，长短信最多230个字符</p>
												</div>
											</div>
											<div class="form-group text-center">
												<div style=" margin-top: 10px;">
													<button type="button" class="btn btn-info save_mes">保存</button>
													<button type="reset" class="btn bg-00a0e8">重置</button>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="mes_view">
									<div class="phone_model_bg">
										<div class="phone_con">
											<div class="face">
												<div class="phone_title ellipsis">吉美会议</div>
												<div class="p_fa">
													<div class="mes_list">
														<div class="m_li right">
															<div class="show_sms_content_container hide">
																<div class="text show_sms_content_text"></div>
																<img src="<{$Think.COMMON_IMAGE_PATH}>/phone_mes_bubble.png">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<img src="<{$Think.COMMON_IMAGE_PATH}>/phone_bg.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				meetingName:$('#meeting_name').QuasarSelect({
					name        :'meeting_name',
					classStyle  :'form-control',
					data        :'<{:json_encode($meeting)}>',
					idInput     :'selected_meetingName',
					idHidden    :'selected_meetingName_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				toast      :$().QuasarToast(),
				loading    :$().QuasarLoading(),
				icheck     :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				})
			}
		};
	</script>
</body>
</html>