<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>新建客户 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/cityselect/jquery.cityselect.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-position.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/menu"/>
			<div class="mt_wrapper">
				<include file="Public/header"/>
				<div class="mian_body">
					<section class="content">
						<div class="return">
							<a class="btn btn-default" onclick="history.go(-1)"><span class="glyphicon glyphicon-chevron-left color-primary"></span>返回消息管理</a>
						</div>
						<div class="table_wrap">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">创建消息模板</a></li>
								<li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
								<li role="presentation"><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
								<li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">
									<div class="edit_box">
										<textarea class="form-control" rows="3" id="textarea_edit"></textarea>
										<p style=" margin-top: 5px;">已输入<span class="words_num"></span>个字，约1条短信（不含签名）</p>
										<p style=" margin-top: 5px;">每60个字符计费1条，超过60个字将自动被运营商按多条计费，长短信最多230个字符</p>
										<div class="btn-group" style=" margin-top: 10px;">
											<button type="button" class="btn btn-default">保存</button>
											<button type="button" class="btn btn-default">编辑</button>
											<button type="button" class="btn btn-default">重置</button>
										</div>
									</div>
									<div class="field_box">
										<h3>可插入字段</h3>
										<div class="filed_w">
											<button class="btn btn-xs btn-primary" >&lt;:姓名:&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;性别&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;电子&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;321&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;123&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;姓2名&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;2&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;姓名&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;姓名&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;姓名&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;姓名&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;姓名&gt;</button>
											<button class="btn btn-xs btn-primary" >&lt;姓名&gt;</button>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="profile">...</div>
								<div role="tabpanel" class="tab-pane" id="messages">...</div>
								<div role="tabpanel" class="tab-pane" id="settings">...</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<script>
		var CreateObject = {
			object:{
				developConsultantSelect:$('#develop_consultant').QuasarSelect({
					name        :'develop_consultant',
					classStyle  :'form-control',
					idInput     :'selected_develop_consultant',
					idHidden    :'selected_develop_consultant_form',
					data        :'<{:json_encode($employee_list)}>',
					placeholder :'',
					justInput   :true,
					hasEmptyItem:false
				}),
				serviceConsultantSelect   :$('#service_consultant').QuasarSelect({
					name        :'service_consultant',
					classStyle  :'form-control',
					idInput     :'selected_service_consultant',
					idHidden    :'selected_service_consultant_form',
					placeholder :'',
					data        :'<{:json_encode($employee_list)}>',
					justInput   :true,
					hasEmptyItem:false
				}),
				birthDate     :$('#birth_date').datetimepicker({
					language          :'zh-CN',
					todayBtn          :true,
					autoclose         :true,
					todayHighlight    :true,
					keyboardNavigation:true,
					forceParse        :true,
					format            :'yyyy-mm-dd',
					weekStart         :0,
					startView         :4,
					minView           :2,
					maxView           :4,
					minuteStep        :5
				}),
				createDate     :$('#create_date').datetimepicker({
					language          :'zh-CN',
					todayBtn          :true,
					autoclose         :true,
					todayHighlight    :true,
					keyboardNavigation:true,
					forceParse        :true,
					format            :'yyyy-mm-dd',
					weekStart         :0,
					startView         :4,
					minView           :2,
					maxView           :4,
					minuteStep        :5
				}),
				toast         :$().QuasarToast(),
				loading: $().QuasarLoading()
			}
		};
		$(function(){
			$("#address").citySelect({
				nodata:"none",
				url   :'<{$Think.COMMON_SCRIPT_PATH}>/jQuery/cityselect/city.min.js'
			});
		});
	</script>
</body>
</html>