<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>消息管理 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<!--<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/custom.css">-->
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/cityselect/jquery.cityselect.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body data-meeting-id="<{:I('get.mid')}>">
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<div class="main_body">
					<section class="content">
						<header class="c_header">
							<div class="function_list clearfix">
								<div class="function_btn bg-warning" data-toggle="modal" data-target="#create_meeting" data-backdrop="static">
									<a href="<{:U('Message/create')}>"> <i></i>
										<p>新建消息模板</p>
									</a>
								</div>
								<div class="function_btn bg-danger batch_delete_btn_confirm">
									<i></i>
									<p>批量删除</p>
								</div>
							</div>
						</header>
						<div class="repertory clearfix">
							<form action="" method="get">
								<div class="input-group repertory_text">
									<input name="p" type="hidden" value="1">
									<input type="search" name="keyword" class="form-control" placeholder="客户名称/拼音简码" value="<{:I('get.keyword', '')}>">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default mian_search">搜索消息模板</button>
									</span>
								</div>
								<a type="reset" class="btn btn-default mian_search" href="<{:U('manage')}>">查看所有</a>
							</form>
						</div>
						<div class="table_wrap">
							<table class="table table-bordered" id="tableExcel" style="text-align: center">
								<thead>
									<tr>
										<td width="4%" class="all_check">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</td>
										<td width="3%">序号</td>
										<td width="10%">模板名称</td>
										<td width="5%">类型</td>
										<td width="10%">模板内容</td>
										<td width="8%">状态</td>
										<td width="10%">创建者</td>
										<td width="10%">创建时间</td>
										<td width="20%">操作</td>
									</tr>
								</thead>
								<tbody>
									<volist name="list" id="single">
										<tr>
											<td class="check_item">
												<input type="checkbox" class="icheck" value="<{$single.id}>" placeholder="">
											</td>
											<td><{$i}></td>
											<td><{$single.name}></td>
											<td>
												<span class="color-info">
													<switch name="single.type">
														<case value="1">短信</case>
														<case value="2">邮件</case>
														<case value="3">微信</case>
														<case value="4">其他</case>
													</switch>
												</span>
											</td>
											<td><p style="max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap"><{$single.context}></p></td>
											<td>
												<switch name="single.status">
													<case value="0">禁用</case>
													<case value="1">可用</case>
													<case value="2">删除</case>
												</switch>
											</td>
											<td><{$single.creator}></td>
											<td><{:date('Y-m-d H:i:s', $single['creatime'])}></td>
											<td>
												<div class="btn-group" data-id="<{$single.id}>">
													<a href="<{:U('Message/alter',['id'=>$single['id']])}>" class="btn btn-default btn-xs modify_btn">修改</a>
													<button type="submit" class="btn btn-default btn-xs delete_btn" data-toggle="modal" data-target="#delete_message_modal">删除</button>
												</div>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</div>
						<div class="page_wrap">
							<ul class="pagination">
								<{$page_show}>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- 删除客户 -->
	<div class="modal fade" id="delete_message_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">删除消息模板</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除消息模板？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认删除</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量删除 -->
	<div class="modal fade" id="batch_delete_message_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量删除消息模板</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除已选<span class="sAmount"></span>项消息模板？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary batch_delete_btn">确认删除</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				toast               :$().QuasarToast(),
				icheck              :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				})
			}
		}
	</script>
</body>
</html>