<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>会议模块 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/cityselect/jquery.cityselect.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor_lang/zh-cn.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/menu"/>
			<div class="mt_wrapper">
				<include file="Public/header"/>
				<div class="mian_body">
					<section class="content" style="padding: 10px;">
						<div class="return">
							<a class="btn btn-default" href="<{:U('manage')}>"><span class="glyphicon glyphicon-chevron-left color-primary"></span>返回上一页</a>
						</div>
						<div class="modal-header">
							<h2 class="modal-title" id="authorize_role_title">修改会议</h2>
						</div>
						<form class="form-horizontal" role="form" method="post" action="" id="form">
							<div class="modal-body" style=" padding: 15px 20px 15px 0;">
								<div class="form-group">
									<label for="meeting_name" class="col-sm-1 control-label "><b style="vertical-align: middle;color: red;">*</b>会议名称：</label>
									<div class="col-sm-11">
										<input type="text" value="<{$info.name}>" class="form-control meeting_name" name="name" id="meeting_name">
									</div>
								</div>
								<div class="form-group">
									<label for="meeting_status" class="col-sm-1 control-label">状态：</label>
									<div class="col-sm-11">
										<select name="status" id="meeting_status" class="form-control">
											<switch name="info['status']">
												<case value="0">
													<option value="0" selected>禁用</option>
													<option value="1">新建</option>
													<option value="2">进行中</option>
													<option value="3">结束</option>
												</case>
												<case value="1">
													<option value="0">禁用</option>
													<option value="1" selected>新建</option>
													<option value="2">进行中</option>
													<option value="3">结束</option>
												</case>
												<case value="2">
													<option value="0">禁用</option>
													<option value="1">新建</option>
													<option value="2" selected>进行中</option>
													<option value="3">结束</option>
												</case>
												<case value="3">
													<option value="0">禁用</option>
													<option value="1">新建</option>
													<option value="2">进行中</option>
													<option value="3" selected>结束</option>
												</case>

											</switch>
										</select>
									</div>

								</div>
								<div class="form-group">
									<label for="meeting_type" class="col-sm-1 control-label">类型：</label>
									<div class="col-sm-11">
										<select name="type" id="meeting_type" class="form-control">
											<switch name="info['type']">
												<case value="1">
													<option value="1" selected>成交会</option>
													<option value="2">特训营</option>
													<option value="3">优雅女子</option>
													<option value="4">招商会</option>
													<option value="5">启动大会</option>
												</case>
												<case value="2">
													<option value="1">成交会</option>
													<option value="2" selected>特训营</option>
													<option value="3">优雅女子</option>
													<option value="4">招商会</option>
													<option value="5">启动大会</option>
												</case>
												<case value="3">
													<option value="1">成交会</option>
													<option value="2">特训营</option>
													<option value="3" selected>优雅女子</option>
													<option value="4">招商会</option></case>
													<option value="5">启动大会</option>
												<case value="4">
													<option value="1">成交会</option>
													<option value="2">特训营</option>
													<option value="3">结束</option>
													<option value="4" selected>招商会</option>
													<option value="5">启动大会</option>
												</case>
												<case value="5">
													<option value="1">成交会</option>
													<option value="2">特训营</option>
													<option value="3">结束</option>
													<option value="4">招商会</option>
													<option value="5" selected>启动大会</option>
												</case>
											</switch>
										</select>
									</div>

								</div>
								<div class="form-group">
									<label for="meeting_host" class="col-sm-1 control-label "><b style="vertical-align: middle;color: red;">*</b>主办方：</label>
									<div class="col-sm-11">
										<input type="text" value="<{$info.host}>" class="form-control meeting_host" name="host" id="meeting_host">
									</div>

								</div>
								<div class="form-group">
									<label for="meeting_plan" class="col-sm-1 control-label">策划方：</label>
									<div class="col-sm-11">
										<input type="text" value="<{$info.plan}>" class="form-control meeting_plan" name="plan" id="meeting_plan">
									</div>

								</div>
								<div class="form-group">
									<label for="place" class="col-sm-1 control-label">地址：</label>
									<div class="col-sm-11">
										<div id="place" class="address_wrap clearfix">
											<div class="address_item">
												<select class="prov form-control" name="province"></select>
											</div>
											<div class="address_item">
												<select class="city form-control" name="city" disabled="disabled"></select>
											</div>
											<div class="address_item">
												<select class="dist form-control" name="area" disabled="disabled"></select>
											</div>
											<div class="address_item address_details">
												<input type="text" placeholder="具体街道或者村镇" class="form-control" name="address.detail">
											</div>
											<div class="address_item address_default">
												原先地址：<span><{$info.place}></span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="meeting_start_time" class="col-sm-1 control-label "><b style="vertical-align: middle;color: red;">*</b>开始时间：</label>
									<div class="col-sm-11">
										<!--<input type="text" class="form-control meeting_start_time" name="meeting_place" id="meeting_start_time">-->
										<div class="input-group date form_datetime" id="meeting_start_time_wrap">
											<input class="form-control" id="meeting_start_time" name="start_time" value="<{$info.start_time}>">
											<!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
											<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
										</div>
									</div>

								</div>
								<div class="form-group">
									<label for="meeting_end_time" class="col-sm-1 control-label "><b style="vertical-align: middle;color: red;">*</b>结束时间：</label>
									<div class="col-sm-11">
										<div class="input-group date form_datetime" id="meeting_end_time_wrap">
											<input class="form-control" id="meeting_end_time" name="end_time" value="<{$info.end_time}>" >
											<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
										</div>
									</div>

								</div>
								<div class="form-group">
									<label for="director_id" class="col-sm-1 control-label "><b style="vertical-align: middle;color: red;">*</b>负责人：</label>
									<div class="col-sm-11">
										<div id="director_id"></div>
									</div>

								</div>
								<div class="form-group">
									<label for="contacts_1_id" class="col-sm-1 control-label ">联系人：</label>
									<div class="col-sm-11">
										<div id="contacts_1_id"></div>
									</div>

								</div>
								<div class="form-group">
									<label for="contacts_2_id" class="col-sm-1 control-label ">联系人2：</label>
									<div class="col-sm-11">
										<div id="contacts_2_id"></div>
									</div>

								</div>
								<div class="form-group">
									<label for="brief" class="col-sm-1 control-label">简介：</label>
									<div class="col-sm-11">
										<textarea class="form-control brief xheditor" runat="server"  name="brief" id="brief" style="min-height: 200px"><{$info.brief}></textarea>
									</div>

								</div>
								<!--<div class="form-group">
									<label for="logo" class="col-sm-1 control-label">LOGO图片地址：</label>
									<div class="col-sm-11">
										<input type="text" class="form-control logo" name="logo" id="logo" value="<{$info.logo}>">
									</div>
								</div>-->
								<div class="form-group">
									<label for="updateBackground" class="col-sm-1 control-label">LOGO图片地址：</label>
									<div class="col-sm-5">
										<div class="bg_up_file">
											<input type="hidden" name="logo" value="<{$info.logo}>">
											<input type="file" class="filePrew" name="logo_upload" id="updateBackground">
											<span class="text"><span class="glyphicon glyphicon-upload" style="margin-right: 5px;"></span><span>上传图片</span></span>
											<button type="button" id="submit_logo" onclick="upLoadLogo()"></button>
										</div>
									</div>
									<div class="col-sm-6">
										<button type="button" class="btn btn-sm btn-success mes_preview_btn" data-toggle="modal" data-target="#see_logo_modal">预览</button>
									</div>
								</div>
								<div class="form-group">
									<label for="comment" class="col-sm-1 control-label">备注：</label>
									<div class="col-sm-11">
										<textarea class="form-control comment" name="comment" id="comment"><{$info.comment}></textarea>
									</div>

								</div>
							</div>
							<input type="hidden" name="requestType" value="alter">
							<div class="modal-footer text_center">
								<button type="submit" class="btn btn-primary" onclick="return checkIsEmpty()">保存</button>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!--预览logo-->
	<div class="modal fade" id="see_logo_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<img id="logo_src" src="<{$info.logo}>">
		</div>
	</div>
	<script>
		var AlterObject = {
			object:{
				icheck           :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				meetingTime      :$('#meeting_start_time_wrap , #meeting_end_time_wrap').datetimepicker({
					language          :'zh-CN',
					todayBtn          :true,
					autoclose         :true,
					todayHighlight    :true,
					keyboardNavigation:true,
					forceParse        :true,
					format            :'yyyy-mm-dd hh:ii:ss',
					weekStart         :0,
					startView         :4,
					minView           :0,
					maxView           :4,
					minuteStep        :5,
					startDate         :new Date()
				}),
				directorIdSelect :$('#director_id').QuasarSelect({
					name        :'director_id',
					classStyle  :'form-control',
					data        :'<{:json_encode($employee_list)}>',
					idInput     :'selected_director_id',
					idHidden    :'selected_director_id_form',
					placeholder :'',
					hasEmptyItem:false,
					defaultValue:'<{$info.director_id}>',
					defaultHtml:'<{$info.director_name}>'

				}),
				contacts1IdSelect:$('#contacts_1_id').QuasarSelect({
					name        :'contacts_1_id',
					classStyle  :'form-control',
					data        :'<{:json_encode($employee_list)}>',
					idInput     :'selected_contacts_1_id',
					idHidden    :'selected_contacts_1_id_form',
					placeholder :'',
					hasEmptyItem:false,
					defaultValue:'<{$info.contacts_1_id}>',
					defaultHtml:'<{$info.contacts_1_name}>'
				}),
				contacts2IdSelect:$('#contacts_2_id').QuasarSelect({
					name        :'contacts_2_id',
					classStyle  :'form-control',
					data        :'<{:json_encode($employee_list)}>',
					idInput     :'selected_contacts_2_id',
					idHidden    :'selected_contacts_2_id_form',
					placeholder :'',
					hasEmptyItem:false,
					defaultValue:'<{$info.contacts_2_id}>',
					defaultHtml:'<{$info.contacts_2_name}>'
				}),
				toast            :$().QuasarToast(),
				loading          :$().QuasarLoading(),
				addressSelect:$("#place").citySelect({
					nodata:"none",
					url   :'<{$Think.COMMON_SCRIPT_PATH}>/jQuery/cityselect/city.min.js'
				})
			}
		};
	</script>
</body>
</html>