<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>会议模块 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/switch/bootstrap-switch.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/switch/js/bootstrap-switch.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor_lang/zh-cn.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=18h24xIQGKWEuIMgHzjsNxMD4HTc9Q7m"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/outerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/outerHeader"/>
				<if condition="$permission_list['MEETING.CREATE']">
					<div class="main_body">
						<section class="content">
							<div class="table_wrap">
								<div class="nav_tab clearfix">
									<div class="nav_tab_li active">
										<a href="javascript:void(0)">新建会议</a>
									</div>
								</div>
							</div>
							<form class="form-horizontal" role="form" method="post" action="" id="form">
								<div class="modal-body" style=" padding: 30px 30px 15px 30px;">
									<div class="form-group">
										<label for="meeting_name" class="col-sm-1 control-label  color-red  "><b style="vertical-align: middle;">*</b>会议名称：</label>
										<div class="col-sm-11">
											<input type="text" class="form-control meeting_name" name="name" id="meeting_name">
										</div>
									</div>
									<div class="form-group">
										<label for="meeting_type" class="col-sm-1 control-label">类型：</label>
										<div class="col-sm-11">
											<select name="type" id="meeting_type" class="form-control">
												<option value="成交会">成交会</option>
												<option value="特训营">特训营</option>
												<option value="优雅女子">优雅女子</option>
												<option value="招商会">招商会</option>
												<option value="启动大会">启动大会</option>
												<option value="大区培训">大区培训</option>
												<option value="总裁见面会">总裁见面会</option>
												<option value="世界纹绣大会">世界纹绣大会</option>
												<option value="战略规划部署会议">战略规划部署会议</option>
												<option value="其他">其他</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="meeting_host" class="col-sm-1 control-label  color-red  "><b style="vertical-align: middle;">*</b>主办方：</label>
										<div class="col-sm-11">
											<input type="text" class="form-control meeting_host" name="host" id="meeting_host">
										</div>
									</div>
									<div class="form-group">
										<label for="meeting_plan" class="col-sm-1 control-label">策划方：</label>
										<div class="col-sm-11">
											<input type="text" class="form-control meeting_plan" name="plan" id="meeting_plan">
										</div>
									</div>
									<div class="form-group">
										<label for="place" class="col-sm-1 control-label">地址：</label>
										<div class="col-sm-11">
											<div class="input-group address_map">
												<input type="text" class="form-control" name="place" id="place">
												<span class="input-group-addon glyphicon glyphicon-send get_map"></span>
											</div>
											<div id="allmap" class="hide" style="width: 100%; height: 400px;"></div>
										</div>
									</div>
									<div class="form-group">
										<label for="meeting_start_time" class="col-sm-1 control-label  color-red  "><b style="vertical-align: middle;">*</b>开始时间：</label>
										<div class="col-sm-11">
											<input class="form-control" id="meeting_start_time" name="start_time">
										</div>
									</div>
									<div class="form-group">
										<label for="meeting_end_time" class="col-sm-1 control-label color-red "><b style="vertical-align: middle;">*</b>结束时间：</label>
										<div class="col-sm-11">
											<input class="form-control" id="meeting_end_time" name="end_time">
										</div>
									</div>
									<div class="form-group">
										<label for="meeting_sign_start_time" class="col-sm-1 control-label  color-red "><b style="vertical-align: middle;">*</b>签到开始时间：</label>
										<div class="col-sm-11">
											<input class="form-control" id="meeting_sign_start_time" name="sign_start_time">
										</div>
									</div>
									<div class="form-group">
										<label for="meeting_sign_end_time" class="col-sm-1 control-label  color-red "><b style="vertical-align: middle;">*</b>签到结束时间：</label>
										<div class="col-sm-11">
											<input class="form-control" id="meeting_sign_end_time" name="sign_end_time">
										</div>
									</div>
									<div class="form-group">
										<label for="director_id" class="col-sm-1 control-label  color-red "><b style="vertical-align: middle;">*</b>负责人：</label>
										<div class="col-sm-11">
											<div id="director_id"></div>
										</div>
									</div>
									<div class="form-group">
										<label for="contacts_1_id" class="col-sm-1 control-label">联系人：</label>
										<div class="col-sm-11">
											<div id="contacts_1_id"></div>
										</div>
									</div>
									<div class="form-group">
										<label for="contacts_2_id" class="col-sm-1 control-label">联系人2：</label>
										<div class="col-sm-11">
											<div id="contacts_2_id"></div>
										</div>
									</div>
									<div class="form-group">
										<label for="client_quota" class="col-sm-1 control-label">邀约人数指标：</label>
										<div class="col-sm-11">
											<input class="form-control" id="client_quota" name="client_quota" type="number" max="9999999999" min="0">
										</div>
									</div>
									<div class="form-group">
										<label for="kpi" class="col-sm-1 control-label">业绩指标：</label>
										<div class="col-sm-11">
											<input class="form-control" id="kpi" name="kpi" type="number" max="999999999" min="0">
										</div>
									</div>
									<div class="form-group">
										<label for="brief" class="col-sm-1 control-label">简介：</label>
										<div class="col-sm-11">
											<textarea class="form-control brief xheditor" runat="server" name="brief" id="brief" style="min-height: 200px"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="updateBackground" class="col-sm-1 control-label">LOGO图片地址：</label>
										<div class="col-sm-10">
											<div class="logo_wp">
												<img src="">
												<div class="logo_not">
													<span class="glyphicon glyphicon-picture"></span>
													<p>请上传尺寸为1080px*640px的.png、.jpg、.gif图片 图片大小小于1M</p>
												</div>
											</div>
											<div class="bg_up_file">
												<input type="hidden" name="logo" value="">
												<input type="file" class="filePrew" name="logo_upload" id="updateBackground">
												<span class="text"><span class="glyphicon glyphicon-upload" style="margin-right: 5px;"></span><span>上传图片</span></span>
												<button type="button" id="submit_logo" onclick="upLoadLogo()"></button>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="comment" class="col-sm-1 control-label">备注：</label>
										<div class="col-sm-11">
											<textarea class="form-control comment" name="comment" id="comment"></textarea>
										</div>
									</div>
								</div>
								<input type="hidden" name="requestType" value="create">
								<div class="modal-footer text_center">
									<button type="submit" class="btn btn-primary" onclick="return checkIsEmpty()">保存</button>
								</div>
							</form>
						</section>
					</div>
				</if>
			</div>
		</div>
	</div>
	<script>
		var CreateObject = {
			object:{
				icheck              :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				meetingStartTime    :jeDate({
					dateCell:"#meeting_start_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, //isClear:false,// 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				meetingEndTime      :jeDate({
					dateCell:"#meeting_end_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, //isClear:false,// 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				meetingSignStartTime:jeDate({
					dateCell:"#meeting_sign_start_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, //isClear:false,// 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				meetingSignEndTime  :jeDate({
					dateCell:"#meeting_sign_end_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, //isClear:false,// 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				directorIdSelect    :$('#director_id').QuasarSelect({
					name         :'director_id',
					classStyle   :'form-control',
					data         :'<{:json_encode($employee_list)}>',
					idInput      :'selected_director_id',
					idHidden     :'selected_director_id_form',
					placeholder  :'',
					hasEmptyItem :true,
					emptyItemHtml:'----- 空 -----',
				}),
				contacts1IdSelect   :$('#contacts_1_id').QuasarSelect({
					name         :'contacts_1_id',
					classStyle   :'form-control',
					data         :'<{:json_encode($employee_list)}>',
					idInput      :'selected_contacts_1_id',
					idHidden     :'selected_contacts_1_id_form',
					placeholder  :'',
					hasEmptyItem :true,
					emptyItemHtml:'----- 空 -----',
				}),
				contacts2IdSelect   :$('#contacts_2_id').QuasarSelect({
					name         :'contacts_2_id',
					classStyle   :'form-control',
					data         :'<{:json_encode($employee_list)}>',
					idInput      :'selected_contacts_2_id',
					idHidden     :'selected_contacts_2_id_form',
					placeholder  :'',
					hasEmptyItem :true,
					emptyItemHtml:'----- 空 -----',
				}),
				toast               :$().QuasarToast(),
				loading             :$().QuasarLoading(),
			}
		};
		$(function(){
			// 百度地图API功能
			var map = new BMap.Map("allmap");
			map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
			var local = new BMap.LocalSearch(map, {
				renderOptions:{map:map}
			});
			$('.get_map').on('click', function(){
				$(this).parents('.form-group').find('#allmap').removeClass('hide');
				var value = $(this).parents('.form-group').find('#place').val();
				local.search(value);
			});
		});
	</script>
</body>
</html>