<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>会议中心 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<if condition="$permission_list['MEETING.VIEW'] and $permission_list['MEETING.VIEW-BRIEF']">
					<div class="main_body">
						<section class="content">
							<div class="table_wrap">
								<header class="title">会议统计</header>
								<div class="modular clearfix">
									<div class="m_item">
										<div class="m_content" style="background: #46B9CB">
											<h3 class="t1">参会人员统计</h3>
											<div class="desc">
												<p>报名人数：<{$statistics.joined}>人 (员工：<{$statistics.employee}>人 / 客户：<{$statistics.client}>人)</p>
												<p>签到人数：<{$statistics.signed}>人</p>
											</div>
											<div class="foot">
												<a href="<{:U('Client/manage', ['mid'=>I('get.mid', 0, 'int')])}>">查看详情</a>
											</div>
										</div>
									</div>
									<div class="m_item">
										<div class="m_content" style="background: #F8AC59">
											<h3 class="t1">收款统计</h3>
											<div class="desc">
												<p>已收款记录：<{$statistics.receivables}>笔</p>
												<p>已收款人数：<{$statistics.receivables_client}>人</p>
												<p>已收款金额：<{$statistics.receivables_price}>元</p>
											</div>
											<div class="foot">
												<a href="<{:U('Receivables/manage', ['mid'=>I('get.mid', 0, 'int')])}>">查看详情</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</if>
			</div>
		</div>
	</div>
</body>
</html>