<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>会议模块 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<!--<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/custom.css">-->
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/cityselect/jquery.cityselect.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/menu"/>
			<div class="mt_wrapper">
				<include file="Public/header"/>
				<div class="mian_body">
					<section class="content">
						<header class="c_header">
							<div class="function_list clearfix">
								<div class="function_btn bg-warning" data-toggle="modal" data-target="#create_meeting" data-backdrop="static">
									<a href="<{:U('Meeting/create')}>"> <i></i>
										<p>创建会议</p>
									</a>
								</div>
								<div class="function_btn bg-danger batch_delete_btn_confirm"  data-toggle="modal" data-target="#batch_delete_meeting" data-backdrop="static">
									<i></i>
									<p>批量删除</p>
								</div>
							</div>
						</header>
						<div class="repertory clearfix">
							<form action="" method="get">
								<div class="input-group repertory_text">
									<input type="search" name="keyword" class="form-control" placeholder="会议名称/拼音简码" value="<{:I('get.keyword', '')}>">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default mian_search">搜索会议</button>
									</span>
								</div>
								<a type="reset" class="btn btn-default mian_search" href="/Meeting/manage.aspx">查看所有</a>
							</form>
						</div>
						<div class="table_wrap">
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>
										<td width="5%" class="all_check">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</td>
										<td width="10%">名称</td>
										<td width="5%">状态</td>
										<td width="5%">类型</td>
										<td width="10%">主办方</td>
										<td width="10%">策划方</td>
										<td width="10%">举办地点</td>
										<td width="10%">开始结束时间</td>
										<td width="5%">负责人</td>
										<td width="10%">创建时间</td>
										<td width="30%">操作</td>
									</tr>
								</thead>
								<tbody>
									<volist name="content" id="vo">
										<tr>
											<td class="check_item"><input type="checkbox" class="icheck" value="<{$vo.id}>" placeholder=""></td>
											<td><{$vo.name}></td>
											<td>
											<span class="color-info">
												<switch name="vo.status">
													<case value="0">禁用</case>


													<case value="1">新建</case>


													<case value="2">进行中</case>


													<case value="3">结束</case>
												</switch>
											</span>
											</td>
											<td>
											<span class="color-info ">
											<switch name="vo.type">
												<case value="1">成交会</case>
												<case value="2">特训营</case>
												<case value="3">优雅女子</case>
												<case value="4">招商会</case>
												<case value="5">启动大会</case>
											</switch>
											</span>
											</td>
											<td><{$vo.host}></td>
											<td><{$vo.plan}></td>
											<td><{$vo.place}></td>
											<td><{$vo.start_time}><br>至<br><{$vo.end_time}></td>
											<td><{$vo.director_name}></td>
											<td><{:date('Y-m-d H:i:s', $vo['creatime'])}></td>
											<td>
												<div class="btn-group" data-id="<{$vo.id}>">
													<a href="<{:U('SignPlace/manage',['mid'=>$vo['id']])}>" type="button" class="btn btn-default btn-xs modify_btn">签到点</a>
													<a href="<{:U('Client/manage',['mid'=>$vo['id']])}>" type="button" class="btn btn-default btn-xs modify_btn">参会人员</a>
													<a href="<{:U('Client/manage',['mid'=>$vo['id']])}>" type="button" class="btn btn-default btn-xs modify_btn">胸卡设计</a>
													<a href="<{:U('Coupon/manage',['id'=>$vo['id']])}>" type="button" class="btn btn-default btn-xs">代金券</a>
													<a href="<{:U('Meeting/alter',['id'=>$vo['id']])}>" type="button" class="btn btn-default btn-xs modify_btn">修改</a>
													<button type="submit" class="btn btn-default btn-xs delete_btn" data-toggle="modal" data-target="#delete_meeting">删除</button>
												</div>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</div>
						<div class="page_wrap">
							<ul class="pagination ">
								<{$page}>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- 删除会议 -->
	<div class="modal fade" id="delete_meeting" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title" id="delete_role_title">删除会议</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete">
					<input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除会议？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认删除</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量删除会议 -->
	<div class="modal fade" id="batch_delete_meeting" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量删除会议</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete">
					<input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除选中会议？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认删除</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				/*toast         :$().QuasarToast(),*/
				icheck:$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				})
			}
		}
	</script>
</body>
</html>