<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>个人中心</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/mobile_common.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/mobile_rem.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:C('PAGE_SUFFIX')}>"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mb_wrap">
		<div class="mb_body">
			<div class="wrap">
				<form class="form-horizontal" role="form" method="post" id="form" action="" onsubmit="return checkIsEmpty()">
					<div class="input_list clearfix">
						<div class="labe">姓&nbsp;&nbsp;&nbsp;&nbsp;名:</div>
						<div class="ipt_wp">
							<div class="ipt">
								<input type="text" id="name" name="name">
							</div>
						</div>
					</div>
					<div class="input_list clearfix">
						<div class="labe">手机号:</div>
						<div class="ipt_wp">
							<div class="ipt">
								<input type="text" id="mobile" name="mobile">
							</div>
						</div>
					</div>
					<div class="input_list">
						<button type="button" id="submit">提交</button>
					</div>
					<input type="hidden" name="requestType" value="create_client">
				</form>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			config:{
				originUrl:(location.origin+"<{:U('Mobile/Client/manage')}>")
			},
			object:{
				toast  :$().QuasarToast({
					fadeDuration:0.1
				}),
				loading:$().QuasarLoading()
			}
		}
	</script>
</body>
</html>