<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>修改密码 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/base64.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/outerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/outerHeader"/>
				<div class="main_body">
					<section class="content" style="padding: 30px;">
						<div>
							<div class="nav_tab clearfix">
								<div class="nav_tab_li">
									<a href="<{:U('My/information')}>">个人信息</a>
								</div>
								<div class="nav_tab_li active">
									<a href="<{:U('My/password')}>">修改密码</a>
								</div>
							</div>
						</div>
						<form class="form-horizontal" role="form" method="post" id="form" action="">
							<input type="hidden" name="requestType" value="change_password">
							<div class="modal-body">
								<div class="form-group">
									<span class="glyphicon glyphicon-user user_btn"></span>
									<label for="username" class="col-sm-1 control-label ">用户名：</label>
									<div class="col-sm-5">
										<input type="text" class="form-control old_password" name="username" id="username" readonly="readonly" value="<{$username}>">
									</div>
								</div>
								<div class="form-group">
									<span class="glyphicon glyphicon-lock old_btn"></span>
									<label for="old_password" class="col-sm-1 control-label ">原密码：</label>
									<div class="col-sm-5">
										<input type="password" class="form-control old_password" name="old_password" id="old_password">
									</div>
								</div>
								<div class="form-group">
									<span class="glyphicon glyphicon-lock new_btn"></span>
									<label for="new_password" class="col-sm-1 control-label  color-red ">新密码：</label>
									<div class="col-sm-5">
										<input type="password" class="form-control new_password" name="new_password" id="new_password">
									</div>
									<div class="col-sm-6">
										<span class="number">至少6位，必须同时包含字母和数字</span>
									</div>
								</div>
								<div class="form-group">
									<span class="glyphicon glyphicon-ok-sign confirm_btn"></span>
									<label for="new_password_2" class="col-sm-1 control-label  color-red ">确认新密码：</label>
									<div class="col-sm-5">
										<input type="password" class="form-control new_password_2" name="new_password_2" id="new_password_2">
									</div>
									<div class="col-sm-6">
										<span class="number">至少6位，必须同时包含字母和数字</span>
									</div>
								</div>
								<div class="form-group">
									<span class="glyphicon glyphicon-user user_btn"></span>
									<label for="username" class="col-sm-1 control-label ">备注：</label>
									<div class="col-sm-5">
										<input type="text" class="form-control " name="remark" id="remark" placeholder="可填写密码提醒">
									</div>
								</div>
								<div class="form-group">
									<span class="glyphicon glyphicon-time user_btn"></span>
									<label for="time" class="col-sm-1 control-label ">上次修改时间：</label>
									<div class="col-sm-5">
										<input type="text" class="form-control time" name="time" id="time" value="" placeholder="<{$edit_time}>" readonly="readonly">
										<span class="text_p"></span>
									</div>
								</div>
								<div class="form-group">
									<span class="glyphicon glyphicon-hourglass user_btn"></span>
									<label for="overdue" class="col-sm-1 control-label ">密码过期：</label>
									<div class="col-sm-5">
										<input type="text" class="form-control overdue" name="overdue" id="overdue" value="" placeholder="您的密码将于 <{$expire}> 天后过期" readonly="readonly">
									</div>
								</div>
							</div>
							<div class="modal-footer text_center">
								<button type="submit" class="btn btn-primary password_btn">保存</button>
							</div>
							<div class="modal-modify">
								<h3>最近3次修改密码日志</h3>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th style="width: 25%">用户</th>
											<th style="width: 25%">时间</th>
											<th style="width: 25%">类型</th>
											<th style="width: 25%">备注</th>
										</tr>
									</thead>
									<tbody>
										<volist name="log_list" id="list_res">
										<tr>
												<td><{$list_res.name}></td>
												<td><{$list_res.creatime}></td>
											    <if condition="$list_res.action eq 'EDIT_PASSWORD'">
												<td>修改密码</td>
												<elseif condition="$list_res.action eq 'RESET_PASSWORD'" />
												<td>重置密码</td>
												</if>
												<td><{$list_res.remark}></td>
										</tr>
										</volist>
									</tbody>
								</table>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
	<script>
		var ThisObject = {
			object:{
				toast:$().QuasarToast(),
			}
		};
	</script>
</body>
</html>