<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>修改密码 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<!--<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/custom.css">-->
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/menu"/>
			<div class="mt_wrapper">
				<include file="Public/header"/>
				<div class="main_body">
					<section class="content" style="padding: 30px;">
						<header>
							<div class="nav_tab clearfix">
								<div class="nav_tab_li">
									<a href="<{:U('Employee/personalInfor')}>">个人信息</a>
								</div>
								<div class="nav_tab_li active">
									<a href="<{:U('Employee/alterPass')}>">修改密码</a>
								</div>
							</div>
						</header>
						<form class="form-horizontal" role="form" method="post" id="form" onsubmit="return checkIsEmpty()">
							<input type="hidden" name="requestType" value="alterPass">
							<div class="modal-body">
								<div class="form-group">
									<label for="ypassword" class="col-sm-1 control-label "><b style="vertical-align: middle;color: red;">*</b>原密码：</label>
									<div class="col-sm-11">
										<input type="password" class="form-control ypassword" name="ypassword" id="ypassword">
									</div>
								</div>
								<div class="form-group">
									<label for="npassword" class="col-sm-1 control-label "><b style="vertical-align: middle;color: red;">*</b>新密码：</label>
									<div class="col-sm-11">
										<input type="password" class="form-control npassword" name="npassword" id="npassword">
									</div>
								</div>
								<div class="form-group">
									<label for="renpassword" class="col-sm-1 control-label "><b style="vertical-align: middle;color: red;">*</b>确认新密码：</label>
									<div class="col-sm-11">
										<input type="password" class="form-control renpassword" name="renpassword" id="renpassword">
									</div>
								</div>
							</div>
							<div class="modal-footer text_center">
								<button type="submit" class="btn btn-primary">保存</button>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				birthDate     :$('#birth_date').datetimepicker({
					language          :'zh-CN',
					todayBtn          :true,
					autoclose         :true,
					todayHighlight    :true,
					keyboardNavigation:true,
					forceParse        :true,
					format            :'yyyy-mm-dd',
					weekStart         :0,
					startView         :2,
					minView           :2,
					maxView           :4,
					minuteStep        :5
				}),
				toast  :$().QuasarToast(),
				icheck             :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				loading            :$().QuasarLoading()
			}
		}
	</script>
</body>
</html>