<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>客户 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/jquery-ui.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Iceman.AlterPopup/jquery-alterPopup.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/print/print.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-ui.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Iceman.AlterPopup/jquery-alterPopup.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:PAGE_SUFFIX}>"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/operate.js"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body data-meeting-id="<{:I('get.mid')}>">
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<div class="main_body">
					<section class="content">
						<div class="table_wrap mb_10">
							<div class="nav_tab clearfix">
								<div class="nav_tab clearfix">
									<if condition="in_array('SEVERAL-CLIENT.VIEW', $permission_list)">
										<div class="nav_tab_li active">
											<a href="<{:U('Client/manage', ['mid'=>I('get.mid', 0, 'int')])}>">客户管理</a>
										</div>
									</if>
									<if condition="in_array('SEVERAL-UNIT.VIEW', $permission_list)">
										<div class="nav_tab_li">
											<a href="<{:U('Client/unit', ['mid'=>I('get.mid', 0, 'int')])}>">会所管理</a>
										</div>
									</if>
									<div class="table_length  pull-right">
										显示： <select>
										<option>5</option>
										<option>10</option>
										<option selected>20</option>
										<option>50</option>
										<option>100</option>
										<option>150</option>
										<option>200</option>
										<option>500</option>
										<option>10000</option>
									</select> 项结果
									</div>
								</div>
							</div>
						</div>
						<div class="c_header">
							<div class="btn_group_wrap">
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="glyphicon glyphicon-plus"></i> 新建客户 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<if condition="in_array('SEVERAL-CLIENT.CREATE', $permission_list)">
											<li><a href="<{:U('Client/create',['mid'=>I('get.mid')])}>">新建客户</a></li>
										</if>
										<if condition="in_array('SEVERAL-CLIENT.MULTI_CREATE', $permission_list)">
											<li class="batch_create_btn"><a href="javascript:void(0)">批量新建客户</a></li>
										</if>
										<if condition="in_array('SEVERAL-CLIENT.IMPORT', $permission_list)">
											<li><a href="<{:U('Client/import',['mid'=>I('get.mid')])}>">批量导入客户</a></li>
										</if>
										<li role="separator" class="divider"></li>
										<if condition="in_array('SEVERAL-CLIENT.DOWNLOAD_IMPORT_TEMPLATE', $permission_list)">
											<li>
												<a href="<{:U('exportTemplate', ['mid'=>I('get.mid', 0, 'int')])}>">下载导入模板</a>
											</li>
										</if>
										<if condition="in_array('SEVERAL-CLIENT.EXPORT', $permission_list)">
											<li>
												<a href="<{:U('exportData', array_merge(I('get.'), ['mid'=>I('get.mid', 0, 'int')]))}>">导出客户信息</a>
											</li>
										</if>
									</ul>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="glyphicon glyphicon-check"></i> 审核/签到 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<if condition="in_array('SEVERAL-CLIENT.REVIEW', $permission_list)">
											<li class="batch_review_btn_confirm"><a href="javascript:void(0)">批量审核</a>
											</li>
										</if>
										<if condition="in_array('SEVERAL-CLIENT.CANCEL_REVIEW', $permission_list)">
											<li class="batch_anti_review_btn_confirm">

												<a href="javascript:void(0)">批量取消审核</a></li>
										</if>
										<li role="separator" class="divider"></li>
										<if condition="in_array('SEVERAL-CLIENT.SIGN', $permission_list)">
											<li class="batch_sign_point"><a href="javascript:void(0)">批量签到</a></li>
										</if>
										<if condition="in_array('SEVERAL-CLIENT.CANCEL_SIGN', $permission_list)">
											<li class="batch_anti_sign_point"><a href="javascript:void(0)">批量取消签到</a>
											</li>
										</if>
									</ul>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="glyphicon glyphicon-cog"></i> 客户配置 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<if condition="in_array('SEVERAL-CLIENT.MANAGE_COLUMN', $permission_list)">
											<li class="">
												<a href="<{:U('Client/columnSetting', ['mid'=>I('get.mid', 0, 'int')])}>">客户字段控制</a>
											</li>
										</if>
										<li role="separator" class="divider"></li>
										<if condition="in_array('SEVERAL-CLIENT.REPEAT_CONFIGURE', $permission_list)">
											<li data-toggle="modal" data-target="#configure_modal">
												<a href="javascript:void(0)">客户重复记录设置</a>
											</li>
										</if>
										<li role="separator" class="divider"></li>
										<if condition="in_array('SEVERAL-CLIENT.SYNCHRONIZE_WECHAT_DATA', $permission_list)">
											<li data-toggle="modal" data-target="#synchronous_wx_modal">
												<a href="javascript:void(0)">同步微信数据</a>
											</li>
										</if>
									</ul>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="glyphicon glyphicon-lock"></i> 基础操作 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<if condition="in_array('SEVERAL-CLIENT.ENABLE', $permission_list)">
											<li class="batch_enable_btn"><a href="javascript:void(0)">批量启用</a></li>
										</if>
										<if condition="in_array('SEVERAL-CLIENT.DISABLE', $permission_list)">
											<li class="batch_disable_btn"><a href="javascript:void(0)">批量禁用</a></li>
										</if>
										<li role="separator" class="divider"></li>
										<if condition="in_array('SEVERAL-CLIENT.DELETE', $permission_list)">
											<li class="batch_delete_btn"><a href="javascript:void(0)">批量删除</a></li>
										</if>
									</ul>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="glyphicon glyphicon-paperclip"></i> 其他操作 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<if condition="in_array('SEVERAL-CLIENT.SEND_INVITATION', $permission_list)">
											<li class="batch_send_message_btn_confirm">
												<a href="javascript:void(0)">批量发送邀请</a>
											</li>
										</if>
										<li role="separator" class="divider"></li>
										<if condition="in_array('SEVERAL-CLIENT.MULTI_ASSIGN_GROUP', $permission_list)">
											<li class="batch_group_btn"><a href="javascript:void(0)">批量分组</a></li>
										</if>
										<if condition="in_array('SEVERAL-CLIENT.MULTI_CHECK_IN_ROOM', $permission_list)">
											<li class="batch_room_btn"><a href="javascript:void(0)">批量分房</a></li>
										</if>
										<!--<if condition="in_array('SEVERAL-CLIENT.MULTI_PRINT_BADGE', $permission_list)">
											<li class="batch_badge"><a href="javascript:void(0)">批量打印胸卡</a></li>
										</if>-->
										<li role="separator" class="divider"></li>
										<if condition="in_array('SEVERAL-CLIENT.GIFT', $permission_list)">
											<li class="batch_receive_gift"><a href="javascript:void(0)">批量领取礼品</a></li>
										</if>
										<if condition="in_array('SEVERAL-CLIENT.REFUND_GIFT', $permission_list)">
											<li class="batch_refund_gift"><a href="javascript:void(0)">批量退还礼品</a></li>
										</if>
									</ul>
								</div>
							</div>
						</div>
						<if condition="in_array('SEVERAL-CLIENT.SEARCH', $permission_list)">
							<div class="repertory clearfix">
								<div class="input-group repertory_text" style="width: 30%">
									<input name="p" type="hidden" value="1">
									<if condition="in_array('SEVERAL-CLIENT.MANAGE_SEARCH_COLUMN', $permission_list)">
										<div class="input-group-addon" data-toggle="modal" data-target="#search_config_modal">
											<b class="glyphicon glyphicon-cog"></b>
										</div>
									</if>
									<input type="search" name="keyword" id="keyword" class="form-control" title="<{$search_column_name}>" placeholder="<{$search_column_name}>" value="<{:I('get.keyword', '')}>">
									<span class="input-group-btn">
										<button type="button" id="main_search" class="btn btn-default main_search">搜索</button>
									</span>
									<!-- 避免回车提交 -->
									<input style="display:none" mce_style="display:none">
								</div>
								<a type="reset" class="btn btn-default main_search" href="<{:U('manage', ['mid'=>I('get.mid', 0, 'int'), 'sid'=>$_GET['sid']])}>">查看所有</a>
							</div>
						</if>
						<if condition="in_array('SEVERAL-CLIENT.FILTER', $permission_list)">
							<div class="m_screen clearfix">
								<div class="screen_title">筛选条件：</div>
								<form action="" method="get" class="sign_check">
									<div class="input-group pull-left check_signed color-1b7e5a">
										<input type="radio" name="sign" class="icheck">&nbsp;&nbsp;签到 (<{$statistics.signed}>)
									</div>
									<div class="input-group pull-left check_not_signed color-1b7e5a">
										<input type="radio" name="sign" class="icheck">&nbsp;&nbsp;未签到 (<{$statistics.notSigned}>)
									</div>
									<div class="input-group pull-left check_reviewed color-2489c5">
										<input type="radio" name="review" class="icheckBlue">&nbsp;&nbsp;审核 (<{$statistics.reviewed}>)
									</div>
									<div class="input-group pull-left check_not_reviewed color-2489c5">
										<input type="radio" name="review" class="icheckBlue">&nbsp;&nbsp;未审核 (<{$statistics.notReviewed}>)
									</div>
									<div class="input-group pull-left type_1 color_red">
										<input type="radio" name="type" class="icheckRed">&nbsp;&nbsp;陪同 (<{$statistics['陪同']}>)
									</div>
									<div class="input-group pull-left type_2 color_red">
										<input type="radio" name="type" class="icheckRed">&nbsp;&nbsp;终端 (<{$statistics['终端']}>)
									</div>
									<div class="input-group pull-left usable color_yellow">
										<input type="radio" name="status" class="icheckYellow">&nbsp;&nbsp;可用 (<{$statistics.enabled}>)
									</div>
									<div class="input-group pull-left disable color_yellow">
										<input type="radio" name="status" class="icheckYellow">&nbsp;&nbsp;禁用 (<{$statistics.disabled}>)
									</div>
								</form>
							</div>
						</if>
						<div class="table_wrap">
							<div class="row mb_10">
								<div class="col-sm-6">
									<span class="current_number">当前列表人数 <b class="color-red"><{$statistics.list}></b> 位</span>，
									<span class="total_client">总人数 <b class="color-red"><{$statistics.total}></b> 位</span>
								</div>
								<if condition="in_array('SEVERAL-CLIENT.MANAGE_LIST_COLUMN', $permission_list)">
									<div class="col-sm-6 text-right">
										<span class="custom_list" data-toggle="modal" data-target="#list_menu"><i class="glyphicon glyphicon-list"></i>&nbsp;列表字段控制</span>
									</div>
								</if>
							</div>
							<table class="table table-bordered table-hover text-center" id="tableExcel">
								<thead>
									<tr>
										<th width="2%" class="all_check">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</th>
										<th width="3%">序号</th>
										<volist name="column_list" id="column">
											<if condition="$column['view'] eq 1">
												<th data-column="<{$column.form}>"><{$column.name}></th>
												<else/>
												<th data-column="<{$column.form}>" class="hide"><{$column.name}></th>
											</if>
										</volist>
										<th>操作</th>
										<th>详情</th>
									</tr>
								</thead>
								<tbody>
									<volist name="list" id="single" key="index">
										<tr data-cid="<{$single.cid}>">
											<td class="check_item">
												<input type="checkbox" class="icheck" value="<{$single.cid}>" data-join-value="<{$single.id}>" placeholder="">
											</td>
											<if condition="$single['new_data'] eq 1">
												<td class="new"><{$index}></td>
												<else/>
												<td><{$index}></td>
											</if>
											<volist name="column_list" id="column">
												<td class="<eq name='column.can_modified' value='1'>can-alter</eq> <eq name='column.view' value='0'>hide</eq>">
													<switch name="column.code">
														<case value="ROYALWISSD-ATTENDEE-SIGN_QRCODE">
															<img src="<{$single[$column['form']]}>" width="50px">
														</case>
														<case value="ROYALWISSD-ATTENDEE-SIGN_CODE_QRCODE">
															<img src="<{$single[$column['form']]}>" width="50px">
														</case>
														<default/>
														<span class="need-alter"><{$single[$column['form']]}></span>
													</switch>
													<span class="hide-form" style="display: none;">
														<switch name="column.code">
															<case value="ROYALWISSD-CLIENT-IS_NEW">
																<select title="" class="form-control" name="<{$column.form}>">
																	<foreach name="is_new_list" key="key" item="value">
																		<option value="<{$key}>"><{$value}></option>
																	</foreach>
																</select>
															</case>
															<case value="ROYALWISSD-CLIENT-GENDER">
																<select title="" class="form-control" name="<{$column.form}>">
																	<foreach name="gender_list" key="key" item="value">
																		<option value="<{$key}>"><{$value}></option>
																	</foreach>
																</select>
															</case>
															<case value="ROYALWISSD-CLIENT-TYPE">
																<select title="" class="form-control" name="<{$column.form}>">
																	<foreach name="type_list" key="key" item="value">
																		<option value="<{$value}>"><{$value}></option>
																	</foreach>
																</select>
															</case>
															<case value="ROYALWISSD-ATTENDEE-CONSUMPTION">
																<input placeholder="" type="number" class="sub_val form-control input-sm" name="<{$column.form}>" value="<{$single[$column['form']]}>">
															</case>
															<case value="ROYALWISSD-ATTENDEE-RECEIVABLES">
																<input placeholder="" type="number" class="sub_val form-control input-sm" name="<{$column.form}>" value="<{$single[$column['form']]}>">
															</case>
															<default/>
															<input placeholder="" class="sub_val form-control input-sm" name="<{$column.form}>" value="<{$single[$column['form']]}>">
														</switch>
														<input type="hidden" name="_column" value="<{$column.form}>">
														<input type="hidden" name="_table" value="<{$column.table}>">
													</span>
												</td>
											</volist>
											<td>
												<div class="btn-group" data-id="<{$single.cid}>" data-status="<{$single.status_code}>">
													<if condition="$single['review_status_code'] neq 1 and $single['status_code'] eq 1 and in_array('SEVERAL-CLIENT.REVIEW', $permission_list)">
														<button type="button" class="btn btn-default btn-xs review_btn">审核</button>
													</if>
													<if condition="$single['review_status_code'] eq 1 and $single['status_code'] eq 1 and in_array('SEVERAL-CLIENT.CANCEL_REVIEW', $permission_list)">
														<button type="button" class="btn btn-default btn-xs anti_review_btn">取消审核</button>
													</if>
													<if condition="$single['review_status_code'] eq 1 and $single['sign_status_code'] eq 1 and $single['status_code'] eq 1 and $single['special_type'] == false and in_array('SEVERAL-CLIENT.CANCEL_SIGN', $permission_list)">
														<button type="button" class="btn btn-default btn-xs anti_sign_btn">取消签到</button>
													</if>
													<if condition="$single['review_status_code'] eq 1 and $single['sign_status_code'] neq 1 and $single['status_code'] eq 1 and $single['special_type'] == false and in_array('SEVERAL-CLIENT.SIGN', $permission_list)">
														<button type="button" class="btn btn-default btn-xs sign_btn">签到</button>
													</if>
													<if condition="$single['review_status_code'] eq 1 and $single['sign_status_code'] eq 1 and $single['gift_status_code'] eq 1 and $single['status_code'] eq 1 and $single['special_type'] == false and in_array('SEVERAL-CLIENT.REFUND_GIFT', $permission_list)">
														<button type="button" class="btn btn-default btn-xs anti_btn_gift">退还礼品</button>
													</if>
													<if condition="$single['review_status_code'] eq 1 and $single['sign_status_code'] eq 1 and $single['gift_status_code'] neq 1 and $single['status_code'] eq 1 and $single['special_type'] == false and in_array('SEVERAL-CLIENT.GIFT', $permission_list)">
														<button type="button" class="btn btn-default btn-xs btn_gift">领取礼品</button>
													</if>
													<if condition="$single['review_status_code'] eq 1 and $single['status_code'] eq 1 and in_array('SEVERAL-CLIENT.SEND_INVITATION', $permission_list)">
														<button type="button" class="btn btn-default btn-xs send_message_btn">发送邀约信息</button>
													</if>
													<!--<if condition="$permission_list['CLIENT.EARN-PAYMENT'] and $single['status_code'] eq 1">
														<a href="<{:U('Receivables/create',['cid'=>$single['cid'], 'mid'=>I('get.mid',0,'int')])}>" class="btn btn-default btn-xs btn_receivables">收款</a>
													</if>-->
													<!--<if condition="$permission_list['CLIENT.ASSIGN-SIGN_PLACE'] and $single['status_code'] eq 1">-->
													<!--<button type="button" class="btn btn-default btn-xs alter_sign_point_btn" data-toggle="modal" data-target="#alter_sign_point">分配签到点</button>-->
													<!--</if>-->
													<!--<a href="<{:U('Badge/preview', ['mid'=>I('get.mid', 0, 'int'), 'cid'=>$single['cid']])}>" class="btn btn-default btn-xs print_badge">打印胸卡</a>-->
													<if condition="in_array('SEVERAL-CLIENT.MODIFY', $permission_list)">
														<a href="<{:U('Client/modify',['id'=>$single['cid'], 'mid'=>I('get.mid',0,'int')])}>" class="btn btn-default btn-xs modify_btn">修改</a>
													</if>
													<if condition="$single['status_code'] eq 1 and in_array('SEVERAL-CLIENT.COPY', $permission_list)">
														<button class="btn btn-default btn-xs btn_copy" type="button">复制</button>
													</if>
													<if condition="in_array('SEVERAL-CLIENT.DELETE', $permission_list)">
														<button type="button" class="btn btn-danger btn-xs delete_btn" data-toggle="modal" data-target="#delete_modal">删除</button>
													</if>
													<switch name="single.status_code">
														<case value="1">
															<if condition="in_array('SEVERAL-CLIENT.DISABLE', $permission_list)">
																<button type="button" class="btn btn-danger btn-xs btn-apply">禁用</button>
															</if>
														</case>
														<case value="0">
															<if condition="in_array('SEVERAL-CLIENT.ENABLE', $permission_list)">
																<button type="button" class="btn btn-success btn-xs btn-apply">启用</button>
															</if>
														</case>
													</switch>
												</div>
											</td>
											<td>
												<div class="btn-group" data-id="<{$single.cid}>" data-join-id="<{$single.id}>">
													<button class="btn btn-default btn-xs details_btn">详情</button>
												</div>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</div>
						<div class="page_wrap">
							<ul class="pagination">
								<{$pagination}>
							</ul>
						</div>
					</section>
				</div>
				<div class="right_details">
					<div class="d_con">
						<span class="close_btn glyphicon glyphicon-remove">
						</span>
						<div class="title">
							<span>详情</span>
						</div>
						<table class="table table-bordered">
							<tbody class="info"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 单个分配签到点 -->
	<div class="modal fade" id="alter_sign_point" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h2 class="modal-title">分配签到点</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="assign_sign_place">
					<input type="hidden" name="cid" id="alter_sign_place_cid">
					<div class="modal-body">
						<div class="coupon_area">
							<div class="coupon_box">
								<div class="coupon_list">
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="sign_place">
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量修改签到点 -->
	<div class="modal fade" id="batch_alter_sign_point" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h2 class="modal-title">分配签到点</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="batch_assign_sign_place">
					<input type="hidden" name="cid" id="alter_multi_sign_place_cid">
					<div class="modal-body">
						<div class="coupon_area">
							<div class="coupon_box">
								<div class="coupon_list">
									<volist name="sign_place_list" id="single">
										<a class="btn btn-default btn-sm" href="javascript:void(0)" role="button" data-id="<{$single.value}>"><{$single.html}></a>
									</volist>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="sign_place">
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量分组 -->
	<div class="modal fade" id="batch_grouping" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h2 class="modal-title">分组</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="assign_group">
					<input type="hidden" name="cid" id="grouping_cid">
					<div class="modal-body">
						<select name="gid" id="group" class="form-control" title="">
							<volist name="group_list" id="single">
								<option value="<{$single.value}>"><{$single.html}></option>
							</volist>
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 删除客户 -->
	<div class="modal fade" id="delete_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">删除客户</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除客户？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认删除</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量删除 -->
	<div class="modal fade" id="batch_delete_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量删除客户</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除已选<span class="sAmount"></span>位客户？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认删除</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 同步微信数据 -->
	<div class="modal fade" id="synchronous_wx_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">同步微信数据</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否同步微信数据？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量领取礼品 -->
	<div class="modal fade" id="batch_receive_gift_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">礼品管理</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="gift"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否批量领取礼品！（<span class="sAmount"></span>位）
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认领取</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量领取礼品 -->
	<div class="modal fade" id="batch_refund_gift_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">礼品管理</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="refund_gift">
					<input type="hidden" name="id" value="">
					<div class="modal-body">
						是否批量退还礼品！（<span class="sAmount"></span>位）
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认领取</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量审核 -->
	<div class="modal fade" id="batch_review_client" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量审核客户</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="review"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否审核已选<span class="sAmount"></span>位客户？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认审核</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量取消审核 -->
	<div class="modal fade" id="batch_anti_review_client" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量取消客户审核</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="cancel_review">
					<input type="hidden" name="id" value="">
					<div class="modal-body">
						是否取消已选<span class="sAmount"></span>位客户审核？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量签到 -->
	<div class="modal fade" id="batch_sign_point" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量签到</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="sign"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否签到已选<span class="sAmount"></span>项？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量取消签到 -->
	<div class="modal fade" id="batch_anti_sign_point" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量取消签到</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="cancel_sign">
					<input type="hidden" name="id" value="">
					<div class="modal-body">
						取消已选<span class="sAmount"></span>项签到？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量发送消息 -->
	<div class="modal fade" id="batch_send_message" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量发送消息</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="send_message">
					<input type="hidden" name="id" value="">
					<div class="modal-body">
						选择<span class="sAmount"></span>位客户发送消息？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量新增客户 -->
	<div class="modal fade" id="batch_create_client" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h2 class="modal-title">批量新增客户</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" id="batch_create_form">
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label ">人数：</label>
							<div class="col-sm-10">
								<input type="number" name="number" class="form-control" id="number">
							</div>
						</div>
						<volist name="column_list_write" id="single">
							<eq name="single.view" value="1">
								<switch name="single.code">
									<case value="ROYALWISSD-CLIENT-IS_NEW">
									</case>
									<case value="ROYALWISSD-CLIENT-GENDER">
									</case>
									<case value="ROYALWISSD-CLIENT-BIRTHDAY">
									</case>
									<case value="ROYALWISSD-CLIENT-ADDRESS">
									</case>
									<case value="ROYALWISSD-CLIENT-POSITION">
									</case>
									<case value="ROYALWISSD-CLIENT-TITLE">
									</case>
									<case value="ROYALWISSD-CLIENT-TYPE">
									</case>
									<case value="ROYALWISSD-CLIENT-MOBILE">
									</case>
									<case value="ROYALWISSD-CLIENT-NAME">
									</case>
									<case value="ROYALWISSD-CLIENT-EMAIL">
									</case>
									<case value="ROYALWISSD-CLIENT-ID_CARD_NUMBER">
									</case>
									<case value="ROYALWISSD-CLIENT-BIRTHDAY">
									</case>
									<case value="ROYALWISSD-ATTENDEE-CONSUMPTION">
									</case>
									<case value="ROYALWISSD-ATTENDEE-RECEIVABLES">
									</case>
									<case value="ROYALWISSD-UNIT-UNIT_IS_NEW">
										<div class="form-group">
											<if condition="$single['must'] eq 1">
												<label class="col-sm-2 control-label color-red"><b style="vertical-align: middle;">*</b><{$single.name}>：</label>
												<else/>
												<label class="col-sm-2 control-label"><{$single.name}>：</label>
											</if>
											<div class="col-sm-10">
												<select name="unit_is_new" title="" class="form-control">
													<volist name="unit_is_new_list" id="single">
														<option value="<{$key}>"><{$single}></option>
													</volist>
												</select>
											</div>
										</div>
									</case>
									<case value="ROYALWISSD-CLIENT-COMMENT">
										<div class="form-group">
											<if condition="$single['must'] eq 1">
												<label class="col-sm-2 control-label color-red"><b style="vertical-align: middle;">*</b><{$single.name}>：</label>
												<else/>
												<label class="col-sm-2 control-label"><{$single.name}>：</label>
											</if>
											<div class="col-sm-10">
												<textarea class="form-control comment" name="comment" id="comment"></textarea>
											</div>
										</div>
									</case>
									<default/>
									<div class="form-group">
										<if condition="$single['must'] eq 1">
											<label class="col-sm-2 control-label color-red"><b style="vertical-align: middle;">*</b><{$single.name}>：</label>
											<else/>
											<label class="col-sm-2 control-label"><{$single.name}>：</label>
										</if>
										<div class="col-sm-10">
											<input type="text" class="form-control <eq name='single.must' value='1'>necessary</eq>" name="<{$single.form}>" placeholder="" id="<{$single.form}>">
										</div>
									</div>
								</switch>
							</eq>
						</volist>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn_save">确定</button>
						<input type="hidden" name="requestType" value="multi_create">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--自定义列表菜单-->
	<div class="modal fade" id="list_menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title" id="myModalLabel">自定义列表字段</h2>
				</div>
				<div class="modal-body">
					<form action="" class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="filed_box">
									<div class="title mb_10"><h3>客户字段控制</h3></div>
									<div class="checkbox_list">
										<div class="checkbox">
											<volist name="column_list" id="single">
												<label class="checkbox-inline field_checkbox">
													<eq name="single.view" value="1">
														<input type="checkbox" class="icheck_f" value="<{$single.form}>" data-code="<{$single.code}>" checked>
														<else/>
														<input type="checkbox" class="icheck_f" value="<{$single.form}>" data-code="<{$single.code}>">
													</eq>
													<{$single.name}> </label>
											</volist>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr class="f-line">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="filed_box">
									<div class="title mb_10"><h3>已选择字段：（可拖动改变字段顺序）</h3></div>
									<div class="btn-group" id="field_list" role="group">
										<volist name="column_list" id="single">
											<eq name="single.view" value="1">
												<a type="button" class="btn btn-sm btn-default" data-form="<{$single.form}>" data-code="<{$single.code}>"> <{$single.name}>
													<input type="hidden" name="code[]" value="<{$single.code}>">
													<input type="hidden" name="form[]" value="<{$single.form}>">
													<input type="hidden" name="table[]" value="<{$single.table}>">
													<input type="hidden" name="name[]" value="<{$single.name}>">
													<input type="hidden" class="c_view" name="view[]" value="<{$single.view}>">
													<input type="hidden" name="must[]" value="<{$single.must}>"> </a>
												<else/>
												<a type="button" class="btn btn-sm btn-default hide" data-form="<{$single.form}>" data-code="<{$single.code}>"> <{$single.name}>
													<input type="hidden" name="code[]" value="<{$single.code}>">
													<input type="hidden" name="form[]" value="<{$single.form}>">
													<input type="hidden" name="table[]" value="<{$single.table}>">
													<input type="hidden" name="name[]" value="<{$single.name}>">
													<input type="hidden" class="c_view" name="view[]" value="<{$single.view}>">
													<input type="hidden" name="must[]" value="<{$single.must}>"> </a>
											</eq>
										</volist>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" name="requestType" value="reset_and_order_column">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary btn-save">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!--配置-->
	<div class="modal fade" id="configure_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title">配置</h2>
				</div>
				<div class="modal-body">
					<form action="" class="form-horizontal">
						<input type="hidden" name="requestType" value="set_configure">
						<div class="form-group">
							<label class="col-sm-4 control-label">客户重复记录判定字段：</label>
							<div class="col-sm-8 clearfix">
								<input type="hidden" name="client_repeat_mode_name" id="client_name" value="<{$client_repeat_mode.clientName}>">
								<input type="hidden" name="client_repeat_mode_unit" id="client_unit" value="<{$client_repeat_mode.clientUnit}>">
								<input type="hidden" name="client_repeat_mode_mobile" id="client_mobile" value="<{$client_repeat_mode.clientMobile}>">
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default client_repeat_mode <eq name='client_repeat_mode.clientName' value='1'>active btn-info</eq>" data-column="client_name">名称</button>
									<button type="button" class="btn btn-default client_repeat_mode <eq name='client_repeat_mode.clientUnit' value='1'>active btn-info</eq>" data-column="client_unit">会所</button>
									<button type="button" class="btn btn-default client_repeat_mode <eq name='client_repeat_mode.clientMobile' value='1'>active btn-info</eq>" data-column="client_mobile">手机</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">客户重复记录时的操作：</label>
							<div class="col-sm-8 clearfix">
								<input type="hidden" name="client_repeat_action" value="<{$client_repeat_action}>">
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default client_repeat_action <eq name='client_repeat_action' value='1'>active btn-info</eq>" data-action="action_override" data-value="1">覆盖旧数据</button>
									<button type="button" class="btn btn-default client_repeat_action <eq name='client_repeat_action' value='2'>active btn-info</eq>" data-action="action_skip" data-value="2">跳过重复数据</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label"></label>
							<div class="col-sm-11">
								<p><span class="glyphicon glyphicon-warning-sign color-red"></span>&nbsp;&nbsp;客户重复记录时的操作只针对新建和导入客户。
								</p>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary btn-save">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!--搜索配置-->
	<div class="modal fade" id="search_config_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title">搜索设置</h2>
				</div>
				<div class="modal-body">
					<form action="" class="form-horizontal">
						<input type="hidden" name="requestType" value="set_search_configure">
						<input type="hidden" name="column">
						<div class="panel panel-info">
							<div class="panel-heading"><h3>搜索字段选择</h3></div>
							<div class="panel-body">
								<div class="row mb_10 line_b text-right">
									<div class="col-sm-8 mb_10"></div>
									<div class="col-sm-2 mb_10 sc_check_all">
										<button type="button" class="btn btn-xs btn-success btn-block" data-name="name">全选</button>
									</div>
									<div class="col-sm-2 mb_10 sc_cancel">
										<button type="button" class="btn btn-xs btn-danger btn-block" data-name="name">取消</button>
									</div>
								</div>
								<div class="row mb_10 line_b base_fields">
									<volist name="column_list_search" id="value">
										<if condition="$value['search'] eq 1">
											<div class="col-sm-3 btn-item mb_10 active">
												<button type="button" class="btn btn-sm btn-info btn-block" data-name="<{$value.form}>"><{$value.name}></button>
											</div>
											<else/>
											<div class="col-sm-3 btn-item mb_10">
												<button type="button" class="btn btn-sm btn-default btn-block" data-name="<{$value.form}>"><{$value.name}></button>
											</div>
										</if>
									</volist>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary btn-save">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 批量分房 -->
	<div class="modal fade" id="batch_choose_room" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">选择房间</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="check_in"> <input type="hidden" name="cid" value="">
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">酒店：</label>
							<div class="col-sm-10">
								<select name="hid" id="hotel" class="form-control"></select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">房间：</label>
							<div class="col-sm-10">
								<div id="room"></div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<input type="hidden" id="default_order_column" value="<{$default_order_column}>">
	<input type="hidden" id="default_order_method" value="<{$default_order_method}>">
	<script>
		var ManageObject = {
			object:{
				room        :$('#room').QuasarSelect({
					name        :'rid',
					classStyle  :'form-control',
					idInput     :'selected_room',
					idHidden    :'selected_room_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				toast       :$().QuasarToast(),
				loading     :$().QuasarLoading(),
				icheck      :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				icheckBlue  :$('.icheckBlue,.icheck_f').iCheck({
					checkboxClass:'icheckbox_square-blue',
					radioClass   :'iradio_square-blue'
				}),
				icheckRed   :$('.icheckRed').iCheck({
					checkboxClass:'icheckbox_square-red',
					radioClass   :'iradio_square-red'
				}),
				icheckYellow:$('.icheckYellow').iCheck({
					checkboxClass:'icheckbox_square-yellow',
					radioClass   :'iradio_square-yellow'
				}),
				icheckF     :$('.icheck_f').iCheck({
					checkboxClass:'icheckbox_flat-blue',
					radioClass   :'icheckbox_flat-blue'
				})
			},
			data  :{
				badgePrintUrl:location.origin+"<{:U('printBadge', ['mid'=>I('get.mid', 0, 'int')])}>"
			}
		};
		$(function(){
			$("#field_list").sortable({
				placeholder:"ui-state-highlight"
			});
			$("#field_list").disableSelection();
		});
	</script>
</body>
</html>