<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>客户 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:PAGE_SUFFIX}>"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body data-meeting-id="<{:I('get.mid')}>" data-place-id="<{:I('get.sid')}>">
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<div class="main_body">
					<section class="content">
						<div class="table_wrap mb_10">
							<div class="nav_tab clearfix">
								<div class="nav_tab_li active">
									<a href="javascript:void(0)">客户签到</a>
								</div>
								<if condition="$client['sign_status_code'] eq 1 and $client['gift_status_code'] neq 1 ">
									<button class="btn gift_btn" data-toggle="modal" data-target="#gift_modal">领取奖品</button>
								</if>
								<!--<button class="btn print_btn" onclick="jqprint()">打印胸卡</button>-->

							</div>
						</div>
						<div class="repertory clearfix">
							<input type="search" id="search_input" class="form-control" placeholder="选中此处" value="<{:I('get.keyword', '')}>" style="height: 60px; font-size: 30px">
						</div>
						<div class="table_wrap">
							<switch name="info_type">
								<case value="0">
									<table class="table table-bordered">
										<tr>
											<td>没有获取到任何客户信息</td>
										</tr>
									</table>
								</case>
								<case value="1">
									<table class="table table-bordered">
										<tr>
											<th width="30%"></th>
											<th width="70%"></th>
										</tr>
										<tr>
											<td colspan="2" style="text-align: center; font-size: 20px; font-weight: bold; color: green">签到成功</td>
										</tr>
										<volist name="column_list" id="single">
											<eq name="single.view" value="1">
												<tr>
													<td><{$single.name}></td>
													<td>
														<switch name="single.code">
															<case value="ROYALWISSD-ATTENDEE-SIGN_QRCODE">
																<img src="<{$client[$single['form']]}>" width="50px">
															</case>
															<case value="ROYALWISSD-ATTENDEE-SIGN_CODE_QRCODE">
																<img src="<{$client[$single['form']]}>" width="50px">
															</case>
															<default/>
															<{$client[$single['form']]}>
														</switch>
													</td>
												</tr>
											</eq>
										</volist>
									</table>
								</case>
							</switch>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div id="print"><{$badge.data}></div>
	<!-- 礼品 -->
	<div class="modal fade" id="gift_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">礼品管理</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="gift"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否领取礼品
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认领取</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<style>
		#print{
			position : fixed;
			width    : 100%;
			height   : 100%;
			left     : 100%;
			top      : 0;
		}

		.badge_muban{
			width  : 100% !important;
			height : 100% !important;
		}
	</style>
	<script>
		function jqprint(){
			$("#print").jqprint();
		}
	</script>
</body>
</html>