<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>角色模块 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<!--<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/custom.css">-->
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/outerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/outerHeader"/>
				<if condition="$permission_list['ROLE.VIEW']">
					<div class="main_body">
						<section class="content">
							<header class="c_header">
								<div class="function_list clearfix">
									<if condition="$permission_list['ROLE.CREATE'] eq 1">
										<div class="function_btn bg-warning" data-toggle="modal" data-target="#create_role">
											<i></i>
											<p>新增角色</p>
										</div>
									</if>
									<if condition="$permission_list['ROLE.DELETE'] eq 1">
										<div class="function_btn bg-danger batch_delete_btn_confirm">
											<i></i>
											<p>批量删除</p>
										</div>
									</if>
								</div>
							</header>
							<div class="repertory clearfix">
								<form action="" method="get">
									<div class="input-group repertory_text">
										<input type="search" name="keyword" class="form-control" placeholder="角色/拼音简码" value="<{:I('get.keyword', '')}>">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default main_search">搜索角色</button>
									</span>
									</div>
									<a type="reset" class="btn btn-default main_search" href="<{:U('manage')}>">查看所有</a>
								</form>
							</div>
							<div class="table_wrap">
								<table class="table table-bordered" style="text-align: center">
									<thead>
										<tr>
											<td width="4%" class="all_check">
												<input type="checkbox" class="icheck" placeholder="" value="">
											</td>
											<td width="3%">序号</td>
											<td width="15%">名称</td>
											<td width="5%">状态</td>
											<td width="5%">用户数</td>
											<td width="5%">等级</td>
											<td width="10%">备注</td>
											<td width="8%">创建时间</td>
											<td width="30%">操作</td>
											<td width="10%">启禁用</td>
										</tr>
									</thead>
									<tbody>
										<volist name="role_list" id="single">
											<if condition="$max_role_level elt $single['level']">
												<tr>
													<td class="check_item">
														<input type="checkbox" class="icheck" placeholder="" value="<{$single.id}>">
													</td>
													<td><{$i}></td>
													<td class="name"><{$single.name}></td>
													<td>
														<switch name="single.status">
															<case value="0"><span class="color-danger">禁用</span></case>
															<case value="1"><span class="color-info">可用</span></case>
														</switch>
													</td>
													<td>
														<if condition="$single['count'] eq 0">
															<{$single.count}>
															<else/>
															<a href="<{:U('Employee/manage', ['rid'=>$single['id']])}>" class="link color-primary"><{$single.count}></a>
														</if>
													</td>
													<td><{$single.level}></td>
													<td><{$single.comment}></td>
													<td><{:date('Y-m-d H:i:s', $single['creatime'])}></td>
													<td>
														<div class="btn-group" data-id="<{$single.id}>">
															<if condition="($permission_list['ROLE.ASSIGN-PERMISSION'] eq 1) and ($permission_list['ROLE.ANTI-ASSIGN-PERMISSION'] eq 1) and ($permission_list['ROLE.VIEW-ASSIGNED-PERMISSION'] eq 1) and ($permission_list['ROLE.VIEW-UNASSIGNED-PERMISSION'] eq 1) and $single['status'] eq 1">
																<button type="button" class="btn btn-default btn-xs authorize_btn" data-toggle="modal" data-target="#authorize_role">授权</button>
															</if>
															<if condition="$permission_list['ROLE.ALTER'] eq 1">
																<button type="button" class="btn btn-default btn-xs modify_btn" data-toggle="modal" data-target="#modify_role">修改</button>
															</if>
															<if condition="$permission_list['ROLE.DELETE'] eq 1">
																<button type="button" class="btn btn-default btn-xs delete_btn" data-toggle="modal" data-target="#delete_role">删除</button>
															</if>
														</div>
													</td>
													<td>
														<div class="btn-group" data-id="<{$single.id}>">
															<if condition="$single['status'] eq 0 and $permission_list['ROLE.ENABLE']">
																<a href="<{:U('RequestHandler/getHandler', ['requestType'=>'get:enable_role', 'id'=>$single['id']])}>" class="btn btn-success btn-xs">启用</a>
															</if>
															<if condition="$single['status'] eq 1 and $permission_list['ROLE.DISABLE']">
																<a href="<{:U('RequestHandler/getHandler', ['requestType'=>'get:disable_role', 'id'=>$single['id']])}>" class="btn btn-danger btn-xs">禁用</a>
															</if>
														</div>
													</td>
												</tr>
											</if>
										</volist>
									</tbody>
								</table>
							</div>
							<div class="page_wrap">
								<div class="pagination">
									<{$page_show}>
								</div>
							</div>
						</section>
					</div>
				</if>
			</div>
		</div>
	</div>
	<!-- 新增角色 -->
	<if condition="$permission_list['ROLE.CREATE'] eq 1">
		<div class="modal fade" id="create_role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title">新增角色</h2>
					</div>
					<form class="form-horizontal" role="form" method="post" action="" onsubmit="return ScriptObject.checkIsEmpty()">
						<input type="hidden" name="requestType" value="create">
						<div class="modal-body">
							<div class="form-group">
								<label for="create_role_name" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>名称：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control name" name="name" id="create_role_name">
								</div>
							</div>
							<div class="form-group">
								<label for="authorize_role_level" class="col-sm-2 control-label">等级：</label>
								<div class="col-sm-10">
									<select class="form-control level" name="level" id="authorize_role_level">
										<if condition="$max_role_level elt 1">
											<option value="1">1</option>
										</if>
										<if condition="$max_role_level elt 2">
											<option value="2">2</option>
										</if>
										<if condition="$max_role_level elt 3">
											<option value="3">3</option>
										</if>
										<if condition="$max_role_level elt 4">
											<option value="4">4</option>
										</if>
										<if condition="$max_role_level elt 5">
											<option value="5">5</option>
										</if>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="create_role_status" class="col-sm-2 control-label">状态：</label>
								<div class="col-sm-10">
									<select name="status" id="create_role_status" class="form-control">
										<option value="1">可用</option>
										<option value="0">禁用</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="create_role_comment" class="col-sm-2 control-label">备注：</label>
								<div class="col-sm-10">
									<textarea class="form-control comment" name="comment" id="create_role_comment"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">新增</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</if>
	<!-- 修改角色 -->
	<if condition="$permission_list['ROLE.ALTER'] eq 1">
		<div class="modal fade" id="modify_role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title" id="modify_role_title">修改角色</h2>
					</div>
					<form class="form-horizontal" role="form" action="" method="post" onsubmit="return ScriptObject.checkIsEmpty2()">
						<input type="hidden" name="requestType" value="alter"> <input type="hidden" name="id">
						<div class="modal-body">
							<div class="form-group">
								<label for="modify_role_name" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>名称：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control name" name="name" id="modify_role_name">
								</div>
							</div>
							<div class="form-group">
								<label for="modify_role_level" class="col-sm-2 control-label">等级：</label>
								<div class="col-sm-10">
									<select class="form-control level" name="level" id="modify_role_level">
										<if condition="$max_role_level elt 1">
											<option value="1">1</option>
										</if>
										<if condition="$max_role_level elt 2">
											<option value="2">2</option>
										</if>
										<if condition="$max_role_level elt 3">
											<option value="3">3</option>
										</if>
										<if condition="$max_role_level elt 4">
											<option value="4">4</option>
										</if>
										<if condition="$max_role_level elt 5">
											<option value="5">5</option>
										</if>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="modify_role_status" class="col-sm-2 control-label">状态：</label>
								<div class="col-sm-10">
									<select name="status" id="modify_role_status" class="form-control">
										<option value="1">可用</option>
										<option value="0">禁用</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="modify_role_comment" class="col-sm-2 control-label">备注：</label>
								<div class="col-sm-10">
									<textarea class="form-control comment" name="comment" id="modify_role_comment"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</if>
	<!-- 删除角色 -->
	<if condition="$permission_list['ROLE.DELETE'] eq 1">
		<div class="modal fade" id="delete_role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title" id="delete_role_title">删除角色</h2>
					</div>
					<form class="form-horizontal" role="form" method="post" action="">
						<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
						<div class="modal-body">
							是否删除角色？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">确认删除</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</if>
	<!-- 角色授权 -->
	<if condition="($permission_list['ROLE.ASSIGN-PERMISSION'] eq 1) and ($permission_list['ROLE.ANTI-ASSIGN-PERMISSION'] eq 1) and ($permission_list['ROLE.VIEW-ASSIGNED-PERMISSION'] eq 1) and ($permission_list['ROLE.VIEW-UNASSIGNED-PERMISSION'] eq 1)">
		<div class="modal fade" id="authorize_role" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 80%">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title text-center" id="authorize_role_title">
							<span class="role_name" style="font-size: 16px; color: #FB5050; margin-left: 10px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;角色授权
						</h2>
					</div>
					<form class="form-horizontal" role="form" method="post">
						<div class="modal-body role_body clearfix">
							<div class="btn_rect">
								<header>
									<h2 class="text-center">已分配的权限</h2>
									<div class="form-group">
										<div class="input-group" id="authorize_search_o">
											<input class="form-control" type="text" placeholder="权限名称">
											<div class="input-group-addon">搜索</div>
										</div>
									</div>
								</header>
								<section class="select_area btn_green" id="authorize_select">
								</section>
							</div>
							<div class="btn_rect">
								<header>
									<h2 class="text-center">未分配的权限</h2>
									<div class="form-group">
										<div class="input-group" id="authorize_search">
											<input class="form-control" type="text" placeholder="权限名称">
											<div class="input-group-addon">搜索</div>
										</div>
									</div>
								</header>
								<section class="all_area clearfix" id="authorize_all">
								</section>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
						<input type="hidden" name="hide_role_id">
					</form>
				</div>
			</div>
		</div>
	</if>
	<!-- 批量删除 -->
	<if condition="$permission_list['ROLE.DELETE'] eq 1">
		<div class="modal fade" id="batch_delete_employee" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title">批量删除角色</h2>
					</div>
					<form class="form-horizontal" role="form" method="post" action="">
						<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
						<div class="modal-body">
							是否删除已选<span class="sAmount"></span>项？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary batch_delete_btn">确认删除</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</if>
	<script>
		var ManageObject = {
			object:{
				toast  :$().QuasarToast(),
				icheck :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				loading:$().QuasarLoading()
			}
		}
	</script>
</body>
</html>