.print_btn{
	position   : absolute;
	top        : 8px;
	right      : 20px;
	background : #00A0E8;
	color      : #FFFFFF;
}

.gift_btn{
	position   : absolute;
	top        : 8px;
	right      : 120px;
	background : #00A0E8;
	color      : #FFFFFF;
}