/**选择收件人**/
.mes_people .m_color{
	color : #FB5050;
}

.list_item{
	margin-bottom : 10px;
}

.mes_people a{
	margin-left : 15px;
	color       : #00A0E8;
}

.mes_people a:hover{
	color : #4EB900;
}

.choose_people{
}

.d_list .add{
	position    : absolute;
	top         : 0;
	right       : 20px;
	width       : 50px;
	height      : 27px;
	line-height : 27px;
	border      : 1px solid #E1E1E1;
	text-align  : center;
	background  : #00A0E8;
	color       : #FFFFFF;
	cursor      : pointer;
}

.d_list .add_employee{
	position    : absolute;
	top         : 0;
	right       : 20px;
	width       : 50px;
	height      : 27px;
	line-height : 27px;
	border      : 1px solid #E1E1E1;
	text-align  : center;
	background  : #00A0E8;
	color       : #FFFFFF;
	cursor      : pointer;
}

.choose_people .d1{
	padding : 10px 20px;
}

.choose_people .d1 span{
	margin-right : 10px;
	font-size    : 14px;
}

.choose_people .d1 .btn_save{
	float : right;
}

.search_sm{
	padding : 5px 15px;
}

#change_room .repertory{
	padding    : 10px 0;
	border-top : none;
}

.client_list{
	width     : 100%;
	overflow  : hidden;
	font-size : 0;
}

.client_list > span{
	display       : inline-block;
	font-size     : 12px;
	background    : #FFFFFF;
	border        : 1px solid #E1E1E1;
	padding       : 4px 10px;
	margin-right  : 10px;
	margin-bottom : 10px;
	cursor        : pointer;
}

.client_list > span.cspan.active{
	border-color : #00A0E8;
}

.client_list.full > span.active{
	background : #00A0E8;
	color      : #FFFFFF;
	border     : #00A0E8;
}

.client_list > span.c_add{
	background   : #FB5050;
	border-color : #FB5050;
	color        : #FFFFFF;
	cursor       : pointer;
	font-weight  : bold;
}

.client_list > span.c_change{
	background   : #23C6C8;
	border-color : #23C6C8;
	color        : #FFFFFF;
	cursor       : pointer;
	font-weight  : bold;
}

.count{
	background    : #ECF1F4;
	color         : #000000;
	padding       : 5px 15px;
	margin-bottom : 10px;
	font-size     : 14px;
	border        : 1px solid #E1E1E1;
}

.href{
	color           : #00A0E8 !important;
	font-weight     : bold;
	text-decoration : underline;
}

.selected_person,.selected_person_e{
	padding : 10px 20px;
	border  : 1px solid #E1E1E1;
}

.selected_person a,.selected_person_e a{
	padding    : 8px 10px;
	display: inline-block;
	margin     : 5px;
	background : #00A0E8;
	color      : #FFFFFF;
}

.repertory a{
	position : relative;
}

.import_report #excel_file{
	position : absolute;
	width    : 100%;
	height   : 100%;
	opacity  : 0;
	top      : 0;
	left     : 0;
}

.import_report #import_sub{
	position : absolute;
	opacity  : 0;
}
