<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>全局配置 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/outerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/outerHeader"/>
				<div class="main_body">
					<section class="content">
						<div class="table_wrap mb_10">
							<div class="nav_tab clearfix">
								<div class="nav_tab_li active">
									<a href="<{:U('System/configure', ['mid'=>I('get.mid', 0, 'int')])}>">基础配置</a>
								</div>
								<div class="nav_tab_li">
									<a href="<{:U('System/apiConfigure', ['mid'=>I('get.mid', 0, 'int')])}>">接口配置</a>
								</div>
							</div>
						</div>
						<div class="table_wrap" style="margin-top: 30px;">
							<form action="" class="form-horizontal" id="form">
								<input type="hidden" name="requestType" value="set_configure">
								<div class="form-group">
									<label class="col-sm-1 control-label">微信公众号：</label>
									<div class="col-sm-5 clearfix">
										<select class="form-control" name="wechat_official_configure">
											<option value="0">---请选择接口配置---</option>
											<volist name="api_configure_list" id="single">
												<if condition="$single['value'] eq $system_configure['wechat_official_configure']['value']">
													<option value="<{$single.value}>" selected><{$single.html}></option>
													<else/>
													<option value="<{$single.value}>"><{$single.html}></option>
												</if>
											</volist>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">微信企业号：</label>
									<div class="col-sm-5 clearfix">
										<select class="form-control" name="wechat_enterprise_configure">
											<option value="0">---请选择接口配置---</option>
											<volist name="api_configure_list" id="single">
												<if condition="$single['value'] eq $system_configure['wechat_enterprise_configure']['value']">
													<option value="<{$single.value}>" selected><{$single.html}></option>
													<else/>
													<option value="<{$single.value}>"><{$single.html}></option>
												</if>
											</volist>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">默认选择：</label>
									<div class="col-sm-5 clearfix">
										<div class="input-group pull-left type_1 ">
											<eq name="system_configure.wechat_mode.value" value="1">
												<input type="radio" name="wechat_mode" class="icheckGreen" value="1" checked>&nbsp;&nbsp;微信公众号
												<else/><input type="radio" name="wechat_mode" class="icheckGreen" value="1">&nbsp;&nbsp;微信公众号
											</eq>
										</div>
										<div class="input-group pull-left type_2" style="margin-left: 20px;">
											<eq name="system_configure.wechat_mode.value" value="2">
												<input type="radio" name="wechat_mode" class="icheckGreen" value="2" checked>&nbsp;&nbsp;微信企业号
												<else/><input type="radio" name="wechat_mode" class="icheckGreen" value="2">&nbsp;&nbsp;微信企业号
											</eq>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<div class="col-sm-6 text-center">
										<button type="button" class="btn btn-primary btn-save">保存</button>
									</div>
								</div>
							</form>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				toast      :$().QuasarToast(),
				loading    :$().QuasarLoading(),
				icheckGreen:$('.icheckGreen').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				})
			}
		}
	</script>
</body>
</html>