<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>项目模块 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<!--<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/custom.css">-->
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<div class="main_body">
					<section class="content">
						<header class="c_header">
							<div class="function_list clearfix">
								<div class="function_btn bg-warning" data-toggle="modal" data-target="#create_coupon">
									<i></i>
									<p>新增项目</p>
								</div>
								<div class="function_btn bg-danger batch_delete_btn_confirm">
									<i></i>
									<p>批量删除</p>
								</div>
							</div>
						</header>
						<div class="repertory clearfix">
							<div class="tabs">
								<ul class="tabsUl clearfix">
									<li class="active" id="filter_btn_all">
										<a href="javascript:void(0)">全部</a>
									</li>
									<li class="" id="filter_btn_using">
										<a href="javascript:void(0)">使用中</a>
									</li>
								</ul>
							</div>
							<form action="" method="get">
								<div class="input-group repertory_text">
									<input type="search" name="keyword" class="form-control" placeholder="项目/拼音简码" value="<{:I('get.keyword', '')}>">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default main_search">搜索</button>
									</span>
								</div>
								<a type="reset" class="btn btn-default main_search" href="<{:U('manage', ['mid'=>I('get.mid', 0, 'int')])}>">查看所有</a>
							</form>
						</div>
						<div class="table_wrap">
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>
										<td width="4%" class="all_check">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</td>
										<td width="6%">序号</td>
										<td width="8%">项目名称</td>
										<td width="8%">类型</td>
										<td width="8%">数量</td>
										<td width="10%">开始时间</td>
										<td width="10%">结束时间</td>
										<td width="8%">状态</td>
										<td width="8%">备注</td>
										<td width="16%">操作</td>
										<td width="6%">启禁用</td>
									</tr>
								</thead>
								<tbody>
									<volist name="coupon_list" id="list">
										<tr>
											<td class="check_item">
												<input type="checkbox" class="icheck" placeholder="" value="<{$list.id}>">
											</td>
											<td><{$i}></td>
											<td class="name"><{$list.name}></td>
											<td class="type">
												<switch name="list.type">
													<case value="1">门票</case>
													<case value="2">代金券</case>
													<case value="3">产品</case>
													<case value="5">定金</case>
													<case value="6">课程费</case>
													<case value="7">产品费</case>
													<case value="8">场餐费</case>
													<case value="4">其他</case>
												</switch>
											</td>
											<td>
												<a href="<{:U('details',['id'=>$list['id'], 'mid'=>I('get.mid',0,'int')])}>" class="link color-primary"><{$list.count}></a>
											</td>
											<td class="start_time"><{$list.start_time|date='Y-m-d',###}></td>
											<td class="end_time"><{$list.end_time|date='Y-m-d',###}></td>
											<td class="status">
												<switch name="list.status">
													<case value="0">禁用</case>
													<case value="1">可用</case>
												</switch>
											</td>
											<td class="comment"><{$list.comment}></td>
											<td>
												<div class="btn-group" data-id="<{$list.id}>">
													<a href="<{:U('details',['id'=>$list['id'], 'mid'=>I('get.mid', 0, 'int')])}>" type="button" class="btn btn-default btn-xs seeList">查看列表</a>
													<button type="button" class="btn btn-default btn-xs modify_btn" data-toggle="modal" data-target="#modify_coupon">修改</button>
													<button type="button" class="btn btn-default btn-xs delete_btn" data-toggle="modal" data-target="#delete_coupon">删除</button>
												</div>
											</td>
											<td>
												<div class="btn-group" data-id="<{$list.id}>">
													<if condition="$list['status'] eq 0">
														<a href="<{:U('RequestHandler/getHandler', ['requestType'=>'get:enable_coupon', 'id'=>$list['id']])}>" class="btn btn-success btn-xs">启用</a>
													</if>
													<if condition="$list['status'] eq 1">
														<a href="<{:U('RequestHandler/getHandler', ['requestType'=>'get:disable_coupon', 'id'=>$list['id']])}>" class="btn btn-danger btn-xs">禁用</a>
													</if>
												</div>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</div>
						<div class="page_wrap">
							<div class="pagination">
								<{$page_show}>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- 新增项目 -->
	<div class="modal fade" id="create_coupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 60%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title" id="create_role_title">新增项目</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit="return checkCreate()">
					<input type="hidden" name="requestType" value="create">
					<div class="modal-body">
						<div class="form-group">
							<label for="coupon_type" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>类型：</label>
							<div class="col-sm-10">
								<select name="type" id="coupon_type" class="form-control">
									<option value="1">门票</option>
									<option value="2">代金券</option>
									<option value="3">产品</option>
									<option value="5">定金</option>
									<option value="6">课程费</option>
									<option value="7">产品费</option>
									<option value="8">场餐费</option>
									<option value="4">其他</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="coupon_name" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>项目名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control name" name="name" id="coupon_name">
							</div>
						</div>
						<div class="form-group mode hide">
							<label class="col-sm-2 control-label">方式：</label>
							<div class="col-sm-10" style="margin:0">
								<ul class="nav nav-pills" id="create_way">
									<li role="presentation" class="single active"><a href="#">单个新增</a></li>
									<li role="presentation" class="mutil"><a href="#">批量新增</a></li>
								</ul>
							</div>
						</div>
						<!-- 单个新增 -->
						<div class="single_box hide c_way">
							<div class="form-group">
								<label class="col-sm-2 control-label">券号：</label>
								<div class="col-sm-10">
									<input type="text" name="coupon_c" class="coupon_area form-control">
								</div>
							</div>
						</div>
						<!-- 批量新增 -->
						<div class="mutil_box hide c_way">
							<div class="form-group">
								<label for="prefix" class="col-sm-2 control-label">前缀：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control prefix" name="prefix" id="prefix">
								</div>
							</div>
							<div class="form-group">
								<label for="start_number" class="col-sm-2 control-label">开始段：</label>
								<div class="col-sm-10">
									<input type="number" class="form-control start_number" name="start_number" id="start_number">
								</div>
							</div>
							<div class="form-group">
								<label for="length" class="col-sm-2 control-label">长度：</label>
								<div class="col-sm-10">
									<input type="number" class="form-control length" name="length" id="length">
								</div>
							</div>
							<div class="form-group">
								<label for="number" class="col-sm-2 control-label">数量：</label>
								<div class="col-sm-10">
									<input type="number" class="form-control number" name="number" id="number">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">券号：</label>
								<div class="col-sm-10">
									<button type="button" class="btn btn-default auto_get_number">自动获取</button>
									<ul class="list_coupon_number clearfix">
									</ul>
								</div>
							</div>
							<div class="form-group">
								<label for="create_role_comment" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p><span class="glyphicon glyphicon-warning-sign color-red"></span>&nbsp;&nbsp;在输入前缀、开始段、长度、数量等字段可自动获取券号。
									</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="start_time" class="col-sm-2 control-label">开始时间：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control start_time" name="start_time" id="start_time">
							</div>
						</div>
						<div class="form-group">
							<label for="end_time" class="col-sm-2 control-label">结束时间：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control end_time" name="end_time" id="end_time">
							</div>
						</div>
						<div class="form-group">
							<label for="create_role_comment" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="create_role_comment"></textarea>
							</div>
						</div>
					</div>
					<input type="hidden" name="coupon_area" value="">
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 修改项目 -->
	<div class="modal fade" id="modify_coupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title" id="modify_role_title">修改项目</h2>
				</div>
				<form class="form-horizontal" role="form" action="" method="post" onsubmit="return checkAlter()">
					<input type="hidden" name="requestType" value="alter"> <input type="hidden" name="id">
					<div class="modal-body">

						<div class="form-group">
							<label for="coupon_name_a" class="col-sm-2 control-label "><b style="vertical-align: middle;color: red;">*</b>项目名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control name" name="name" id="coupon_name_a" value="">
							</div>
						</div>
						<div class="form-group">
							<label for="coupon_type_a" class="col-sm-2 control-label "><b style="vertical-align: middle;color: red;">*</b>类型：</label>
							<div class="col-sm-10">
								<select name="type" id="coupon_type_a" class="form-control">
									<option value="1">门票</option>
									<option value="2">代金券</option>
									<option value="3">产品</option>
									<option value="5">定金</option>
									<option value="6">课程费</option>
									<option value="7">产品费</option>
									<option value="8">场餐费</option>
									<option value="4">其他</option>
								</select>
								<!--<input type="text" class="form-control price" name="type" id="type">-->
							</div>
						</div>
						<div class="form-group">
							<label for="start_time_a" class="col-sm-2 control-label "><b style="vertical-align: middle;color: red;">*</b>开始时间：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control start_time" name="start_time" id="start_time_a">
							</div>
						</div>
						<div class="form-group">
							<label for="end_time_a" class="col-sm-2 control-label "><b style="vertical-align: middle;color: red;">*</b>结束时间：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control end_time" name="end_time" id="end_time_a">
							</div>
						</div>
						<div class="form-group">
							<label for="create_role_comment" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 删除券 -->
	<div class="modal fade" id="delete_coupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h2 class="modal-title">删除券</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除券？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量删除 券-->
	<div class="modal fade" id="batch_delete_coupon" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量删除券</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除已选<span class="sAmount"></span>张券？

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary batch_delete_btn">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				meetingSelect  :$('#meeting').QuasarSelect({
					name        :'mid',
					classStyle  :'form-control',
					data        :'<{:json_encode($meeting_list)}>',
					idInput     :'selected_meeting',
					idHidden    :'selected_meeting_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				/*typeSelect     :$('#coupon_type1,#coupon_type2').QuasarSelect({
				 name        :'type',
				 classStyle  :'form-control',
				 data        :'<{:json_encode($meeting_list)}>',
				 idInput     :'selected_coupon_type',
				 idHidden    :'selected_coupon_type_form',
				 placeholder :'',
				 hasEmptyItem:false
				 }),*/
				createStartTime:jeDate({
					dateCell:"#start_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, // isClear:false, // 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				createEndTime  :jeDate({
					dateCell:"#end_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, // isClear:false, // 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				alterStartTime :jeDate({
					dateCell:"#start_time_a",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, // isClear:false, // 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				alterEndTime   :jeDate({
					dateCell:"#end_time_a",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, // isClear:false, // 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				icheck         :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				toast          :$().QuasarToast(),
				loading        :$().QuasarLoading()
			}
		}
	</script>
</body>
</html>