.mb_body{
	background  : rgba(0, 0, 0, .04);
	position    : relative;
	padding-top : 1.02rem;
}

.toptab{
	position   : fixed;
	top        : 0;
	height     : 1rem;
	padding    : 0.25rem;
	width      : 100%;
	background : #FFFFFF;
	z-index    : 99;
}

.toptab .nav{
	width         : 100%;
	border        : 1px solid #FF5303;
	border-radius : 4px;
}

.toptab .nav a{
	width       : 50%;
	display     : block;
	text-align  : center;
	float       : left;
	height      : 0.5rem;
	line-height : 0.5rem;
	font-size   : 0.18rem;
	color       : #FF5303;
}

.toptab .nav a.active{
	background : #FF5303;
	color      : #FFFFFF;
}

.list{
	width : 100%;
}

.list .li{
	width         : 100%;
	position      : relative;
	margin-bottom : 0.1rem;
	background    : #FFFFFF;
}

.list .li .meeting_name{
	display   : block;
	padding   : 0.2rem 0.4rem;
	font-size : 0.33rem;
}

.list .li .time{
	display   : block;
	padding   : 0.2rem 0.5rem;
	font-size : 0.18rem;
	color     : rgba(0, 0, 0, .6);
}

.list .li .status{
	position      : absolute;
	top           : 5px;
	right         : 5px;
	font-size     : 0.16rem;
	border-radius : 2px;
	padding       : 0.08rem;
	box-shadow    : 1px 1px 1px rgba(0, 0, 0, .1);
}

.list .li .status.ing{
	background : #00DD30;
	color      : #FFFFFF;
	font-size  : 0.16rem;
}

.list .li .status.release{
	background : #00A0E8;
	color      : #FFFFFF;
	font-size  : 0.16rem;
}

.list .li .status.complete{
	background : silver;
	color      : #FFFFFF;
	font-size  : 0.16rem;
}
