.mb_body{
	background : rgba(0, 0, 0, .04);
	position   : relative;
}

.toptab{
	position   : fixed;
	top        : 0;
	height     : 50px;
	padding    : 11px 0.2rem;
	width      : 100%;
	background : #FFFFFF;
	z-index: 99;
}

.toptab .nav a.active{
	background : #FF5303;
	color      : #FFFFFF;
}

.content{
}

.list{
	width : 100%;
}

.list .li{
	width         : 100%;
	position      : relative;
	margin-bottom : 0.1rem;
	background : #FFFFFF;
}

.list .li .meeting_name{
	display    : block;
	padding    : 0.2rem 0.4rem;
	font-size  : 0.33rem;
}
.list .li .time {
	display    : block;
	padding    : 0.2rem 0.5rem;
	color : rgba(0,0,0,.6);
}

.list .li .status{
	position      : absolute;
	top           : 5px;
	right         : 5px;
	font-size     : 0.12rem;
	border-radius : 2px;
	padding       : 0.05rem;
	box-shadow    : 1px 1px 1px rgba(0, 0, 0, .1);
}


.list .li .status.ing{
	background : #00DD30;
	color      : #FFFFFF;
}

.list .li .status.new{
	background : #FFFFFF;
	color      : #EEEEEE;
}
.list .li .status.release{
	background : #00A0E8;
	color      : #FFFFFF;
}
.list .li .status.complete {
	background : silver;
	color      : #FFFFFF;
}
