.mb_body{
	background : rgba(0, 0, 0, .05);
}

.search{
	width      : 100%;
	padding    : 0.1rem;
	text-align : center;
	background : rgba(0, 0, 0, .2);
}

.search .inp{
	width         : 100%;
	padding-right : 1rem;
}

.search .inp .ss{
	border        : 1px solid #E1E1E1;
	border-radius : 5px;
}

.search .inp .ss .search_inp{
	border : none;
	width  : 90%;
	height : 0.6rem;
}

.client_list{
	width      : 100%;
	padding: 0.2rem 0;
}

.client_list > ul > li.client_item{
	background    : #FFFFFF;
	margin-bottom : 0.08rem;
}

.client_list > ul > li.client_item > a{
	padding : 0.2rem;
	display : block;
}