<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>酒店列表 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">

	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/switch/bootstrap-switch.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:C('PAGE_SUFFIX')}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/switch/js/bootstrap-switch.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor_lang/zh-cn.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/operate.js"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<div class="main_body">
					<section class="content">
						<div class="table_wrap mb_10">
							<div class="nav_tab clearfix">
								<div class="nav_tab_li active">
									<a href="javascript:void(0)">酒店管理</a>
								</div>
							</div>
						</div>
						<div class="c_header">
							<div class="function_list clearfix">
								<if condition="in_array('SEVERAL-HOTEL.CREATE', $permission_list)">
									<div class="function_btn" data-toggle="modal" data-target="#create_hotel" data-backdrop="static">
										<a href="javascript:void(0)"> <i class="glyphicon glyphicon-edit"></i>
											<span>创建酒店</span> </a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-HOTEL.DELETE', $permission_list)">
									<div class="function_btn batch_delete_btn">
										<a href="javascript:void(0)"><i class="glyphicon glyphicon-trash"></i>
											<span>批量删除</span></a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-HOTEL.ENABLE', $permission_list)">
									<div class="function_btn batch_enable_btn">
										<a href="javascript:void(0)"> <i class="glyphicon glyphicon-ok-circle"></i>
											<span>批量启用</span></a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-HOTEL.DISABLE', $permission_list)">
									<div class="function_btn batch_disable_btn">
										<a href="javascript:void(0)"><i class="glyphicon glyphicon-ban-circle"></i>
											<span>批量禁用</span></a>
									</div>
								</if>
							</div>
						</div>
						<if condition="in_array('SEVERAL-HOTEL.SEARCH', $permission_list)">
							<div class="repertory clearfix">
							<form action="" method="get">
								<div class="input-group repertory_text">
									<input type="search" name="keyword" id="keyword" class="form-control" placeholder="酒店/拼音简码" value="<{:I('get.keyword', '')}>">
									<span class="input-group-btn">
										<button type="button" id="main_search" class="btn btn-default main_search">搜索</button>
									</span>
								</div>
								<!-- 避免回车提交 -->
								<input style="display:none" mce_style="display:none">
								<a type="reset" class="btn btn-default main_search" href="<{:U('', ['mid'=>I('get.mid', 0, 'int')])}>">查看所有</a>
							</form>
						</div>
						</if>
						<div class="table_wrap">
							<div class="row mb_10">
								<div class="col-sm-6">
									<span class="total_client">共 <b class="color-red"><{:count($list)}></b> 个酒店</span>
								</div>
							</div>
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>
										<th width="5%" class="all_check">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</th>
										<th width="5%">序号</th>
										<th width="15%">酒店名称</th>
										<th width="5%">星级</th>
										<th width="5%">类型</th>
										<th width="15%">地址</th>
										<th width="10%">联系方式</th>
										<th width="5%">状态</th>
										<th width="5%">创建者</th>
										<th width="10%">创建时间</th>
										<th width="20%">操作</th>
									</tr>
								</thead>
								<tbody>
									<volist name="list" id="single">
										<tr>
											<td class="check_item">
												<input type="checkbox" class="icheck" placeholder="" value="<{$single.id}>">
											</td>
											<td><{$i}></td>
											<td class="hotel_name"><{$single.name}></td>
											<td class="level"><{$single.level}></td>
											<td class="type"><{$single.type}></td>
											<td class="address"><{$single.address}></td>
											<td class="contact"><{$single.contact}></td>
											<td class="status"><{$single.status}></td>
											<td class="creator"><{$single.creator}></td>
											<td class="creatime"><{$single.creatime}></td>
											<td>
												<div class="btn-group" data-id="<{$single.id}>" data-status="<{$single.status_code}>">
													<if condition="in_array('SEVERAL-ROOM_TYPE.VIEW', $permission_list)">
														<a href="<{:U('Room/manage',['mid'=>I('get.mid', 0, 'int'),'hid'=>$single['id']])}>" class="btn btn-default btn-xs">房间管理</a>
													</if>
													<if condition="in_array('SEVERAL-ROOM_TYPE.MODIFY', $permission_list)">
														<button class="btn btn-default btn-xs alter_btn" data-toggle="modal" data-target="#alter_hotel">修改</button>
													</if>
													<if condition="in_array('SEVERAL-ROOM_TYPE.DELETE', $permission_list)">
														<button class="btn btn-danger btn-xs delete_btn" data-toggle="modal" data-target="#delete_modal">删除</button>
													</if>
													<switch name="single.status_code">
														<case value="1">
															<if condition="in_array('SEVERAL-ROOM_TYPE.DISABLE', $permission_list)">
																<button type="button" class="btn btn-danger btn-xs btn-apply">禁用</button>
															</if>
														</case>
														<case value="0">
															<if condition="in_array('SEVERAL-ROOM_TYPE.ENABLE', $permission_list)">
																<button type="button" class="btn btn-success btn-xs btn-apply">启用</button>
															</if>
														</case>
													</switch>
												</div>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</div>
						<div class="page_wrap">
							<div class="pagination">
								<{$pagination}>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- 添加酒店 -->
	<div class="modal fade" id="create_hotel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 50%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">新建酒店</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit="return checkIsEmpty()">
					<input type="hidden" name="requestType" value="create">
					<div class="modal-body">
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>酒店名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" id="name">
							</div>
						</div>
						<div class="form-group">
							<label for="level" class="col-sm-2 control-label">星级：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control level" name="level" id="level">
							</div>
						</div>
						<div class="form-group">
							<label for="type" class="col-sm-2 control-label">类型：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control type" name="type" id="type">
							</div>
						</div>
						<div class="form-group">
							<label for="address" class="col-sm-2 control-label">地址：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control address" name="address" id="address">
							</div>
						</div>
						<div class="form-group">
							<label for="contact" class="col-sm-2 control-label">联系方式：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control contact" name="contact" id="contact">
							</div>
						</div>
						<div class="form-group">
							<label for="brief" class="col-sm-2 control-label">简介：</label>
							<div class="col-sm-10">
								<!--	<input type="text" class="form-control brief" name="brief" id="brief">-->
								<textarea class="form-control brief xheditor" runat="server" name="brief" id="brief" style="min-height: 200px"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="room_comment" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="room_comment"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 修改酒店信息 -->
	<div class="modal fade" id="alter_hotel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style=" width: 50%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">修改酒店信息</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit="return checkIsEmptyAlter()">
					<input type="hidden" name="requestType" value="modify"><input type="hidden" name="id">
					<div class="modal-body">
						<div class="form-group">
							<label for="name_a" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>酒店名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" id="name_a">
							</div>
						</div>
						<div class="form-group">
							<label for="level_a" class="col-sm-2 control-label">星级：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control level_a" name="level" id="level_a">
							</div>
						</div>
						<div class="form-group">
							<label for="type_a" class="col-sm-2 control-label">类型：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control type" name="type" id="type_a">
							</div>
						</div>
						<div class="form-group">
							<label for="address_a" class="col-sm-2 control-label">地址：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control address_a" name="address" id="address_a">
							</div>
						</div>
						<div class="form-group">
							<label for="contact_a" class="col-sm-2 control-label">联系方式：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control contact_a" name="contact" id="contact_a">
							</div>
						</div>
						<div class="form-group">
							<label for="brief_a" class="col-sm-2 control-label">简介：</label>
							<div class="col-sm-10">
								<!--	<input type="text" class="form-control brief" name="brief" id="brief">-->
								<textarea class="form-control brief xheditor" runat="server" name="brief" id="brief_a" style="min-height: 200px"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="room_comment_a" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control room_comment_a" name="comment" id="room_comment_a"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 删除酒店 -->
	<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">删除记录</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量删除 -->
	<div class="modal fade" id="batch_delete_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量删除酒店</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除已选<span class="sAmount"></span>项？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认删除</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				toast       :$().QuasarToast(),
				icheck      :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				loading     :$().QuasarLoading(),
				switchWechat:$('.select_hotel').bootstrapSwitch(),
			}
		}
	</script>
</body>
</html>