<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>添加收款</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/mobile_common.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:C('PAGE_SUFFIX')}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/mobile_rem.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<if condition="$permission_list['WEIXIN.CLIENT.RECEIVABLES'] eq 1">
		<div id="mb_wrap" style="padding-bottom: 0.8rem">
			<div class="top_title">
				<a  href="javascript:history.go(-1)"  class="back glyphicon glyphicon-chevron-left"></a>
			</div>
			<form action="" method="post" id="form">
				<input type="hidden" name="requestType" value="create_receivables">
				<div class="mb_body">
					<div class="content">
						<ul class="info_list">
							<li class="info_li">
								<div class="item">
									<span class="labe"><b style="vertical-align: middle;color: red;">*</b>客户姓名:</span>
									<div>
										<span style="line-height: 0.6rem"><{$client.name}></span>
									</div>
								</div>
							</li>
							<li class="info_li">
								<div class="item">
									<span class="labe"><b style="vertical-align: middle;color: red;">*</b>金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额:</span>
									<div class="inp">
										<input type="text" name="price">
									</div>
								</div>
							</li>
							<li class="info_li">
								<div class="item">
									<span class="labe">支付方式:</span>
									<div>
										<select name="method" id="method" class="form-control input-sm">
											<option>无</option>
											<volist name="method" id="list">
												<option value="<{$list.id}>"><{$list.name}></option>
											</volist>
										</select>
									</div>
								</div>
							</li>
							<li class="info_li">
								<div class="item">
									<span class="labe">收款类型:</span>
									<div>
										<select name="type" id="type" class="form-control input-sm">
											<option>无</option>
											<volist name="receivables_type" id="info">
												<option value="<{$info.id}>"><{$info.name}></option>
											</volist>
										</select>
									</div>
								</div>
							</li>
							<li class="info_li">
								<div class="item">
									<span class="labe">pos机:</span>
									<div>
										<select name="pos" id="pos" class="form-control input-sm">
											<option>无</option>
											<volist name="pos" id="info">
												<option value="<{$info.id}>"><{$info.name}></option>
											</volist>
										</select>
									</div>
								</div>
							</li>
							<!--<li class="info_li">
								<div class="item">
									<span class="labe">收款人:</span>
									<div class="inp">
										<input type="text" name="payee_id" value="<{$employee.name}>" disabled="true">
									</div>
								</div>
							</li>-->
							<li class="info_li">
								<div class="item">
									<span class="labe">代金券:</span>
									<div class="inp">
										<input type="text" name="coupon_name">
									</div>
									<input type="hidden" name="coupon_id">
								</div>
							</li>
							<li class="info_li">
								<div class="item">
									<span class="labe">收款地点:</span>
									<div class="inp">
										<input type="text" name="place">
									</div>
								</div>
							</li>
							<li class="info_li">
								<div class="item">
									<span class="labe">来源状态:</span>
									<div>
										<select name="source_type" id="source_type" class="form-control input-sm">
											<option value="0">会前收款</option>
											<option value="1">会中收款</option>
											<option value="2">会后收款</option>
										</select>
									</div>
								</div>
							</li>
							<li class="info_li">
								<div class="item" style="height: auto">
									<span class="labe">备注:</span>
									<div>
										<textarea name="comment" class="form-control"></textarea>
									</div>
								</div>
							</li>
							<input type="hidden" name="mid" value="<{:I('get.mid', 0, 'int')}>">
						</ul>
					</div>
					<div class="submit">
						<button type="button">提交</button>
					</div>
				</div>
			</form>
		</div>
		<div id="mb_layer" class="hide">
			<div class="search">
				<form action="" method="get" id="form_modal">
					<div class="input-group repertory_text">
						<input type="search" name="keyword" class="form-control" placeholder="姓名/拼音简码" id="keyword">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default main_search glyphicon glyphicon-search" style="top: 0;color: rgba(0,0,0,.5);"></button>
					</span>
					</div>
				</form>
			</div>
			<div class="client_list">
				<volist name="coupon_item" id="unit_list">
					<div class="list_item open">
						<div class="title"><{$key}> (<{:count($unit_list)}>)<span class="icon glyphicon glyphicon-chevron-down"></span>
						</div>
						<ul class="list_item_ul clearfix">
							<volist name="unit_list" id="single">
								<li class="client_item">
									<a data-id="<{$single.id}>"> <span class="name"><{$single.code}></span> </a>
								</li>
							</volist>
						</ul>
					</div>
				</volist>
			</div>
			<div class="footer_coupon">
				<button type="button" class="btn btn-default btn-sm confirm_close">确认并关闭</button>
			</div>
		</div>
	</if>
	<script>
		var ThisObject = {
			object:{
				clientName:$('#name').QuasarSelect({
					name        :'client_name',
					classStyle  :'form-control',
					data        :'<{:json_encode($client_list)}>',
					idInput     :'selected_client_name',
					idHidden    :'selected_client_name_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				toast     :$().QuasarToast(),
				loading   :$().QuasarLoading()
			}
		}
	</script>
</body>
</html>