<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title><{$title}></title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/mobile_common.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:C('PAGE_SUFFIX')}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/mobile_rem.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mb_wrap">
		<if condition="$permission_list['WEIXIN.CLIENT.VIEW'] eq 1">
			<div class="top_title">
				<a  href="javascript:history.go(-1)"  class="back glyphicon glyphicon-chevron-left"></a>
			</div>
			<div class="mb_body">
				<div class="content">
					<div class="search">
						<form action="" method="get">
							<div class="input-group repertory_text">
								<input type="search" name="keyword" class="form-control" placeholder="姓名/拼音简码" value="<{:I('get.keyword', '')}>">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default main_search glyphicon glyphicon-search" style="top: 0;color: rgba(0,0,0,.5);"></button>
							</span>
							</div>
						</form>
					</div>
					<div class="client_list">
						<volist name="list" id="unit_list">
							<div class="list_item open">

								<div class="title"><{$key}> (<{:count($unit_list)}>)<span class="icon glyphicon glyphicon-chevron-down"></span>
								</div>

								<ul class="list_item_ul">
									<volist name="unit_list" id="single">
										<li class="client_item">
											<a href="<{:U('client',['cid'=>$single['cid'],'mid'=>I('get.mid',0,'int')])}>">
												<span class="name"><{$single.name}></span>

												<switch name="single.receivables">
													<case value="1"><span class="status receivables">已收款</span></case>
													<case value="0"><span class="status unReceivables">未收款</span></case>
												</switch>

											</a>
										</li>
									</volist>
								</ul>

							</div>
						</volist>
					</div>
				</div>
			</div>
		</if>
		<div id="mb_footer">
			<if condition="$permission_list['WEIXIN.MEETING.VIEW'] eq 1">
				<a href="<{:U('meeting', ['mid'=>I('get.mid', 0, 'int')])}>" class="ft_a"><span>会议详情</span> </a>
			</if>
			<if condition="$permission_list['WEIXIN.CLIENT.VIEW'] eq 1">
				<a href="<{:U('clientList', ['mid'=>I('get.mid', 0, 'int')])}>" class="ft_a active"><span>参会人员</span>
				</a>
			</if>
			<if condition="$permission_list['WEIXIN.RECEIVABLES.VIEW'] eq 1">
				<a href="<{:U('myReceivables', ['mid'=>I('get.mid', 0, 'int')])}>" class="ft_a"> <span>我的收款</span> </a>
			</if>
			<if condition="$permission_list['WEIXIN.RECEIVABLES.VIEW-ALL'] eq 1">
				<a href="<{:U('receivablesRecord', ['mid'=>I('get.mid', 0, 'int')])}>" class="ft_a"> <span>收款记录</span>
				</a>
			</if>
		</div>
	</div>
	<script>
		var ThisObject = {
			object:{
				toast:$().QuasarToast()
			}
		}
	</script>
</body>
</html>