<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>个人中心</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/mobile_common.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/mobile_rem.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<if condition="$permission_list['WECHAT.CLIENT.VIEW'] eq 1">
		<div id="mb_wrap">
			<div class="top_title">
				<a  href="javascript:history.go(-1)"  class="back glyphicon glyphicon-chevron-left"></a>
			</div>
			<div class="mb_body">
				<div class="topbar">
					<div class="topbarBg"><img src="<{$Think.COMMON_IMAGE_PATH}>/topbarBg.jpg" alt=""></div>
					<span class="photo"><img src="<{$wechat_info.avatar}>"></span>
				</div>
				<div class="content">
					<div class="myInfor">
						<div class="li">
							<span class="lab">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</span> <span><{$info.name}></span>
						</div>
						<div class="li">
							<span class="lab">性&nbsp;&nbsp;&nbsp;&nbsp;别：</span>
						<span>
							<switch name="info.gender">
								<case value="0">未指定</case>
								<case value="1">男</case>
								<case value="2">女</case>
							</switch>
						</span>
						</div>
						<div class="li">
							<span class="lab">单&nbsp;&nbsp;&nbsp;&nbsp;位：</span> <span><{$info.unit}></span>
						</div>
						<div class="li">
							<span class="lab">手机号：</span> <span><{$info.mobile}></span>
						</div>
						<if condition="$info.status eq 0">
							<div class="li">
								<span class="lab">状&nbsp;&nbsp;&nbsp;&nbsp;态：</span> <span style="font-weight: bold; color: red">已禁用</span>
							</div>
						</if>
					</div>
					<if condition="$info.status eq 1">
					<div class="my_receivables">
						<header>收款记录</header>
						<section class="receivables_list">
							<volist name="list" id="single">
								<div class="receivables_item flex_wrap">
									<div class="flex_1"><{$info.name}></div>
									<div class="flex_1"><{$single.method_name}></div>
									<div class="flex_1"><{$single.type_name}></div>
									<div class="flex_1"><{$single.price}></div>
									<div class="flex_1 link">
										<a href="<{:U('receivablesDetails',['id'=>$single['id'],'mid'=>I('get.mid',0,'int')])}>" target="_blank">详情</a>
									</div>
								</div>
							</volist>
						</section>
					</div>
					</if>
				</div>
			</div>
		</div>

		<!-- 客户ID值-->
		<input type="hidden" name="client_id" value="<{:I('get.cid',0,'int')}>" id="h_cid">
		<!-- 会议ID值-->
		<input type="hidden" name="meeting_id" value="<{:I('get.mid',0,'int')}>" id="h_mid">
	</if>
	<if condition="$info.status eq 1">
	<div id="mb_footer">
		<if condition="$permission_list['WECHAT.CLIENT.RECEIVABLES'] eq 1">
			<a href="<{:U('AddReceivables',['cid'=>$info['cid'],'mid'=>$info['mid']])}>" class="ft_a receivables_btn"><span>添加收款</span>
			</a>
		</if>
	</div>
		</if>
	<script>
		var ManageObject = {
			object:{
				toast  :$().QuasarToast(),
				loading:$().QuasarLoading(),
			}
		}
	</script>
</body>
</html>