<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>会议详情</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/mobile_common.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:C('PAGE_SUFFIX')}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/mobile_rem.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body style="padding-bottom: 1.2rem">
	<div id="mb_wrap">
		<div class="mb_body">
			<div class="topbar">
				<div class="status">
					<a href="<{:U('clientList', ['mid'=>I('get.mid', 0, 'int')])}>" class="st enroll">
						<b><{$join_count}></b> <span>已报名</span> </a>
					<a href="<{:U('clientList', ['mid'=>I('get.mid', 0, 'int'), 'receivables'=>1])}>" class="st sign"><b style="font-size: 0.6rem;"><{$count}></b>
						<span>已收款</span> </a>
					<a href="<{:U('clientList', ['mid'=>I('get.mid', 0, 'int'), 'receivables'=>0])}>" class="st unsign">
						<b><{$join_count-$count}></b><span>未收款</span> </a>
				</div>
				<div class="topbarBg"><img src="<{$Think.COMMON_IMAGE_PATH}>/topbarBg.jpg" alt="bg"></div>
				<div class="logo"><img src="<{$meeting.logo}>" alt="logo"></div>
			</div>
			<div class="content">
				<div class="myInfor">
					<div class="li">
						<span class="lab">会议名称：</span> <span><{$meeting.name}></span>
					</div>
					<div class="li">
						<span class="lab">状　　态：</span> <span>
						<switch name="meeting.status">
							<case value="1">新会议</case>
							<case value="2">已发布</case>
							<case value="3">进行中</case>
							<case value="4">已结束</case>
						</switch>
					</span>
					</div>
					<div class="li">
						<span class="lab">类　　型：</span> <span><{$meeting.type}></span>
					</div>
					<div class="li">
						<span class="lab">主&nbsp;&nbsp;办&nbsp;&nbsp;方：</span> <span><{$meeting.host}></span>
					</div>
					<div class="li">
						<span class="lab">策&nbsp;&nbsp;划&nbsp;&nbsp;方：</span> <span><{$meeting.plan}></span>
					</div>
					<div class="li">
						<span class="lab">地　　点：</span> <span><{$meeting.place}></span>
					</div>
					<div class="li">
						<span class="lab">开始时间：</span> <span><{$meeting.start_time}></span>
					</div>
					<div class="li">
						<span class="lab">结束时间：</span> <span><{$meeting.end_time}></span>
					</div>
					<div class="li">
						<span class="lab">负&nbsp;&nbsp;责&nbsp;&nbsp;人：</span> <span><{$meeting.director}></span>
					</div>
					<div class="li">
						<span class="lab">简　　介：</span> <span><{$meeting.brief}></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="mb_footer">
		<a href="<{:U('meeting', ['mid'=>I('get.mid', 0, 'int')])}>" class="ft_a active"><span>会议详情</span> </a>
		<a href="<{:U('clientList')}>" class="ft_a"><span>参会人员</span> </a>
		<a href="<{:U('myReceivables')}>" class="ft_a"> <span>我的收款</span> </a>
		<a href="<{:U('receivablesRecord')}>" class="ft_a"> <span>收款记录</span> </a>
		<a href="<{:U('addReceivables')}>" class="add_client glyphicon glyphicon-plus"></a>
	</div>
	<script>
		var ThisObject = {
			object:{
				toast:$().QuasarToast()
			}
		}
	</script>
</body>
</html>