<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>参会人员 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:PAGE_SUFFIX}>"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
	<!--<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jqprint/jquery-1.4.4.min.js"></script>-->
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jqprint/jquery.jqprint-0.3.js"></script>
</head>
<body data-meeting-id="<{:I('get.mid')}>" data-place-id="<{:I('get.sid')}>">
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<if condition="$permission_list['CLIENT.SIGN'] eq 1 and $permission_list['CLIENT.VIEW'] eq 1">
					<div class="main_body">
						<section class="content">
							<div class="table_wrap">
								<div class="nav_tab clearfix">
									<div class="nav_tab_li active">
										<a href="javascript:void(0)">参会人员签到</a>
									</div>
									<button class="btn print_btn" onclick="jqprint()">打印</button>
								</div>
							</div>
							<div class="repertory clearfix">
								<form action="" method="get" id="form">
									<input type="search" id="search_input" class="form-control" placeholder="选中此处" value="<{$client.name}>" style="height: 60px; font-size: 30px">
								</form>
							</div>
							<div class="table_wrap">
								<if condition="$info_type eq 0">
									<table class="table table-bordered">
										<tr>
											<td>没有获取到任何参会人员信息</td>
										</tr>
									</table>
								</if>
								<if condition="$info_type eq 1">
									<table class="table table-bordered">
										<tr>
											<td>该参会人员(<b><{$client.name}></b>)没有被审核</td>
										</tr>
									</table>
								</if>
								<if condition="$info_type eq 2">

									<table class="table table-bordered">
										<tr>
											<td>姓名</td>
											<td><{$client.name}></td>
										</tr>
										<tr>
											<td>单位</td>
											<td><{$client.unit}></td>
										</tr>
										<tr>
											<td>手机号</td>
											<td><{$client.mobile}></td>
										</tr>
										<tr>
											<td>性别</td>
											<td>
												<switch name="client.gender">
													<case value="0">未指定</case>
													<case value="1">男</case>
													<case value="2">女</case>
												</switch>
											</td>
										</tr>
										<tr>
											<td>类型</td>
											<td><{$client.type}></td>
										</tr>
										<tr>
											<td>是否新客</td>
											<td>
												<switch name="client.is_new">
													<case value="0">老客</case>
													<case value="1">新客</case>
												</switch>
											</td>
										</tr>
										<tr>
											<td>是否审核</td>
											<td>
												<switch name="client.review_status">
													<case value="1"><span class="color-green">已审核</span></case>
													<default/>
													未审核
												</switch>
											</td>
										</tr>
										<tr>
											<td>是否签到</td>
											<td>
												<switch name="client.sign_status">
													<case value="1"><span class="color-green">已签到</span></case>
													<default/>
													未签到
												</switch>
											</td>
										</tr>
									</table>
								</if>
							</div>
						</section>
					</div>
				</if>
			</div>
		</div>
	</div>
	<div id="print"><{$badge.data}></div>
	<style>
		#print{
			position : fixed;
			width    : 100%;
			height   : 100%;
			left     : 100%;
			top      : 0;
		}
		.badge_muban{
			width  : 100% !important;
			height : 100% !important;
		}
	</style>
	<script>
		function jqprint(){
			$(".badge_box").jqprint();
		}
	</script>
</body>
</html>