<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>房间分配 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/menu"/>
			<div class="mt_wrapper">
				<include file="Public/header"/>
				<div class="main_body">
					<section class="content">
						<header class="c_header">
							<div class="function_list clearfix">
								<if condition="$permission_list['ROLE.CREATE'] eq 1">
									<div class="function_btn bg-warning" data-toggle="modal" data-target="#distribution_room">
										<i></i>
										<p>房间分配</p>
									</div>
								</if>
								<if condition="$permission_list['ROLE.DELETE'] eq 1">
									<div class="function_btn bg-danger batch_delete_btn_confirm">
										<i></i>
										<p>批量删除</p>
									</div>
								</if>
							</div>
						</header>
						<div class="repertory clearfix">
							<form action="" method="get">
								<div class="input-group repertory_text">
									<input type="search" name="keyword" class="form-control" placeholder="房间/拼音简码" value="">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default mian_search">搜索</button>
									</span>
								</div>
								<a type="reset" class="btn btn-default mian_search" href="<{:U('details')}>">查看所有</a>
							</form>
						</div>
						<div class="table_wrap">
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>
										<td width="4%" class="all_check">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</td>
										<td width="3%">序号</td>
										<td width="8%">房间号</td>
										<td width="8%">房间类型</td>
										<td width="8%">价格</td>
										<td width="8%">可容纳人数</td>
										<td width="10%">入住情况</td>
										<td width="8%">房客类型</td>
										<td width="10%">创建时间</td>
										<td width="13%">备注</td>
										<td width="20%">操作</td>
									</tr>
								</thead>
								<volist name="room_info" id="room_info">
									<tbody>
										<tr>
											<td class="check_item">
												<input type="checkbox" class="icheck" placeholder="" value="<{$room_info.id}>">
											</td>
											<td><{$i}></td>
											<td class="room_code"><{$room_info.code}></td>
											<td class="room_type"><{$room_info.type}></td>
											<td class="price"><{$room_info.price}></td>
											<td class="capacity"><{$room_info.capacity}></td>
											<td>
												<if condition="$room_info.count eq $room_info.capacity "> 住满
													<elseif condition=" $room_info.count gt $room_info.capacity  "/>
													已超过容纳人数(已住进<span style="color: red;"><{$room_info.count}>人</span>/<span style="color: royalblue;;">可容纳<{$room_info.capacity}>人</span>)
													<else/>
													未住满(已入住<span style="color: red;"><{$room_info.count}></span>人,可容纳<span style="color: red;"><{$room_info.capacity}>人</span>)
												</if>
											</td>
											<td class="client_type"><{$room_info.client_type}></td>
											<td class="come_time"><{$room_info.creatime|date='Y-m-d H:s',###}></td>
											<td class="comment"><{$room_info.comment}></td>
											<td>
												<div class="btn-group" data-id="<{$room_info.id}>">
													<button class="btn btn-default btn-xs alter_btn" data-toggle="modal" data-target="#alter_room">修改</button>
													<button class="btn btn-default btn-xs delete_btn" data-toggle="modal" data-target="#delete_room">删除</button>
													<button class="btn btn-default btn-xs details_btn">详情</button>
												</div>
											</td>
										</tr>
									</tbody>
								</volist>
							</table>
						</div>
						<div class="page_wrap">
							<div class="pagination">
								<{$page_show}>
							</div>
						</div>
					</section>
				</div>
				<div class="right_details">
					<div class="d_con">
						<span class="close_btn glyphicon glyphicon-remove">
						</span>
						<div class="title">
							<span>详情</span>
						</div>
						<div class="info">
							<div class="li">
								<span>房间号：</span> <span class="room_code"></span>
							</div>
							<div class="li">
								<span>房间类型：</span> <span class="room_type"></span>
							</div>
							<div class="li">
								<span>价格（元）：</span> <span class="price"></span>
							</div>
							<div class="li">
								<span>可容纳人数：</span> <span class="capacity"></span>
							</div>
							<div class="li">
								<span>房客类型：</span> <span class="client_type"></span>
							</div>
							<div class="li">
								<span>房客人数：</span> <span class="room_num"></span>
							</div>
							<div class="li">
								<span>创建时间：</span> <span class="create_time"></span>
							</div>
							<div class="li">
								<span>备注：</span> <span class="comment"></span>
							</div>
						</div>
						<!--<div class="btn_fun">
							<a data-toggle="modal" data-target="#alter_room">修改</a> &lt;!&ndash;<a href="javascript:void(0)">退房</a>&ndash;&gt;
						</div>-->
						<div class="d_list">
							<span class="add">添加</span>
							<div class="list_title">入住人员列表</div>
							<table class="table" width="100%">
								<tbody id="list_c">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 房间分配 -->
	<div class="modal fade" id="distribution_room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 700px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">房间分配</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit=" return checkAssign()">
					<input type="hidden" name="requestType" value="create">
					<div class="modal-body">
						<div class="form-group">
							<label for="hotel_name" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>酒店名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control hotel_name" name="hotel_name" value="<{$info.hotel_name}>" id="hotel_name" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="meeting_name" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>会议名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control meeting_name" name="meeting_name" value="<{$info.name}>" id="meeting_name" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="room_number" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>房间号：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control room_number" name="room_number" id="room_number">
							</div>
						</div>
						<div class="form-group">
							<label for="room_type" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>房间类型：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control room_type" name="room_type" id="room_type">
							</div>
						</div>
						<div class="form-group">
							<label for="room_type" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>房客类型：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control room_type" name="client_type" id="client_type">
							</div>
						</div>
						<div class="form-group">
							<label for="price" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>价格：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control price" name="price" id="price">
							</div>
						</div>
						<div class="form-group">
							<label for="capacity" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>可容纳人数：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control capacity" name="capacity" id="capacity">
							</div>
						</div>
						<div class="form-group mes_people">
							<label class="col-sm-2 control-label">入住人员：</label>
							<div class="col-sm-10">
								<span class="mr_17 hide">已选择（<strong class="m_color" id="selected_attendee_count_by_1"></strong>）</span>
								<a data-toggle="modal" data-target="#add_recipient"><i class="glyphicon glyphicon-plus"></i>添加入住人员</a>
							</div>
							<input type="hidden" name="person">
						</div>
						<div class="form-group">
							<label for="room_comment" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="room_comment"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 修改房间 -->
	<div class="modal fade" id="alter_room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:700px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">修改房间</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="alter_room"> <input type="hidden" name="id">
					<div class="modal-body">
						<div class="form-group">
							<label for="hotel_name" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>酒店名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control hotel_name" name="hotel_name" value="<{$info.hotel_name}>" id="hotel_name_a" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="meeting_name_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>会议名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control meeting_name" name="meeting_name" value="<{$info.name}>" id="meeting_name_a" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="room_code_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>房间号：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control room_code" name="room_code" id="room_code_a">
							</div>
						</div>
						<div class="form-group">
							<label for="room_type_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>房间类型：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control room_type" name="room_type" id="room_type_a">
							</div>
						</div>
						<div class="form-group">
							<label for="room_type_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>房客类型：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control room_type" name="client_type" id="client_type_a">
							</div>
						</div>
						<div class="form-group">
							<label for="price" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>价格：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control price" name="price" id="price_a">
							</div>
						</div>
						<div class="form-group">
							<label for="capacity_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>可容纳人数：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control capacity" name="capacity" id="capacity_a">
							</div>
						</div>
						<div class="form-group">
							<label for="room_comment_a" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="room_comment_a"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 添加人员 -->
	<div class="modal fade" id="add_recipient" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 60%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h2 class="modal-title">添加人员</h2>
				</div>
				<div class="choose_people">
					<div class="d1">
						<span>当前有<b class="current_attendee">0</b>人</span>
						<span>已选择<b class="color-red selected_attendee">0</b>人</span>
						<a href="javascript:void(0)" class="btn_save btn btn-sm btn-info">添加入住</a>
					</div>
					<div class="search_sm">
						<div class="col-sm-5">
							<div class="input-group repertory_text">
								<input type="search" name="keyword" class="form-control" placeholder="姓名" value="">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default mian_search">搜索</button>
								</span>
							</div>
						</div>
						<a type="reset" class="btn btn-default mian_search" href="/Meeting/manage.aspx">查看所有</a>
					</div>
					<div class="d2">
						<div class="table_wrap">
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>
										<td width="10%" class="all_check_m">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</td>
										<td width="10%">序号</td>
										<td width="10%">姓名</td>
										<td width="10%">性别</td>
										<td width="10%">职务</td>
										<td width="20%">手机号</td>
										<td width="20%">单位名称</td>
										<td width="20%">签到时间</td>
									</tr>
								</thead>
								<tbody id="attendee_body">
									<volist name="list" id="list">
										<tr>
											<td class="check_item_m">
												<input type="checkbox" class="icheck" value="<{$list.id}>" placeholder="">
											</td>
											<td><{$i}></td>
											<td class="name"><{$list.name}></td>
											<td>
												<switch name="list.gender">
													<case value="0">未设置</case>
													<case value="1">男</case>
													<case value="2">女</case>
												</switch>
											</td>
											<td><{$list.position}></td>
											<td><{$list.mobile}></td>
											<td><{$list.unit}></td>
											<td><{$list.creatime|date='Y-m-d',###}></td>
										</tr>
									</volist>
								</tbody>
							</table>
						</div>
						<div class="page_wrap">
							<ul class="pagination">
								<{$page_show}>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 添加人员2 -->
	<div class="modal fade" id="add_recipient2" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 60%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h2 class="modal-title">添加人员<span>（可添加<b class="can_live_p"></b>人）</span></h2>
					<input type="hidden" name="can_live">
				</div>
				<div class="choose_people">
					<div class="d1">
						<span>当前有<b class="current_attendee">0</b>人</span>
						<span>已选择<b class="color-red selected_attendee">0</b>人</span>
						<a href="javascript:void(0)" class="btn_save btn btn-sm btn-info">添加入住</a>
					</div>
					<div class="search_sm">
						<div class="col-sm-5">
							<div class="input-group repertory_text">
								<input type="search" name="keyword" class="form-control" placeholder="姓名" value="">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default mian_search">搜索</button>
								</span>
							</div>
						</div>
						<a type="reset" class="btn btn-default mian_search" href="/Meeting/manage.aspx">查看所有</a>
					</div>
					<div class="d2">
						<div class="table_wrap">
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>
										<td width="10%" class="all_check_m2">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</td>
										<td width="10%">序号</td>
										<td width="10%">姓名</td>
										<td width="10%">性别</td>
										<td width="10%">职务</td>
										<td width="20%">手机号</td>
										<td width="20%">单位名称</td>
										<td width="20%">签到时间</td>
									</tr>
								</thead>
								<tbody id="attendee_body_a">
									<volist name="lists" id="lists">
										<tr>
											<td class="check_item_m2">
												<input type="checkbox" class="icheck" value="<{$lists.id}>" placeholder="">
											</td>
											<td><{$i}></td>
											<td class="name"><{$lists.name}></td>
											<td>
												<switch name="lists.gender">
													<case value="0">未设置</case>
													<case value="1">男</case>
													<case value="2">女</case>
												</switch>
											</td>
											<td><{$lists.position}></td>
											<td><{$lists.mobile}></td>
											<td><{$lists.unit}></td>
											<td><{$lists.creatime|date='Y-m-d',###}></td>
										</tr>
									</volist>
								</tbody>
							</table>
							<input type="hidden" name="person">
							<input type="hidden" name="room_id">
						</div>
						<div class="page_wrap">
							<ul class="pagination">
								<{$page_show}>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 删除房间 -->
	<div class="modal fade" id="delete_room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">删除记录</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量删除 -->
	<div class="modal fade" id="batch_delete_room" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量删除角色</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除已选<span class="sAmount"></span>项？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary batch_delete_btn">确认删除</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 修改房间 -->
	<div class="modal fade" id="choose_leave_time" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">选择离开时间</h2>
				</div>
				<form class="form-horizontal" role="form" action="" method="post">
					<input type="hidden" name="requestType" value="leave"> <input type="hidden" name="id">
					<div class="modal-body">
						<div class="form-group">
							<label for="leave_time" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>离开时间：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control leave_time" name="leave_time" id="leave_time">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 换房 -->
	<div class="modal fade" id="change_room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 1000px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">更换房间</h2>
				</div>
				<form class="form-horizontal" role="form" action="" method="post">
					<input type="hidden" name="requestType" value="leave"> <input type="hidden" name="id">
					<div class="modal-body">
						<div class="room_list">
							<div class="repertory clearfix">
								<form action="" method="get">
									<div class="input-group repertory_text">
										<input type="search" name="keyword" class="form-control" placeholder="房间/拼音简码" value="">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default mian_search">搜索</button>
									</span>
									</div>
									<a type="reset" class="btn btn-default mian_search" href="/Room/details.aspx">查看所有</a>
								</form>
							</div>
							<div class="room_list">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th width="10%">序号</th>
											<th width="20%">房间号</th>
											<th width="30%">入住情况</th>
											<th width="40%">入住人</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>102</td>
											<td>住满</td>
											<td>
												<div class="client_list">
													<span>刘岂宇</span> <span>刘岂宇</span> <span>刘岂宇</span>
													<span class="c_add">添加</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>1</td>
											<td>102</td>
											<td>为主满</td>
											<td>
												<div class="client_list full">
													<span>刘岂宇</span> <span class="active">刘岂宇</span> <span>刘岂宇</span>
													<span class="c_change">交换</span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var ThisObject = {
			object:{
				//　酒店分配
				meetingSelect:$('#meeting_name,#meeting_name_a').QuasarSelect({
					name        :'meeting_name',
					classStyle  :'form-control',
					data        :'<{:json_encode($meeting_list)}>',
					idInput     :'selected_meeting_name',
					idHidden    :'selected_meeting_name_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				leaveTime    :jeDate({
					dateCell:"#leave_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, // isClear:false, // 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				toast        :$().QuasarToast(),
				icheck       :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				loading      :$().QuasarLoading()
			}
		}
	</script>
</body>
</html>