<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>房间类型 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:PAGE_SUFFIX}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<if condition="$permission_list['ROOM_TYPE.VIEW']">
					<div class="main_body" style="overflow: hidden;">
						<section class="content">
							<div class="table_wrap">
								<div class="nav_tab clearfix">
									<if condition="$permission_list['ROOM.VIEW']">
										<div class="nav_tab_li">
											<a href="<{:U('Room/manage', ['mid'=>I('get.mid', 0, 'int'),'hid'=>I('get.hid', 0, 'int')])}>">房间列表</a>
										</div>
									</if>
									<div class="nav_tab_li active">
										<a href="<{:U('Room/roomType', ['mid'=>I('get.mid', 0, 'int'),'hid'=>I('get.hid', 0, 'int')])}>">房间类型</a>
									</div>
								</div>
								<div class="repertory clearfix" style=" padding: 20px  0">
									<form class="form-horizontal" role="form" method="get" id="form" action="">
										<div class="input-group repertory_text">
											<input type="search" name="keyword" class="form-control" placeholder="关键字" value="<{:I('get.keyword', '')}>">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-default main_search">搜索</button>
											</span>
										</div>
										<a type="reset" class="btn btn-default main_search" href="<{:U('Room/roomType',['mid'=>I('get.mid',0,'int'),'hid'=>I('get.hid',0,'int')])}>">查看所有</a>
									</form>
									<a data-toggle="modal" data-target="#add_roomType" data-backdrop="static" class="btn btn-default export_report pull-right bg-00a0e8" style="margin-right: 20px;">新增房间类型</a>
								</div>
								<div class="tab-content clearfix">
									<div class="ticket_list">
										<table class="table table-striped">
											<thead>
												<tr>
													<th width="10%">序号</th>
													<th width="15%">名称</th>
													<th width="10%">可容纳人数</th>
													<th width="10%">价格</th>
													<th width="10%">可用数量</th>
													<th width="25%">备注</th>
													<th width="25%">操作</th>
												</tr>
											</thead>
											<tbody>
												<volist name="type" id="list">
													<tr>
														<td><{$i}></td>
														<td class="name"><{$list.name}></td>
														<td class="capacity"><{$list.capacity}></td>
														<td class="price"><{$list.price}></td>
														<td class="number"><{$list.surplus}>/<{$list.number}></td>
														<td class="comment"><{$list.comment}></td>
														<td>
															<div class="btn-group" data-id="<{$list.id}>">
																<if condition="$permission_list['ROOM_TYPE.ALTER']">
																	<button type="button" class="btn btn-default btn-xs modify_btn" data-toggle="modal" data-target="#alter_roomType">修改</button>
																</if>
																<if condition="$permission_list['ROOM_TYPE.DELETE']">
																	<button type="button" class="btn btn-default btn-xs delete_btn" data-toggle="modal" data-target="#delete_roomType">删除</button>
																</if>
																<if condition="$list['status'] eq 0 and $permission_list['ROOM_TYPE.ENABLE']">
																	<a href="<{:U('RequestHandler/getHandler', ['requestType'=>'get:enable_room_type', 'id'=>$list['id']])}>" class="btn btn-success btn-xs">启用</a>
																</if>
																<if condition="$list['status'] eq 1 and $permission_list['ROOM_TYPE.DISABLE']">
																	<a href="<{:U('RequestHandler/getHandler', ['requestType'=>'get:disable_room_type', 'id'=>$list['id']])}>" class="btn btn-danger btn-xs">禁用</a>
																</if>
															</div>
														</td>
													</tr>
												</volist>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</section>
					</div>
				</if>
			</div>
		</div>
	</div>
	<!-- 添加房间类型-->
	<div class="modal fade" id="add_roomType" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">添加房间类型</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit="return checkIsEmpty()">
					<input type="hidden" name="requestType" value="create_roomType">
					<input type="hidden" name="cid" value="">
					<div class="modal-body">
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>名称：</label>
							<div class="col-sm-10">
								<input class="form-control" id="name" name="name">
							</div>
						</div>
						<div class="form-group">
							<label for="capacity" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>可容纳人数：</label>
							<div class="col-sm-10">
								<input class="form-control" id="capacity" name="capacity">
							</div>
						</div>
						<div class="form-group">
							<label for="price" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>价格：</label>
							<div class="col-sm-10">
								<input class="form-control" id="price" name="price">
							</div>
						</div>
						<div class="form-group">
							<label for="number" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>房间数量：</label>
							<div class="col-sm-10">
								<input class="form-control" id="number" name="number">
							</div>
						</div>
						<div class="form-group">
							<label for="comment" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="comment"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 修改房间类型 -->
	<div class="modal fade" id="alter_roomType" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">修改房间类型</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit="return checkIsEmpty()">
					<input type="hidden" name="id" value="">
					<input type="hidden" name="requestType" value="alter_roomType">
					<div class="modal-body">
						<div class="form-group">
							<label for="name_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>名称：</label>
							<div class="col-sm-10">
								<input class="form-control" id="name_a" name="name">
							</div>
						</div>
						<div class="form-group">
							<label for="capacity_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>可容纳人数：</label>
							<div class="col-sm-10">
								<input class="form-control" id="capacity_a" name="capacity">
							</div>
						</div>
						<div class="form-group">
							<label for="price_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>价格：</label>
							<div class="col-sm-10">
								<input class="form-control" id="price_a" name="price">
							</div>
						</div>
						<div class="form-group">
							<label for="number_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>房间数量：</label>
							<div class="col-sm-10">
								<input class="form-control" id="number_a" name="number">
							</div>
						</div>
						<div class="form-group">
							<label for="comment_a" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="comment_a"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 删除收款记录 -->
	<div class="modal fade" id="delete_roomType" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">删除记录</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete_roomType">
					<input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				toast  :$().QuasarToast(),
				loading:$().QuasarLoading(),
			}
		};
	</script>
</body>
</html>