<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>收款 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/calculator/calculator.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:PAGE_SUFFIX}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-position.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jqprint/jquery.printarea1.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<if condition="$permission_list['RECEIVABLES.VIEW']">
					<div class="main_body" style="overflow: hidden;">
						<section class="content">
							<div class="table_wrap">
								<div class="nav_tab clearfix">
									<if condition="$permission_list['RECEIVABLES.CREATE']">
										<div class="nav_tab_li">
											<a href="<{:U('Receivables/create', ['mid'=>I('get.mid', 0, 'int')])}>">添加收款</a>
										</div>
									</if>
									<if condition="$permission_list['RECEIVABLES.VIEW']">
										<div class="nav_tab_li">
											<a href="<{:U('Receivables/manage', ['mid'=>I('get.mid', 0, 'int')])}>">收款列表</a>
										</div>
									</if>
									<if condition="$permission_list['RECEIVABLES.VIEW']">
										<div class="nav_tab_li active">
											<a href="<{:U('Receivables/details', ['mid'=>I('get.mid', 0, 'int')])}>">收款详情</a>
										</div>
									</if>
									<if condition="$permission_list['PAY_METHOD.VIEW']">
										<div class="nav_tab_li">
											<a href="<{:U('Receivables/payMethod', ['mid'=>I('get.mid', 0, 'int')])}>">支付方式</a>
										</div>
									</if>
									<if condition="$permission_list['POS_MACHINE.VIEW']">
										<div class="nav_tab_li">
											<a href="<{:U('Receivables/posMachine', ['mid'=>I('get.mid', 0, 'int')])}>">POS机</a>
										</div>
									</if>
									<div class="table_length  pull-right">
										显示： <select>
										<option>5</option>
										<option>10</option>
										<option selected>20</option>
										<option>50</option>
										<option>100</option>
										<option>150</option>
										<option>200</option>
										<option>500</option>
									</select> 项结果
									</div>
								</div>
								<div class="repertory clearfix" style=" padding: 20px  0">
									<form class="form-horizontal" role="form" method="get" id="form" action="">
										<div class="input-group repertory_text">
											<input type="search" name="keyword" class="form-control" placeholder="关键字" value="<{:I('get.keyword', '')}>">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-default main_search">搜索</button>
											</span>
										</div>

										<a type="reset" class="btn btn-default main_search" href="<{:U('details', ['mid'=>I('get.mid', 0, 'int'), 'sid'=>$_GET['sid']])}>">查看所有</a>
									</form>
									<if condition="$permission_list['RECEIVABLES.EXPORT-EXCEL']">
										<a class="btn btn-default export_report pull-right bg-00a0e8" href="<{:U('exportReceivablesData', ['mid'=>I('get.mid', 0, 'int')])}>">导出报表</a>
									</if>
									<if condition="$permission_list['RECEIVABLES.DOWNLOAD-IMPORT-EXCEL-TEMPLATE']">
										<a class="btn btn-default export_report pull-right bg-00a0e8" href="<{:U('exportReceivablesDataTemplate', ['mid'=>I('get.mid', 0, 'int')])}>" style="margin-right: 20px">下载Excel模板</a>
									</if>
									<if condition="$permission_list['RECEIVABLES.IMPORT-EXCEL']">
										<a class="btn btn-default import_report pull-right bg-00a0e8" style="margin-right: 20px;">
											<form action="" method="post" enctype="multipart/form-data" name="fileForm" id="file_form" target="fileUpload">
												<input type="file" name="excel" accept=".xlsx, .xls" id="excel_file">
												<input name="requestType" value="import_excel" type="hidden"> <i></i>
											</form>
											导入收款 </a>
									</if>
									<if condition="$permission_list['RECEIVABLES.CREATE']">
										<a href="<{:U('Receivables/create', ['mid'=>I('get.mid', 0, 'int')])}>" class="btn btn-default export_report pull-right bg-00a0e8" style="margin-right: 20px;">添加收款</a>
									</if>
								</div>
								<div class="tab-content clearfix">
									<div class="ticket_list">
										<volist name="list" id="single">
											<div class="rece_item">
												<div class="header" data-id="<{$single.id}>" data-type="<{$single.type}>">
													<span style=" margin-right: 5px;"><{$key+1}>、</span><span>客户：<{$single.client_name}></span><span>单位：<{$single.unit}></span><span>收款人：<{$single.payee_name}></span><span>收款地点：<{$single.place}></span><span class="color-danger">收款金额：<{$single.price}></span><span>收款时间:<{$single.creatime|date='Y-m-d',###}></span><b class="plus glyphicon glyphicon-plus"></b>
													<!--<span class="modify_btn">修改</span>-->
													<if condition="$single['status'] eq 1 and $permission_list['RECEIVABLES.DISABLE'] eq 1">
														<span class="cancel">作废</span>
													</if>
													<if condition="$single['status'] eq 0">
														<span class="has_cancel">已作废</span>
													</if>
													<if condition="$permission_list['RECEIVABLES.DELETE']">
														<span class="delete_btn" data-toggle="modal" data-target="#delete_receivables">删除</span>
													</if>
												</div>
												<div class="rece_body hide">
													<b class="print" data-id="<{$single.id}>" onclick="jqprint()">打印</b>
													<div class="rece_details_item">
														<table class="table table-bordered rece_details_table">
															<thead>
																<tr>
																	<th>项目类型</th>
																	<th>项目名字/代金券码</th>
																	<th>支付方式</th>
																	<th>POS机</th>
																	<th>收款来源</th>
																	<th>备注</th>
																	<th>金额</th>
																	<th>操作</th>
																</tr>
															</thead>
															<tbody>
																<volist name="single.option" id="option">
																	<tr>
																		<td><{$single.receivables_type}></td>
																		<td><{$single.coupon_name}> <{$single.coupon_code}></td>
																		<td><{$option.pay_method_name}></td>
																		<td><{$option.pos_machine_name}></td>
																		<td><{$option.source_type_name}></td>
																		<td><{$option.comment}></td>
																		<td><{$option.price}></td>
																	</tr>
																</volist>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</volist>
									</div>
								</div>
							</div>
							<div class="page_wrap">
								<ul class="pagination">
									<{$page_show}>
								</ul>
							</div>
						</section>
					</div>
				</if>
			</div>
		</div>
	</div>
	<!--打印-->
	<div id="print">
		<div class="p_sec" style="height: 50%; border-bottom: 1px dashed #E1E1E1; padding: 30px 10px 120px 10px">
			<table class="p_table" width="100%" height="100%" border="1">
				<thead>
					<tr>
						<td width="16.666"></td>
						<td width="16.666"></td>
						<td width="16.666"></td>
						<td width="16.666"></td>
						<td width="16.666"></td>
						<td width="16.666"></td>
					</tr>
				</thead>
				<tr>
					<td style="text-align: center">
						<span class="img" style="width: 60px; height: 60px; display: block; overflow: hidden; margin: 0 auto"><img src="<{$meeting.receipt_logo}>" alt="" style="width: 100%; vertical-align: top;  margin-top: 6px;"></span>
					</td>
					<td colspan="4" style="text-align: center; font-size: 24px; font-weight: bold">收&nbsp;&nbsp;款&nbsp;&nbsp;收&nbsp;&nbsp;据</td>
					<td style="font-size: 18px; text-align: center; color: red; font-weight: bold" class="identifier"></td>
				</tr>
				<tr>
					<td colspan="6" class="text-center time">
					</td>
				</tr>
				<tr>
					<td colspan="6">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今收到&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="unit"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="client_name"></span>
					</td>
				</tr>
				<tr>
					<td colspan="6">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交来：<span class="project_type"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment_wrap">(备注：<span class="comment"></span>)</span>
					</td>
				</tr>
				<tr>
					<td colspan="6">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金额（大写）<span class="price_capital"></span>
					</td>
				</tr>
				<tr class="sign_tr">
					<td class="rmb" colspan="2">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人民币小写：
						<span class="price" style="text-decoration: underline"></span>
					</td>
					<td colspan="2" class="type1" style="text-align: center"></td>
					<td colspan="2" class="price1" style="text-align: center"></td>
				</tr>
				<tr style="font-size: 14px">
					<td>&nbsp;核准：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;会计：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;记账：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;开收据：<span class="payee">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
					<td>&nbsp;出纳：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;经手人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>
			</table>
		</div>
		<div class="p_sec" style="height: 50%;  padding:120px 10px 30px 10px;">
			<table class="p_table" width="100%" height="100%" border="1">
				<thead>
					<tr>
						<td width="16.666"></td>
						<td width="16.666"></td>
						<td width="16.666"></td>
						<td width="16.666"></td>
						<td width="16.666"></td>
						<td width="16.666"></td>
					</tr>
				</thead>
				<tr>
					<td style="text-align: center">
						<span class="img" style="width: 60px; height: 60px; display: block; overflow: hidden; margin: 0 auto"><img src="<{$meeting.receipt_logo}>" alt="" style="width: 100%; vertical-align: top;  margin-top: 6px;"></span>
					</td>
					<td colspan="4" style="text-align: center; font-size: 24px; font-weight: bold">收&nbsp;&nbsp;款&nbsp;&nbsp;收&nbsp;&nbsp;据</td>
					<td style="font-size: 18px; text-align: center; color: red; font-weight: bold" class="identifier"></td>
				</tr>
				<tr>
					<td colspan="6" class="text-center time">
					</td>
				</tr>
				<tr>
					<td colspan="6">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今收到&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="unit"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="client_name"></span>
					</td>
				</tr>
				<tr>
					<td colspan="6">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交来：<span class="project_type"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment_wrap hide">(备注：<span class="comment"></span>)</span>
					</td>
				</tr>
				<tr>
					<td colspan="6">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金额（大写）<span class="price_capital"></span>
					</td>
				</tr>
				<tr class="sign_tr">
					<td class="rmb" colspan="2">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人民币小写：
						<span class="price" style="text-decoration: underline"></span>
					</td>
					<td colspan="2" class="type1" style="text-align: center"></td>
					<td colspan="2" class="price1" style="text-align: center"></td>
				</tr>
				<tr style="font-size: 14px">
					<td>&nbsp;核准：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;会计：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;记账：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;开收据：<span class="payee">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
					<td>&nbsp;出纳：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;经手人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- 添加收款 -->
	<div class="modal fade" id="add_receivables" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">收款</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit="return checkIsEmpty()">
					<input type="hidden" name="requestType" value="create_receivables">
					<input type="hidden" name="cid" value="">
					<div class="modal-body">
						<!--
						-->
						<div class="list_form hide">
							<div class="form-group">
								<label for="client_name" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>客户姓名：</label>
								<div class="col-sm-10">
									<div id="client_name"></div>
								</div>
							</div>
							<div class="form-group ticket_h hide">
								<label for="ticket_type" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>门票类型：</label>
								<div class="col-sm-10">
									<select name="ticket_type" class="form-control" id="ticket_type"> </select>
								</div>
							</div>
							<div class="form-group coupon_h hide">
								<label class="col-sm-2 control-label">代金券：</label>
								<div class="col-sm-10">
									<div class="coupon_area ">
										<div class="coupon_box">
											<div class="coupon_list">
												<div style="padding: 10px; text-align: center; font-size: 14px; color: rgba(0,0,0,.72)">&lt;无代金券&gt;</div>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" name="coupon_code">
							</div>
							<div class="form-group">
								<label for="price" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>金额：</label>
								<div class="col-sm-10">
									<input type="text" name="price" id="price" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="method" class="col-sm-2 control-label">支付方式：</label>
								<div class="col-sm-10">
									<!--<div id="method"></div>-->
									<select name="method" class="form-control" id="method">
										<volist name="pay" id="pay_info">
											<option value="<{$pay_info.id}>"><{$pay_info.name}></option>
										</volist>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="pos" class="col-sm-2 control-label">pos机：</label>
								<div class="col-sm-10">
									<!--<div id="pos"></div>-->
									<select name="pos_id" class="form-control" id="pos">
										<volist name="pos" id="pos_info">
											<option value="<{$pos_info.id}>"><{$pos_info.name}></option>
										</volist>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="payee_id" class="col-sm-2 control-label">收款人：</label>
								<div class="col-sm-10">
									<div id="payee_id"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="place" class="col-sm-2 control-label">收款地点：</label>
								<div class="col-sm-10">
									<input type="text" name="place" id="place" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="source_type" class="col-sm-2 control-label">来源状态：</label>
								<div class="col-sm-10">
									<select name="source_type" id="source_type" class="form-control">
										<option value="0">会前收款</option>
										<option value="1">会中收款</option>
										<option value="2">会后收款</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="receivables_time" class="col-sm-2 control-label">收款时间：</label>
								<div class="col-sm-10">
									<input class="form-control" id="receivables_time" name="receivables_time" value="<{:date('Y-m-d H:i:s')}>">
								</div>
							</div>
							<div class="form-group">
								<label for="comment" class="col-sm-2 control-label">备注：</label>
								<div class="col-sm-10">
									<textarea class="form-control comment" name="comment" id="comment"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer hide">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 修改收款 -->
	<!--<div class="modal fade" id="alter_receivables" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 80%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">修改收款</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit="return checkIsEmptyAlter()">
					<input type="hidden" name="id" value=""> <input type="hidden" name="requestType" value="alter">
					<div class="modal-body">
						<div class="form-group">
							<label for="client_name_a" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>客户姓名：</label>
							<div class="col-sm-10">
								<input type="text" id="client_name_a" class="form-control" value="<{$meeting_info.name}>" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="price_a" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>金额：</label>
							<div class="col-sm-10">
								<input type="text" name="price" id="price_a" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="payee_id_a" class="col-sm-2 control-label">收款人：</label>
							<div class="col-sm-10">
								<div id="payee_id_a"></div>
							</div>
						</div>
						<div class="form-group">
							<label for="place_a" class="col-sm-2 control-label">收款地点：</label>
							<div class="col-sm-10">
								<input type="text" name="place" id="place_a" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="type_a" class="col-sm-2 control-label">项目类型：</label>
							<div class="col-sm-10">
								<select name="type" class="form-control" id="type_a">
									<option>请选择收款类型</option>
									<option value="1">门票</option>
									<option value="2">代金券</option>
									<option value="3">产品</option>
									<option value="4">其他</option>
								</select>
							</div>
						</div>
						<div class="form-group coupon_group">
							<label class="col-sm-2 control-label">代金券：</label>
							<div class="col-sm-10">
								<div class="coupon_area ">
									<div class="coupon_box">
										<div class="coupon_list">
											<div class="no_c" style="padding: 10px; text-align: center; font-size: 14px; color: rgba(0,0,0,.72)">&lt;未选择金券&gt;</div>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" name="old_coupon_code"> <input type="hidden" name="coupon_code">
						</div>
						<div class="form-group othor_group">
							<label class="col-sm-2 control-label">项目名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="project_name" id="project_name">
							</div>
							<input type="hidden" name="old_coupon_code"> <input type="hidden" name="coupon_code">
						</div>
						<div class="form-group">
							<label for="receivables_time_a" class="col-sm-2 control-label">收款时间：</label>
							<div class="col-sm-10">
								<input class="form-control" id="receivables_time_a" name="receivables_time">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><span class="add_btn glyphicon glyphicon-plus-sign"></span></label>
							<div class="col-sm-10">
								<div class="col-sm-3">
									<div class="form-group">
										<label class="col-sm-4 control-label">支付方式：</label>
										<div class="col-sm-8">
											<select name="method[]" class="form-control"> </select>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="col-sm-4 control-label">POS机：</label>
										<div class="col-sm-8">
											<select name="pos_id[]" class="form-control"> </select>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="col-sm-4 control-label">来源状态：</label>
										<div class="col-sm-8">
											<select name="source_type[]" class="form-control">
												<option value="0">会前收款</option>
												<option value="1">会中收款</option>
												<option value="2">会后收款</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="col-sm-4 control-label">备注：</label>
										<div class="col-sm-8">
											<input class="form-control comment" name="comment[]">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>-->
	<!-- 删除收款记录 -->
	<div class="modal fade" id="delete_receivables" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">删除记录</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 作废 -->
	<div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">记录作废</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="<{:U('RequestHandler/postHandler')}>">
					<input type="hidden" name="requestType" value="post:disable_receivables">
					<input type="hidden" name="id" value="">
					<div class="modal-body">是否作废此条收款记录？</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				meetingName:$('#meeting_name').QuasarSelect({
					name        :'mid',
					classStyle  :'form-control',
					data        :'<{:json_encode($meeting_list)}>',
					idInput     :'selected_meeting_name',
					idHidden    :'selected_meeting_name_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				clientName :$('#client_name').QuasarSelect({
					name        :'client_name',
					classStyle  :'form-control',
					data        :'<{:json_encode($client_list)}>',
					idInput     :'selected_client_name',
					idHidden    :'selected_client_name_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				payeeName  :$('#payee_id').QuasarSelect({
					name        :'payee_id',
					classStyle  :'form-control',
					data        :'<{:json_encode($employee_list)}>',
					idInput     :'selected_payee_id',
					idHidden    :'selected_payee_id_form',
					placeholder :'',
					defaultValue:'<{$employee_info[id]}>',
					defaultHtml :'<{$employee_info[code]}>'+' - '+'<{$employee_info[name]}>',
					hasEmptyItem:false
				}),
				payeeNameA :$('#payee_id_a').QuasarSelect({
					name        :'payee_id',
					classStyle  :'form-control',
					data        :'<{:json_encode($employee_list)}>',
					idInput     :'selected_payee_id_a',
					idHidden    :'selected_payee_id_a_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				/*	receivablesTime :jeDate({
				 dateCell:"#receivables_time",
				 format  :"YYYY-MM-DD hh:mm:ss",
				 isTime  :true, // isClear:false, // 时分秒--true
				 /!*	minDate :"2015-10-19 00:00:00",
				 maxDate :"2016-11-8 00:00:00"*!/
				 }),
				 receivablesTimeA:jeDate({
				 dateCell:"#receivables_time_a",
				 format  :"YYYY-MM-DD hh:mm:ss",
				 isTime  :true, // isClear:false, // 时分秒--true
				 /!*	minDate :"2015-10-19 00:00:00",
				 maxDate :"2016-11-8 00:00:00"*!/
				 }),*/
				toast      :$().QuasarToast(),
				loading    :$().QuasarLoading(),
				icheck     :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				})
			}
		};
	</script>
</body>
</html>