<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>POS机管理 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:PAGE_SUFFIX}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/operate.js"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<div class="main_body" style="overflow: hidden;">
					<section class="content">
						<div class="table_wrap mb_10">
							<div class="nav_tab clearfix">
								<if condition="in_array('SEVERAL-POS_MACHINE.VIEW', $permission_list)">
									<div class="nav_tab_li active">
										<a href="<{:U('Receivables/posMachine', ['mid'=>I('get.mid', 0, 'int')])}>">POS机管理</a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-RECEIVABLES.CREATE', $permission_list)">
									<div class="nav_tab_li">
										<a href="<{:U('Receivables/create', ['mid'=>I('get.mid', 0, 'int')])}>">创建收款</a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-RECEIVABLES.VIEW', $permission_list)">
									<div class="nav_tab_li">
										<a href="<{:U('Receivables/manage', ['mid'=>I('get.mid', 0, 'int')])}>">收款管理</a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-PAY_METHOD.VIEW', $permission_list)">
									<div class="nav_tab_li">
										<a href="<{:U('Receivables/payMethod', ['mid'=>I('get.mid', 0, 'int')])}>">支付方式管理</a>
									</div>
								</if>
							</div>
						</div>
						<div class="c_header">
							<div class="function_list clearfix">
								<if condition="in_array('SEVERAL-POS_MACHINE.CREATE', $permission_list)">
									<div class="function_btn" data-toggle="modal" data-target="#add_pos_machine" data-backdrop="static">
										<a href="javascript:void(0)"> <i class="glyphicon glyphicon-plus"></i>
											<span>新增pos机</span> </a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-POS_MACHINE.DELETE', $permission_list)">
									<div class="function_btn batch_delete_btn">
										<a href="javascript:void(0)"> <i class="glyphicon glyphicon-trash"></i>
											<span>批量删除</span> </a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-POS_MACHINE.ENABLE', $permission_list)">
									<div class="function_btn batch_enable_btn">
										<a href="javascript:void(0)"> <i class="glyphicon glyphicon-ok-circle"></i>
											<span>批量启用</span> </a>
									</div>
								</if>
								<if condition="in_array('SEVERAL-POS_MACHINE.DISABLE', $permission_list)">
									<div class="function_btn batch_disable_btn">
										<a href="javascript:void(0)"> <i class="glyphicon glyphicon-ban-circle"></i>
											<span>批量禁用</span> </a>
									</div>
								</if>
							</div>
						</div>
						<if condition="in_array('SEVERAL-POS_MACHINE.SEARCH', $permission_list)">
							<div class="repertory clearfix">
								<form action="" method="get">
									<div class="input-group repertory_text">
										<input type="search" name="keyword" id="keyword" class="form-control" placeholder="POS机/拼音简码" value="<{:I('get.keyword', '')}>">
									<span class="input-group-btn">
										<button type="button" id="main_search" class="btn btn-default main_search">搜索</button>
									</span>
									</div>
									<!-- 避免回车提交 -->
									<input style="display:none" mce_style="display:none">
									<a type="reset" class="btn btn-default main_search" href="<{:U('manage', ['mid'=>I('get.mid', 0, 'int')])}>">查看所有</a>
								</form>
							</div>
						</if>
						<div class="table_wrap">
							<div class="tab-content clearfix">
								<table class="table table-bordered table-hover text-center">
									<thead>
										<tr>
											<th width="5%" class="all_check">
												<input type="checkbox" class="icheck" placeholder="" value="">
											</th>
											<th width="10%">序号</th>
											<th width="20%">名称</th>
											<th width="10%">备注</th>
											<th width="10%">状态</th>
											<th width="10%">创建者</th>
											<th width="10%">创建时间</th>
											<th width="30%">操作</th>
										</tr>
									</thead>
									<tbody>
										<volist name="list" id="single">
											<tr>
												<td class="check_item">
													<input type="checkbox" class="icheck" placeholder="" value="<{$single.id}>">
												</td>
												<td><{$i}></td>
												<td class="posMachine"><{$single.name}></td>

												<td class="comment"><{$single.comment}></td>
												<td><{$single.status}></td>
												<td><{$single.creator}></td>
												<td><{$single.creatime}></td>
												<td>
													<div class="btn-group" data-id="<{$single.id}>" data-status="<{$single.status_code}>">
														<if condition="in_array('SEVERAL-POS_MACHINE.MODIFY', $permission_list)">
															<button type="button" class="btn btn-default btn-xs modify_btn" data-toggle="modal" data-target="#alter_pos_machine">修改</button>
														</if>
														<if condition="in_array('SEVERAL-POS_MACHINE.DELETE', $permission_list)">
															<button type="button" class="btn btn-danger btn-xs delete_btn" data-toggle="modal" data-target="#delete_modal">删除</button>
														</if>
														<switch name="single.status_code">
															<case value="0">
																<if condition="in_array('SEVERAL-POS_MACHINE.ENABLE', $permission_list)">
																	<button type="button" class="btn btn-success btn-xs btn-apply">启用</button>
																</if>
															</case>
															<case value="1">
																<if condition="in_array('SEVERAL-POS_MACHINE.DISABLE', $permission_list)">
																	<button type="button" class="btn btn-danger btn-xs btn-apply">禁用</button>
																</if>
															</case>
														</switch>
													</div>
												</td>
											</tr>
										</volist>
									</tbody>
								</table>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- 添加POS机 -->
	<div class="modal fade" id="add_pos_machine" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">添加POS机</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="create">
					<!-- 避免回车提交 -->
					<input style="display:none" mce_style="display:none">
					<div class="modal-body">
						<div class="form-group">
							<label for="pos_machine" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>POS机：</label>
							<div class="col-sm-10">
								<input class="form-control" id="pos_machine" name="name">
							</div>
						</div>
						<div class="form-group">
							<label for="comment" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="comment"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 修改支付方式 -->
	<div class="modal fade" id="alter_pos_machine" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">修改pos机信息</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="id" value=""> <input type="hidden" name="requestType" value="modify">
					<div class="modal-body">
						<div class="form-group">
							<label for="pos_machine_a" class="col-sm-2 control-label color-red "><b style="vertical-align: middle;">*</b>POS机：</label>
							<div class="col-sm-10">
								<input type="text" id="pos_machine_a" class="form-control" name="name">
							</div>
						</div>
						<div class="form-group">
							<label for="comment_a" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="comment_a"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 删除收款记录 -->
	<div class="modal fade" id="delete_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">删除记录</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 批量删除-->
	<div class="modal fade" id="batch_delete_modal" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">批量删除</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
					<div class="modal-body">
						是否删除已选<span class="sAmount"></span>项？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-save">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				icheck :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				toast  :$().QuasarToast(),
				loading:$().QuasarLoading()
			}
		};
	</script>
</body>
</html>