<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>收款 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/cityselect/jquery.cityselect.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-position.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/menu"/>
			<div class="mt_wrapper">
				<include file="Public/header"/>
				<div class="main_body" style="overflow: hidden;">
					<section class="content">
						<div class="return">
							<a class="btn btn-default" onclick="history.go(-1)"><span class="glyphicon glyphicon-chevron-left color-primary"></span>返回上一页</a>
						</div>
						<div class="table_wrap">
							<div class="nav_tab clearfix">
								<div class="nav_tab_li active">
									<a href="javascript:void(0)">收款列表</a>
								</div>
							</div>
							<div class="n_search clearfix">
								<form class="form-horizontal" role="form" method="post" id="form" action="">
									<input type="hidden" name="requestType" value="search">
									<input type="hidden" name="id" value="">
									<div class="search_li">
										<label><span>会议：<{$meeting_info.mid}></span></label>
										<div id="meeting_name"></div>
									</div>
									<div class="search_li">
										<label><span>客户姓名：<{$meeting_info.name}></span></label>
										<div id="client_name"></div>
									</div>
									<div class="search_li">
										<button type="submit" class="btn btn-primary btn-sm bg-00a0e8">搜索</button>
									</div>
								</form>
							</div>
							<div class="tab-content clearfix">
								<div class="ticket_list">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>序号</th>
												<th>客户</th>
												<th>会议</th>
												<th>收款金额</th>
												<th>收款类型</th>
												<th>支付方式</th>
												<th>代金券</th>
												<th>收款时间</th>
												<th>收款地点</th>
												<th>来源状态</th>
												<th>备注</th>
											</tr>
										</thead>
										<tbody>
											<volist name="info" id="list" key="k">
												<tr>
													<td><{$k}></td>
													<td><{$list.cid}></td>
													<td><{$list.mid}></td>
													<td><{$list.price}></td>
													<td><{$list.type}></td>
													<td><{$list.method}></td>
													<td><{$list.coupon_code}></td>
													<td><{$list.time|date="Y-m-d",###}></td>
													<td><{$list.place}></td>
													<td>
														<switch name="list.source_type">
															<case value="0">会前收款</case>
															<case value="1">会中收款</case>
															<case value="2">会后收款</case>
														</switch>
													</td>
													<td><{$list.comment}></td>
												</tr>
											</volist>
										</tbody>
									</table>
									<div class="add">
										<a data-toggle="modal" data-target="#add_receivables" data-backdrop="static"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加收款</a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- 添加收款 -->
	<div class="modal fade" id="add_receivables" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title" id="delete_role_title">收款</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="" onsubmit="return checkIsEmpty()">
					<input type="hidden" name="requestType" value="message"> <input type="hidden" name="mid" value="">
					<div class="modal-body">
						<div class="form-group">
							<label for="price" class="col-sm-2 control-label">金额：</label>
							<div class="col-sm-10">
								<input type="number" name="price" id="price" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="method" class="col-sm-2 control-label">支付方式：</label>
							<div class="col-sm-10">
								<div id="method"></div>
							</div>
						</div>
						<div class="form-group">
							<label for="type" class="col-sm-2 control-label">收款类型：</label>
							<div class="col-sm-10">
								<div id="type"></div>
							</div>
						</div>
						<div class="form-group">
							<label for="payee_id" class="col-sm-2 control-label">收款人：</label>
							<div class="col-sm-10">
								<div id="payee_id"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">代金券：</label>
							<div class="col-sm-10">
								<div class="coupon_area ">
									<div class="coupon_box">
										<div class="coupon_list">
											<div style="padding: 10px; text-align: center; font-size: 14px; color: rgba(0,0,0,.72)">&lt;无代金券可用&gt;</div>
											<volist name="coupon_item" id="list">
												<a class="btn btn-default btn-sm" href="javascript:void(0)" role="button" data-id="<{$list.id}>"><{$list.code}></a>
											</volist>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" name="coupon_code">
						</div>

						<div class="form-group">
							<label for="place" class="col-sm-2 control-label">收款地点：</label>
							<div class="col-sm-10">
								<input type="text" name="place" id="place" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="source_type" class="col-sm-2 control-label">来源状态：</label>
							<div class="col-sm-10">
								<select name="source_type" id="source_type" class="form-control">
									<option value="0">会前收款</option>
									<option value="1">会中收款</option>
									<option value="2">会后收款</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="comment" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="comment"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var CreateObject = {
			object:{
				method   :$('#method').QuasarSelect({
					name        :'method',
					classStyle  :'form-control',
					data        :'<{:json_encode($meeting)}>',
					idInput     :'selected_method',
					idHidden    :'selected_method_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				type     :$('#type').QuasarSelect({
					name        :'type',
					classStyle  :'form-control',
					data        :'<{:json_encode($meeting)}>',
					idInput     :'selected_type',
					idHidden    :'selected_type_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				meetingName     :$('#meeting_name').QuasarSelect({
					name        :'type',
					classStyle  :'form-control',
					data        :'<{:json_encode($meeting_list)}>',
					idInput     :'selected_meeting_name',
					idHidden    :'selected_meeting_name_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				clientName     :$('#client_name').QuasarSelect({
					name        :'client_name',
					classStyle  :'form-control',
					data        :'<{:json_encode($client_list)}>',
					idInput     :'selected_client_name',
					idHidden    :'selected_client_name_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				payeeName:$('#payee_id').QuasarSelect({
					name        :'payeeName',
					classStyle  :'form-control',
					data        :'<{:json_encode($client_list)}>',
					idInput     :'selected_payeeName',
					idHidden    :'selected_payeeName_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				toast    :$().QuasarToast(),
				loading  :$().QuasarLoading(),
				icheck   :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				})
			}
		};
	</script>
</body>
</html>