<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title><{$meeting.name}> - 会务签到数据</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/mobile_common.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:C('PAGE_SUFFIX')}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/mobile_rem.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mb_wrap">
		<h2><{$meeting.name}></h2>
		<div class="data">
			<div class="data_item">
				<span>报名人数　：<{$statistics.total_count}>人</span>
			</div>
			<div class="data_item">
				<span>报名会所　：<{$statistics.total_unit_count}>所</span>
			</div>
			<div class="data_item">
				<span>签到人数　：<{$statistics.total_sign_count}>人</span>
			</div>
			<div class="data_item">
				<span>签到会所　：<{$statistics.total_unit_sign_count}>所</span>
			</div>
			<div class="data_item">
				<span>未签到人数：<{:($statistics[total_count]-$statistics[total_sign_count])}>人</span>
			</div>
			<div class="data_item">
				<span>未签到会所：<{:($statistics[total_unit_count]-$statistics[total_unit_sign_count])}>所</span>
			</div>
			<if condition="$_GET['no'] neq ''">
				<div class="data_item">
					<b>到场<{:I('get.no', '')}>：<{$statistics.total_unit_sign_no_count}>家 / <{$statistics.total_sign_no_count}>人</b>
				</div>
			</if>
		</div>
		<div class="screen">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon">区域</span>
						<select name="area" class="form-control" id="area" title="">
							<option value="">---全部---</option>
							<volist name="area_list" id="single">
								<if condition="$_GET['area'] eq $single['area']">
									<option value="<{$single.area}>" selected><{$single.area}></option>
									<else/><option value="<{$single.area}>"><{$single.area}></option>
								</if>
							</volist>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon">店面性质</span>
						<select name="no" class="form-control" id="no" title="">
							<option value="">---全部---</option>
							<volist name="no_list" id="single">
								<if condition="$_GET['no'] eq $single['no']">
									<option value="<{$single.no}>" selected><{$single.no}></option>
									<else/><option value="<{$single.no}>"><{$single.no}></option>
								</if>
							</volist>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon">搜索</span>
						<input type="text" class="form-control" placeholder="<{:I('get.keyword', '')}>" id="keyword" name="keyword">
							</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<button class="btn btn-primary form-control" type="submit" id="submit">搜索</button>
					</div>
				</div>
			</form>
		</div>
		<table class="table table-bordered sec_table">
			<tr>
				<th width="40%" data-column="unit">会所名称 (<{:count($report)}>)</th>
				<th width="15%" data-column="area">所在区域</th>
				<th width="15%" data-column="total">报名人数</th>
				<th width="15%" data-column="signed">已签到人数</th>
				<th width="15%" data-column="nosigned">未签到人数</th>
			</tr>
			<volist name="report" id="single">
				<tr>
					<td><{$single.unit}></td>
					<td><{$single.area}></td>
					<td><{$single.total}></td>
					<td style="color: #00A000"><{$single.signed}></td>
					<td style="color: #AA0000"><{$single.nosigned}></td>
				</tr>
			</volist>
		</table>
		<input type="hidden" id="default_order_column" value="<{$default_order_column}>">
		<input type="hidden" id="default_order_method" value="<{$default_order_method}>">
	</div>
</body>
</html>