<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>车辆管理 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<!--<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/custom.css">-->
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/Quasar.js" id="quasar_script" data-url-sys-param="<{:TP_SYS_PARAM}>" data-page-suffix="<{:C('PAGE_SUFFIX')}>"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor_lang/zh-cn.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<div class="main_body">
					<section class="content">
						<header class="c_header">
							<div class="function_list clearfix">
								<if condition="$permission_list['ROLE.CREATE'] eq 1">
									<div class="function_btn bg-warning" data-toggle="modal" data-target="#create_room">
										<i></i>
										<p>添加车辆</p>
									</div>
								</if>
								<if condition="$permission_list['ROLE.DELETE'] eq 1">
									<div class="function_btn bg-danger batch_delete_btn_confirm">
										<i></i>
										<p>批量删除</p>
									</div>
								</if>
							</div>
						</header>
						<div class="repertory clearfix">
							<div class="tabs">
								<ul class="tabsUl clearfix">
									<li class="<notpresent name='_GET[type]'>active</notpresent>" id="filter_btn_all">
										<a href="javascript:void(0)">全部</a>
									</li>
									<li class="<if condition='$_GET[type] eq using'>active</if>" id="filter_btn_using">
										<a href="javascript:void(0)">使用中</a>
									</li>
									<li class="<if condition='$_GET[type] eq not_use'>active</if>" id="filter_btn_not_use">
										<a href="javascript:void(0)">未使用</a>
									</li>
									<li class="<if condition='$_GET[type] eq complete'>active</if>" id="filter_btn_finish">
										<a href="javascript:void(0)">已完成</a>
									</li>
								</ul>
							</div>
							<form action="" method="get">
								<div class="input-group repertory_text">
									<input type="search" name="keyword" class="form-control" placeholder="车辆/拼音简码" value="">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default main_search">搜索</button>
									</span>
								</div>
								<a type="reset" class="btn btn-default main_search" href="<{:U('manage')}>">查看所有</a>
							</form>
						</div>
						<div class="table_wrap">
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>
										<td width="4%" class="all_check">
											<input type="checkbox" class="icheck" placeholder="" value="">
										</td>
										<td width="3%">序号</td>
										<td width="8%">车牌号</td>
										<td width="10%">车辆信息</td>
										<td width="6%">司机</td>
										<td width="5%">已载人数</td>
										<td width="5%">可容纳人数</td>
										<td width="9%">载客类型</td>
										<td width="6%">载客状态/行驶状态</td>
										<td width="6%">记录状态</td>
										<td width="10%">创建时间</td>
										<td width="19%">操作</td>
										<td width="17%">选择</td>
									</tr>
								</thead>
								<tbody>
									<volist name="list" id="single">
										<tr>
											<td class="check_item">
												<input type="checkbox" class="icheck" placeholder="" value="<{$info.id}>">
											</td>
											<td><{$i}></td>
											<td class="plate_number"><{$single.plate_number}></td>
											<td class="information"><{$single.type}> / <{$single.color}> / <{$single.model}></td>
											<td class="driver"><{$single.driver}></td>
											<td class="number"><{$single.number}></td>
											<td class="capacity"><{$single.capacity}></td>
											<td class="client_type"><{$single.client_type}></td>
											<td class="status_o">
												<switch name="single.carry_status">
													<case value="0">空载</case>
													<case value="1">载客</case>
													<case value="2">满载</case>
												</switch>
												/
												<switch name="single.drive_status">
													<case value="0">停止</case>
													<case value="1">行驶中</case>
												</switch>
											</td>
											<td class="status">
												<switch name="single.status">
													<case value="0">禁用</case>
													<case value="1">可用</case>
													<case value="2">删除</case>
												</switch>
											</td>
											<td class="creatime"><{$single.creatime|date='Y-m-d H:i:s',###}></td>
											<td>
												<div class="btn-group" data-id="<{$info.id}>">
													<notempty name="single.meeting">
														<a href="<{:U('Car/assign')}>" class="btn btn-default btn-xs delete_btn">人员分配</a>
													</notempty>
													<button class="btn btn-default btn-xs alter_btn" data-toggle="modal" data-target="#alter_car">修改</button>
													<button class="btn btn-default btn-xs delete_btn" data-toggle="modal" data-target="#delete_car">删除</button>
													<if condition="$single['status'] eq 1">
														<a class="btn btn-danger btn-xs" href="<{:U('RequestHandler/getHandler', ['id'=>$single['id'], 'requestType'=>'get:disable_car'])}>">禁用</a>
													</if>
													<if condition="$single['status'] eq 0">
														<a class="btn btn-success btn-xs" href="<{:U('RequestHandler/getHandler', ['id'=>$single['id'], 'requestType'=>'get:enable_car'])}>">启用</a>
													</if>
												</div>
											</td>
											<td>
												<button data-id="<{$info.id}>" type="button" class="choose_hotel btn-default btn btn-xs">选择</button>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</div>
						<div class="page_wrap">
							<div class="pagination">
								<{$page_show}>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- 添加车辆 -->
	<div class="modal fade" id="create_room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 50%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title">添加车辆</h2>
				</div>
				<form class="form-horizontal" role="form" method="post" action="">
					<input type="hidden" name="requestType" value="create">
					<div class="modal-body">
						<div class="form-group">
							<label for="plate_number" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>车牌号：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="plate_number" id="plate_number">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>车辆类型：</label>
							<div class="col-sm-10">
								<div id="type_create"></div>
							</div>
						</div>
						<div class="form-group">
							<label for="color" class="col-sm-2 control-label">车辆颜色：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="color" id="color">
							</div>
						</div>
						<div class="form-group">
							<label for="model" class="col-sm-2 control-label">车辆品牌型号：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="model" id="model">
							</div>
						</div>
						<div class="form-group">
							<label for="capacity" class="col-sm-2 control-label">可载人数：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="capacity" id="capacity">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">司机：</label>
							<div class="col-sm-10">
								<div id="driver_create"></div>
							</div>
						</div>
						<div class="form-group">
							<label for="client_type" class="col-sm-2 control-label">载客类型：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="client_type" id="client_type">
							</div>
						</div>
						<div class="form-group">
							<label for="comment" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-10">
								<textarea class="form-control comment" name="comment" id="comment"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 修改车辆 -->
	<if condition="$permission_list['ROLE.ALTER'] eq 1">
		<div class="modal fade" id="alter_car" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style=" width: 50%">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title">修改车辆</h2>
					</div>
					<form class="form-horizontal" role="form" method="post" action="">
						<input type="hidden" name="requestType" value="alter"> <input type="hidden" name="id">
						<div class="modal-body">
							<div class="form-group">
								<label for="plate_number_a" class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>车牌号：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="plate_number" id="plate_number_a">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><b style="vertical-align: middle;color: red;">*</b>车辆类型：</label>
								<div class="col-sm-10">
									<div id="type_alter"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="color_a" class="col-sm-2 control-label">车辆颜色：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="color" id="color_a">
								</div>
							</div>
							<div class="form-group">
								<label for="model_a" class="col-sm-2 control-label">车辆品牌型号：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="model" id="model_a">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">司机：</label>
								<div class="col-sm-10">
									<div id="driver_alter"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="capacity_a" class="col-sm-2 control-label">可载人数：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="capacity" id="capacity_a">
								</div>
							</div>
							<div class="form-group">
								<label for="client_type_a" class="col-sm-2 control-label">载客类型：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="client_type" id="client_type_a">
								</div>
							</div>
							<div class="form-group">
								<label for="comment_a" class="col-sm-2 control-label">备注：</label>
								<div class="col-sm-10">
									<textarea class="form-control comment" name="comment" id="comment_a"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">确认</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</if>
	<!-- 删除车辆 -->
	<if condition="$permission_list['ROLE.DELETE'] eq 1">
		<div class="modal fade" id="delete_car" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title">删除记录</h2>
					</div>
					<form class="form-horizontal" role="form" method="post" action="">
						<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
						<div class="modal-body">
							是否删除？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">确认</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</if>
	<!-- 批量删除 -->
	<if condition="$permission_list['ROLE.DELETE'] eq 1">
		<div class="modal fade" id="batch_delete_car" tabindex="3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title">批量删除角色</h2>
					</div>
					<form class="form-horizontal" role="form" method="post" action="">
						<input type="hidden" name="requestType" value="delete"> <input type="hidden" name="id" value="">
						<div class="modal-body">
							是否删除已选<span class="sAmount"></span>项？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary batch_delete_btn">确认删除</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</if>
	<script>
		var ManageObject = {
			object:{
				//　会议关联
				meetingSelectCreate:$('#meeting_name_create').QuasarSelect({
					name         :'mid',
					classStyle   :'form-control',
					data         :'<{:json_encode($meeting)}>',
					idInput      :'selected_meeting_name_create',
					idHidden     :'selected_meeting_name_create_form',
					placeholder  :'',
					hasEmptyItem :true,
					emptyItemHtml:'--空--'
				}),
				meetingSelectAlter :$('#meeting_name_alter').QuasarSelect({
					name         :'mid',
					classStyle   :'form-control',
					data         :'<{:json_encode($meeting)}>',
					idInput      :'selected_meeting_name_alter',
					idHidden     :'selected_meeting_name_alter_form',
					placeholder  :'',
					hasEmptyItem :true,
					emptyItemHtml:'--空--'
				}),
				driverSelectCreate :$('#driver_create').QuasarSelect({
					name        :'driver',
					classStyle  :'form-control',
					data        :'<{:json_encode($employee)}>',
					idInput     :'selected_employee_name_create',
					idHidden    :'selected_employee_name_create_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				driverSelectAlter  :$('#driver_alter').QuasarSelect({
					name        :'driver',
					classStyle  :'form-control',
					data        :'<{:json_encode($employee)}>',
					idInput     :'selected_employee_name_alter',
					idHidden    :'selected_employee_name_alter_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				typeSelectCreate   :$('#type_create').QuasarSelect({
					name        :'type',
					classStyle  :'form-control',
					data        :'<{:json_encode($type)}>',
					idInput     :'selected_type_create',
					idHidden    :'selected_type_create_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				typeSelectAlter    :$('#type_alter').QuasarSelect({
					name        :'type',
					classStyle  :'form-control',
					data        :'<{:json_encode($type)}>',
					idInput     :'selected_type_alter',
					idHidden    :'selected_type_alter_form',
					placeholder :'',
					hasEmptyItem:false
				}),
				toast              :$().QuasarToast(),
				icheck             :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				loading            :$().QuasarLoading()
			}
		}
	</script>
</body>
</html>