<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>胸卡列表 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<!--<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/custom.css">-->
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/jquery-ui-base.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/miniColors/jquery.minicolors.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-ui.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/cityselect/jquery.cityselect.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/miniColors/jquery.minicolors.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="Public/innerMenu"/>
			<div class="mt_wrapper">
				<include file="Public/innerHeader"/>
				<if condition="$permission_list['BADGE.VIEW'] eq 1">
					<div class="main_body">
						<section class="content badge_content">
							<header>
								<div class="nav_tab clearfix">
									<div class="nav_tab_li">
										<a href="<{:U('Badge/manage', ['mid'=>I('get.mid', 0, 'int')])}>">自定义胸卡模板</a>
									</div>
									<div class="nav_tab_li active">
										<a href="<{:U('Badge/previewList', ['mid'=>I('get.mid', 0, 'int')])}>">系统胸卡模板列表</a>
									</div>
									<div class="nav_tab_li">
										<a href="<{:U('Badge/preview', ['mid'=>I('get.mid', 0, 'int')])}>">已选择胸卡</a>
									</div>
								</div>
							</header>
							<!--系统模板	-->
							<div class="badge_box system_tem tab_c">
								<form role="form" class="form-horizontal" method="post" action="">
									<input type="hidden" name="requestType" value="assign_badge_for_meeting">
									<div class="system_tem_list">
										<div class="w_box">
											<ul class="clearfix system_tem_ul">
												<volist name="list" id='single'>
													<li data-id="<{$single.id}>" class="<if condition='$cur_bid eq $single[id]'>active</if>">
														<div class="layer"></div>
														<i class="select_icon glyphicon glyphicon-ok"></i>
														<div class="system_ontent">
															<{$single.data}>
														</div>
														<p class="title"><{$single.name}></p>
													</li>
												</volist>
											</ul>
										</div>
									</div>
									<input type="hidden" name="id">
									<if condition="$permission_list['BADGE.SELECT'] eq 1">
										<div class="form_li text-center">
											<button type="submit" id="choose_system_badge" class="btn btn-primary">确认</button>
										</div>
									</if>
								</form>
							</div>
						</section>
					</div>
				</if>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				meetingNamesSelect:$('#meeting_name_s').QuasarSelect({
					name        :'mid',
					classStyle  :'form-control',
					idInput     :'selected_develop_consultant',
					idHidden    :'selected_develop_consultant_form',
					data        :'<{:json_encode($meeting_list)}>',
					placeholder :'',
					hasEmptyItem:false
				}),
				loading           :$().QuasarLoading(),
				toast             :$().QuasarToast(),
				icheck            :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-blue',
					radioClass   :'iradio_square-blue'
				})
			}
		};
	</script>
</body>
</html>