<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>会议模块 - 会议系统</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/icheck-1.x/skins/all.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/switch/bootstrap-switch.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jedate/jedate.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/icheck.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/icheck-1.x/custom.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/switch/js/bootstrap-switch.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/xheditor-1.2.2/xheditor_lang/zh-cn.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mt_container">
		<div class="mt_content">
			<include file="./Project/CMS/View/Public/outerMenu.html"/>
			<div class="mt_wrapper">
				<include file="./Project/CMS/View/Public/outerHeader.html"/>
				<div class="main_body">
					<section class="content">
						<div class="table_wrap">
							<div class="nav_tab clearfix">
								<div class="nav_tab_li active">
									<a href="javascript:void(0)">修改会议</a>
								</div>
							</div>
						</div>
						<form class="form-horizontal" role="form" method="post" action="" id="form">
							<div class="modal-body">
								<volist name="column_list" id="single">
									<div class="form-group <eq name='single.view' value='0'>hide</eq>">
										<switch name="single.code">
											<case value="ROYALWISSD-MEETING-PLACE">
												<if condition="$single['must'] eq 1">
													<label for="place" class="col-sm-1 control-label color-red"><b style="vertical-align: middle;">*</b><{$single.name}>：</label>
													<else/>
													<label for="place" class="col-sm-1 control-label"><{$single.name}>：</label>
												</if>
												<div class="col-sm-11">
													<div class="input-group address_map">
														<input type="text" class="form-control <eq name='single.must' value='1'>necessary</eq>" name="place" id="place" value="<{$meeting.place}>">
														<span class="input-group-addon glyphicon glyphicon-send get_map"></span>
													</div>
												</div>
											</case>
											<case value="ROYALWISSD-MEETING-BRIEF">
												<if condition="$single['must'] eq 1">
													<label for="brief" class="col-sm-1 control-label color-red"><b style="vertical-align: middle;">*</b><{$single.name}>：</label>
													<else/>
													<label for="brief" class="col-sm-1 control-label"><{$single.name}>：</label>
												</if>
												<div class="col-sm-11">
													<textarea class="form-control brief xheditor <eq name='single.must' value='1'>necessary</eq>" runat="server" name="brief" id="brief" style="min-height: 200px" value="<{$meeting.brief}>"><{$meeting.brief}></textarea>
												</div>
											</case>
											<case value="ROYALWISSD-MEETING-LOGO">
												<if condition="$single['must'] eq 1">
													<label for="updateBackground" class="col-sm-1 control-label color-red"><b style="vertical-align: middle;">*</b>LOGO图片地址：</label>
													<else/>
													<label for="updateBackground" class="col-sm-1 control-label">LOGO图片地址：</label>
												</if>
												<div class="col-sm-10">
													<div class="logo_wp">
														<img src="<{$meeting.logo}>">
														<div class="logo_not <notempty name='meeting.logo'>hide</notempty>">
															<span class="glyphicon glyphicon-picture"></span>
															<p>请上传尺寸为1080px*640px的.png、.jpg、.gif图片 图片大小小于1M</p>
														</div>
													</div>
													<div class="bg_up_file">
														<input type="hidden" name="logo" value="<{$meeting.logo}>">
														<input type="file" class="filePrew <eq name='single.must' value='1'>necessary</eq>" name="logo_upload" id="updateBackground">
														<span class="text"><span class="glyphicon glyphicon-upload" style="margin-right: 5px;"></span><span>上传图片</span></span>
														<button type="button" id="submit_logo" onclick="upLoadLogo()"></button>
													</div>
												</div>
											</case>
											<case value="ROYALWISSD-MEETING-COMMENT">
												<if condition="$single['must'] eq 1">
													<label for="comment" class="col-sm-1 control-label color-red"><b style="vertical-align: middle;">*</b><{$single.name}>：</label>
													<else/>
													<label for="comment" class="col-sm-1 control-label"><{$single.name}>：</label>
												</if>
												<div class="col-sm-11">
													<textarea class="form-control <eq name='single.must' value='1'>necessary</eq>" name="comment" id="comment" value="<{$meeting.comment}>"><{$meeting.comment}></textarea>
												</div>
											</case>
											<default/>
											<if condition="$single['must'] eq 1">
												<label class="col-sm-1 control-label color-red"><b style="vertical-align: middle;">*</b><{$single.name}>：</label>
												<else/>
												<label class="col-sm-1 control-label"><{$single.name}>：</label>
											</if>
											<div class="col-sm-11">
												<input type="text" class="form-control <eq name='single.must' value='1'>necessary</eq>" name="<{$single.form}>" placeholder="" id="<{$single.form}>" value="<{$meeting[$single['form']]}>">
											</div>
										</switch>
									</div>
								</volist>
							</div>
							<input type="hidden" name="requestType" value="modify">
							<div class="modal-footer text_center">
								<button type="button" class="btn btn-primary btn-save">保存</button>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
	<script>
		var ManageObject = {
			object:{
				icheck              :$('.icheck').iCheck({
					checkboxClass:'icheckbox_square-green',
					radioClass   :'iradio_square-green'
				}),
				meetingStartTime    :jeDate({
					dateCell:"#start_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, //isClear:false,// 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				meetingEndTime      :jeDate({
					dateCell:"#end_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, //isClear:false,// 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				meetingSignStartTime:jeDate({
					dateCell:"#sign_start_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, //isClear:false,// 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				meetingSignEndTime  :jeDate({
					dateCell:"#sign_end_time",
					format  :"YYYY-MM-DD hh:mm:ss",
					isTime  :true, //isClear:false,// 时分秒--true
					/*	minDate :"2015-10-19 00:00:00",
					 maxDate :"2016-11-8 00:00:00"*/
				}),
				toast               :$().QuasarToast(),
				loading             :$().QuasarLoading()
			}
		};
	</script>
</body>
</html>