<!--会议系统头部  公用-->
<div class="mt_topbar clearfix">
	<ul class="nav_info clearfix">
		<li class="name">
			<i class="glyphicon glyphicon-user"></i> <span><{$curname}></span>
			<div class="hidden_dropDown hide">
				<div class="dropDown_item">
					<a href="<{:U('Employee/personalInfor')}>" target="_blank">个人信息</a>
				</div>
				<div class="dropDown_item">
					<a href="<{:U('Employee/alterPass')}>">修改密码</a>
				</div>
				<div class="dropDown_item">
					<a href="<{:U('Employee/logout')}>">注销</a>
				</div>
			</div>
		</li>
		<!--<li class="logout">
			<a href="<{:U('Employee/logout')}>"> <i class="glyphicon glyphicon-log-out"></i> <span>注销</span> </a>
		</li>-->
	</ul>
</div>