<!--会议系统左侧  导航栏 公用-->
<div class="mt_navbar">
	<div class="header">
		<div class="logo">
			<img src="<{$Think.COMMON_IMAGE_PATH}>/logo.png" alt="">
		</div>
		<a href="javascript:void(0)">瑞辉会议</a>
	</div>
	<div class="sidenav">
		<ul class="sidenav_list" id="side_menu">
			<if condition="$permission_list['MEETING.BRIEF']">
				<li class="side_item <if condition='$cv_name eq Meeting_index'>active</if>">
					<a href="<{:U('Meeting/index', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-th-large"></i> <span class="nav-label">会议中心</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['MEETING.VIEW'] eq 1">
				<li class="side_item <if condition='$cv_name eq Meeting_alter'>active</if>">
					<a href="<{:U('Meeting/alter', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-list-alt"></i> <span class="nav-label">会议详情</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['MESSAGE.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq Message'>active</if>">
					<a href="<{:U('Message/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-comment"></i> <span class="nav-label">消息管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
					<ul class="nav-second-level">
						<if condition="$permission_list['MESSAGE.CREATE'] eq 1">
							<li>
								<a href="<{:U('Message/create', ['mid'=>I('get.mid', 0, 'int')])}>">新建消息模板</a>
							</li>
						</if>
					</ul>
				</li>
			</if>
			<if condition="$permission_list['BADGE.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq Badge'>active</if>">
					<a href="<{:U('Badge/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-bookmark"></i> <span class="nav-label">胸卡设计</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['COUPON.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq Coupon'>active</if>">
					<a href="<{:U('Coupon/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-tags"></i> <span class="nav-label">项目管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['HOTEL.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq Hotel or $c_name eq Room'>active</if>">
					<a href="<{:U('Hotel/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-home"></i> <span class="nav-label">酒店管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['CAR.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq Car'>active</if>">
					<a href="<{:U('Car/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-plane"></i> <span class="nav-label">车辆管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['MEETING.CONFIGURE'] eq 1">
				<li class="side_item <if condition='$cv_name eq Meeting_configure'>active</if>">
					<a href="<{:U('Meeting/configure', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-cog"></i> <span class="nav-label">会议配置</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['CLIENT.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq Client'>active</if>">
					<a href="<{:U('Client/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-user"></i> <span class="nav-label">参会人员</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
					<ul class="nav-second-level">
						<if condition="$permission_list['CLIENT.SIGN']">
							<li>
								<a href="<{:U('Client/sign', ['mid'=>I('get.mid', 0, 'int')])}>">签到</a>
							</li>
						</if>
					</ul>
				</li>
			</if>
			<if condition="$permission_list['SIGN_PLACE.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq SignPlace'>active</if>">
					<a href="<{:U('SignPlace/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-star"></i> <span class="nav-label">签到点管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['GROUP.VIEW']">
				<li class="side_item <if condition='$c_name eq Grouping'>active</if>">
					<a href="<{:U('Grouping/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-compressed"></i> <span class="nav-label">分组管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['RECEIVABLES.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq Receivables'>active</if>">
					<a href="<{:U('Receivables/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-usd"></i> <span class="nav-label">收款管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
					<ul class="nav-second-level">
						<if condition="$permission_list['RECEIVABLES.CREATE'] eq 1">
							<li>
								<a href="<{:U('Receivables/create', ['mid'=>I('get.mid', 0, 'int')])}>">添加收款</a>
							</li>
						</if>
						<if condition="$permission_list['PAY_METHOD.VIEW'] eq 1">
							<li>
								<a href="<{:U('Receivables/payMethod', ['mid'=>I('get.mid', 0, 'int')])}>">支付方式</a>
							</li>
						</if>
						<if condition="$permission_list['RECEIVABLES_TYPE.VIEW'] eq 1">
							<li>
								<a href="<{:U('Receivables/receivablesType', ['mid'=>I('get.mid', 0, 'int')])}>">收款类型</a>
							</li>
						</if>
						<if condition="$permission_list['POS_MACHINE.VIEW'] eq 1">
							<li>
								<a href="<{:U('Receivables/posMachine', ['mid'=>I('get.mid', 0, 'int')])}>">POS机</a>
							</li>
						</if>
					</ul>
				</li>
			</if>
			<!--<if condition="$permission_list['DINING_TABLE.VIEW'] eq 1">-->
				<!--<li class="side_item <if condition='$c_name eq DiningTable'>active</if>">-->
				<!--<a href="<{:U('DiningTable/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">-->
				<!--<i class="icon_nav glyphicon glyphicon-glass"></i> <span class="nav-label">餐桌管理</span>-->
				<!--<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>-->
				<!--</li>-->
			<!--</if>-->
			<if condition="$permission_list['REPORT.VIEW'] eq 1">
				<li class="side_item <if condition='$c_name eq Report'>active</if>">
					<a href="<{:U('Report/manage', ['mid'=>I('get.mid', 0, 'int')])}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-list-alt"></i> <span class="nav-label">报表管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span></a>
				</li>
			</if>
			<if condition="$permission_list['RECYCLE.VIEW'] eq 1">
				<li class="side_item cls <if condition='$c_name eq Recycle'>active</if>">
					<div class="side-item-link no_link">
						<i class="icon_nav glyphicon glyphicon-trash"></i> <span class="nav-label">回收站管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span>
					</div>
					<ul class="nav-second-level">
						<if condition="$permission_list['RECYCLE.VIEW-CLIENT'] eq 1">
							<li>
								<a href="<{:U('Recycle/client',['mid'=>I('get.mid',0,'int')])}>">客户列表</a>
							</li>
						</if>
						<if condition="$permission_list['RECYCLE.VIEW-EMPLOYEE'] eq 1">
							<li>
								<a href="<{:U('Recycle/employee',['mid'=>I('get.mid',0,'int')])}>">员工列表</a>
							</li>
						</if>
						<if condition="$permission_list['RECYCLE.VIEW-ROLE'] eq 1">
							<li>
								<a href="<{:U('Recycle/role',['mid'=>I('get.mid',0,'int')])}>">角色列表</a>
							</li>
						</if>
						<if condition="$permission_list['RECYCLE.VIEW-MEETING'] eq 1">
							<li>
								<a href="<{:U('Recycle/meeting',['mid'=>I('get.mid',0,'int')])}>">会议列表</a>
							</li>

						</if>
						<if condition="$permission_list['RECYCLE.VIEW-COUPON'] eq 1">
							<li>
								<a href="<{:U('Recycle/coupon',['mid'=>I('get.mid',0,'int')])}>">代金券</a>
							</li>
						</if>
						<if condition="$permission_list['RECYCLE.VIEW-COUPON_ITEM'] eq 1">
							<li>
								<a href="<{:U('Recycle/coupon_item',['mid'=>I('get.mid',0,'int')])}>">代金券码</a>
							</li>
						</if>
						<if condition="$permission_list['RECYCLE.VIEW-MESSAGE'] eq 1">
							<li>
								<a href="<{:U('Recycle/message',['mid'=>I('get.mid',0,'int')])}>">消息管理</a>
							</li>
						</if>
					</ul>
				</li>
			</if>
		</ul>
	</div>
	<div class="message_box">
		<a href="javascript:void(0)"> <span class="icon_nav glyphicon glyphicon-envelope"></span>
			<span style="margin-left: 15px">站内信</span>
			<if condition="count($system_message['notRead']) gt 0">
				<span id="message_count" style="min-width: 20px; min-height: 20px; line-height: 20px; border-radius: 50%; background: red; display: inline-block; font-size: 10px; text-align: center"><{:count($system_message['notRead'])}></span>
			</if>
		</a>
	</div>
	<div class="message_modal hide">
		<div class="mes_title">站内信 <span class="mes_close">×</span></div>
		<div class="mes_list">
			<volist name="system_message.notRead" id="single">
				<!--suppress XmlDuplicatedId -->
				<div class="mes_item" id="system_message_<{$single.id}>" data-id="<{$single.id}>" onclick="readSystemMessage('<{$single.id}>')">
					<{$i}>、<span class="content bold"><{$single.message}></span> <span class="sign">未读</span>
					<button onclick="deleteSystemMessage('<{$single.id}>')" class="btn btn-default btn-xs del_btn" style="display: none">删除</button>
				</div>
			</volist>
			<volist name="system_message.read" id="single">
				<!--suppress XmlDuplicatedId -->
				<div class="mes_item" id="system_message_<{$single.id}>" data-id="<{$single.id}>">
					<{$i}>、<span class="content"><{$single.message}></span> <span class="sign">已读</span>
					<button onclick="deleteSystemMessage('<{$single.id}>')" class="btn btn-default btn-xs">删除</button>
				</div>
			</volist>
		</div>
	</div>
	<script>
		function readSystemMessage(id){
			var url = "<{:U('RequestHandler/getHandler', ['requestType'=>'read_system_message', 'id'=>'__ID__'])}>";
			url     = url.replace('__ID__', id);
			Common.ajax({
				url     :url,
				callback:function(r){
					if(r.status){
						var $message           = $('#system_message_'+id);
						var $message_count_obj = $('#message_count');
						var count              = $message_count_obj.text();
						count--;
						if(count<=0) $message_count_obj.remove();
						else $message_count_obj.text(count);
						$message.find('span.sign').text('已读');
						$message.find('span.bold').removeClass('bold');
						$message.find('button.del_btn').show();
						$message.off('click').attr('onclick', null);
					}
				}
			})
		}
		function deleteSystemMessage(id){
			var url = "<{:U('RequestHandler/getHandler', ['requestType'=>'delete_system_message', 'id'=>'__ID__'])}>";
			url     = url.replace('__ID__', id);
			Common.ajax({
				url     :url,
				callback:function(r){
					if(r.status){
						var $message_count_obj = $('#message_count');
						var count              = $message_count_obj.text();
						count--;
						if(count<=0) $message_count_obj.remove();
						else $message_count_obj.text(count);
						$('#system_message_'+id).remove();
					}
				}
			})
		}
	</script>
</div>