<!--会议系统左侧  导航栏 公用-->
<div class="mt_navbar">
	<div class="header">
		<div class="logo">
			<img src="<{$Think.COMMON_IMAGE_PATH}>/logo.png" alt="">
		</div>
		<a href="javascript:void(0)">吉美会议</a>
	</div>
	<div class="sidenav">
		<ul class="sidenav_list" id="side_menu">
			<if condition="$permission_list['EMPLOYEE.VIEW'] eq 1">
				<li class="side_item <php>if('Employee'==$c_name) echo 'active';</php>">
					<a href="<{:U('Employee/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-user"></i> <span class="nav-label">员工管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
					<ul class="nav-second-level">
						<if condition="$permission_list['EMPLOYEE.CREATE'] eq 1">
							<li>
								<a href="<{:U('Employee/create')}>">新建员工</a>
							</li>
						</if>
					</ul>
				</li>
			</if>
			<if condition="$permission_list['ROLE.VIEW'] eq 1">
				<li class="side_item <php>if('Role'==$c_name) echo 'active';</php>">
					<a href="<{:U('Role/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon glyphicon-star"></i> <span class="nav-label">角色管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['MEETING.VIEW'] eq 1">
				<li class="side_item <php>if('Meeting'==$c_name or 'SignPlace'==$c_name or 'Client'==$c_name) echo 'active';</php>">
					<a href="<{:U('Meeting/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-th"></i> <span class="nav-label">会议管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
					<ul class="nav-second-level">
						<if condition="$permission_list['MEETING.CREATE'] eq 1">
							<li>
								<a href="<{:U('Meeting/create')}>">创建会议</a>
							</li>
						</if>
					</ul>
				</li>
			</if>
			<if condition="$permission_list['COUPON.VIEW'] eq 1">
				<li class="side_item <php>if('Coupon'==$c_name) echo 'active';</php>">
					<a href="<{:U('Coupon/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-tags"></i> <span class="nav-label">券管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['MESSAGE.VIEW'] eq 1">
				<li class="side_item <php>if('Message'==$c_name) echo 'active';</php>">
					<a href="<{:U('Message/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-comment"></i> <span class="nav-label">消息管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['BADGE.VIEW'] eq 1">
				<li class="side_item <php>if('Badge'==$c_name) echo 'active';</php>">
					<a href="<{:U('Badge/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-bookmark"></i> <span class="nav-label">胸卡设计</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['ROOM.VIEW'] eq 1">
				<li class="side_item <php>if('Room'==$c_name) echo 'active';</php>">
					<a href="<{:U('Room/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-home"></i> <span class="nav-label">房间管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['CAR.VIEW'] eq 1">
				<li class="side_item <php>if('Car'==$c_name) echo 'active';</php>">
					<a href="<{:U('Car/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-plane"></i> <span class="nav-label">车辆管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="$permission_list['DINING_TABLE.VIEW'] eq 1">
				<li class="side_item <php>if('DiningTable'==$c_name) echo 'active';</php>">
					<a href="<{:U('DiningTable/manage')}>" class="side-item-link">
						<i class="icon_nav glyphicon glyphicon-glass"></i> <span class="nav-label">餐桌管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span> </a>
				</li>
			</if>
			<if condition="($permission_list['RECYCLE.VIEW-CLIENT'] eq 1) OR ($permission_list['RECYCLE.VIEW-EMPLOYEE'] eq 1) OR ($permission_list['RECYCLE.VIEW-ROLE'] eq 1) OR ($permission_list['RECYCLE.VIEW-MEETING'] eq 1)">
				<li class="side_item cls <php>if('Recycle'==$c_name) echo 'active';</php>">
					<div class="side-item-link no_link">
						<i class="icon_nav glyphicon glyphicon-trash"></i> <span class="nav-label">回收站管理</span>
						<span class="arrow glyphicon glyphicon-chevron-left"></span>
					</div>
					<ul class="nav-second-level">
						<if condition="$permission_list['RECYCLE.VIEW-CLIENT'] eq 1">
							<li>
								<a href="<{:U('Recycle/client')}>">客户列表</a>
							</li>
						</if>
						<if condition="$permission_list['RECYCLE.VIEW-EMPLOYEE'] eq 1">
							<li>
								<a href="<{:U('Recycle/employee')}>">员工列表</a>
							</li>
						</if>
						<if condition="$permission_list['RECYCLE.VIEW-ROLE'] eq 1">
							<li>
								<a href="<{:U('Recycle/role')}>">角色列表</a>
							</li>
						</if>
						<if condition="$permission_list['RECYCLE.VIEW-MEETING'] eq 1">
							<li>
								<a href="<{:U('Recycle/meeting')}>">会议列表</a>
							</li>

						</if>
						<li>
							<a href="<{:U('Recycle/coupon')}>">代金券</a>
						</li>
						<li>
							<a href="<{:U('Recycle/coupon_item')}>">代金券码</a>
						</li>
						<li>
							<a href="<{:U('Recycle/message')}>">消息管理</a>
						</li>
					</ul>
				</li>
			</if>
		</ul>
	</div>
</div>