<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>个人中心</title>
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/bootstrap/datetimepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE_PATH}>/mobile_common.css">
	<link rel="stylesheet" href="<{$Think.COMMON_STYLE}>">
	<link rel="stylesheet" href="<{$Think.SELF_STYLE}>">
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/jquery-3.1.0.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/bootstrap/bootstrap.min.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Select/jquery.quasar.select.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Toast/jquery.quasar.toast.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/jQuery/Quasar.Loading/jquery.quasar.loading.js"></script>
	<script src="<{$Think.COMMON_SCRIPT_PATH}>/mobile_rem.js"></script>
	<script src="<{$Think.COMMON_SCRIPT}>"></script>
	<script src="<{$Think.SELF_SCRIPT}>"></script>
</head>
<body>
	<div id="mb_wrap">
		<div class="mb_body">
			<div class="topbar">
				<div class="topbarBg"><img src="<{$Think.COMMON_IMAGE_PATH}>/topbarBg.jpg" alt=""></div>
				<span class="photo"><img src="<{$info.avatar}>"></span>
			</div>
			<div class="content">
				<div class="myInfor">
					<div class="li">
						<span class="lab">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</span> <span><{$info.name}></span>
					</div>
					<div class="li">
						<span class="lab">性&nbsp;&nbsp;&nbsp;&nbsp;别：</span>
						<span>
							<switch name="info.gender">
								<case value="0">未指定</case>
								<case value="1">男</case>
								<case value="2">女</case>
							</switch>
						</span>
					</div>
					<div class="li">
						<span class="lab">会&nbsp;&nbsp;&nbsp;&nbsp;所：</span> <span><{$info.club}></span>
					</div>
					<div class="li">
						<span class="lab">手机号：</span> <span><{$info.mobile}></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="mb_footer">
		<if condition="$list.review_status neq 1">
			<a href="javascript:void(0)" class="ft_a tri_c">
				<form role="form" method="post" action="">
					<input type="hidden" name="requestType" value="examine"><input type="hidden" name="id">
					<i class="glyphicon glyphicon-unchecked"></i> <span>审核</span>
				</form>
			</a>
			<else/>
			<a href="javascript:void(0)" class="ft_a">

				<input type="hidden" name="requestType" value="examine"><input type="hidden" name="id">
				<i class="glyphicon glyphicon-unchecked"></i> <span>已审核</span>

			</a>
		</if>
		<if condition="$list.review_status eq 1 "><a href="javascript:void(0)" class="ft_a tri_c">

			<input type="hidden" name="requestType" value="examine"><input type="hidden" name="id">
			<i class="glyphicon glyphicon-unchecked"></i> <span>已签到</span>

		</a>
			<else/>
			<a href="javascript:void(0)" class="ft_a">
				<form role="form" method="post" action="">
					<input type="hidden" name="requestType" value="sign"><input type="hidden" name="id">
					<i class="glyphicon glyphicon-unchecked"></i> <span>签到</span>
				</form>
			</a>
		</if>
	</div>
</body>
</html>